﻿@model Core.Viewmodels.Admin.SocialWebSiteVM
@using (Html.BeginForm("Create", "SocialWebSite", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">اضاف حساب جديده</h4>
            </div>

            <input type="text" id="ID" name="ID" value="@Model.ID"hidden />
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">نوع الاكونت  </label>
                            <select class="form-control" id="type" name="type" required >
                                <option value="">يرجي تحديد الموقع</option>
                                <option value="FaceBook">FaceBook</option>
                                <option value="Twitter">Twitter</option>
                                <option value="Instegram">Instegram</option>
                                <option value="Linkedin">Linkedin</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">رابط الاكونت  </label>
                            <input class="form-control" type="text" required name="Link" id="Link" placeholder="رابط الاكونت  "  value="@Model.Link"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">العرض  </label>
                            <select class="form-control" id="Isactive" name="Isactive" required>
                                <option value="true">يعرض</option>
                                <option value="false">لا يعرض</option>
                            </select>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الاكونت</button>
            </div>

        </div>
    </div>



}