﻿<footer>
    <div class="topFooter">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <img class="img-fluid" style="" src="~/imgs/logo.jpg" alt="شعار">
                    <p class="aboutus">
                        @*هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء.*@
                    </p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>
                        تواصل معنا
                    </h3>
                    <ul class="list-unstyled p-0">
                        <li>
                            <i class="fa fa-phone"></i>
                            0148310324
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            0148310324
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            info@dalelalmmoalem.com.com
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            المدينة المنورة- طريق الهجرة -مخطط الامير نايف -ص .ب 1970
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h3>
                        اشترك في القائمة البريدية
                    </h3>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control" type="search" placeholder="اكتب بريدك الالكتروني" aria-label="Search">
                        <button class="btn my-2 my-sm-0" type="submit">اشترك</button>
                    </form>
                    <h3>
                        تابعنا على
                    </h3>
                    <ul class="list-inline p-0">
                        <li class="list-inline-item">
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottomFooter">
        <div class="container">
            <p class="text-center m-0">
                جميع الحقوق محفوطة لموقع دليل المعالم
                &copy;
                2018
            </p>
        </div>
    </div>
</footer>
