﻿@model Dictionary<string, string>
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="#">
                    الرئيسية
                </a>
            </li>
            @foreach (var itm in Model)
            {
                <li class="breadcrumb-item">
                    <a href="@itm.Key">
                        @itm.Value
                    </a>
                </li>
            }
        </ol>
    </nav>
</section>