﻿<header class="fixed-top">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
                <img style="height:50px; width:50px;" src="~/imgs/logo.jpg" alt="شعار" />
               <p style="font-size:10px;">دليل المعالم</p>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" id="ulHeader">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            الصفحه الرئسية
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AboutUs","Home")">
                            عن معالم
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","LandMark")">
                            المعالم السياحية
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Donator")">
                            المعالم التجارية
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Events")">
                            الفاعليات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","News", new {area=""})">
                            اخر أخبار معالم
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AboutCard","Home")">
                            عن البطاقه
                        </a>
                    </li>

                    @*<li class="nav-item now">
                        <a class="nav-link" href="@Url.Action("RegisterAsDonator","Account")">
                            طلب انضمام كمعلم
                        </a>
                    </li>*@
                    @*<li class="nav-item now">
                        <a class="nav-link" href="@Url.Action("ServeCard","Home")">
                            إحجز بطاقتك
                        </a>
                    </li>*@

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ContactUs","Home" )">
                            اتصل بنا
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="dropdown-item" href="@Url.Action("Login","Account")">
                                    تسجيل دخول
                                </a>
                                <a class="dropdown-item" href="@Url.Action("Register","Account")">
                                    إنشاء حساب
                                </a>
                            }
                            else
                            {
                                <a class="dropdown-item" href="">
                                    تغيير كلمة المرور
                                </a>
                                <span class="dropdown-item">
                                    @using (Html.BeginForm("LogOff", "Account"))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input class="dropdown-item" type="submit" value="تسجيل الخروج" />
                                    }
                                </span>
                            }
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownForm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-search"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownForm">
                            <form class="form-inline m-2">
                                <input class="form-control" type="search" placeholder="بحث في الموقع ..." aria-label="Search">
                                <button class="btn my-2 my-sm-0" type="submit">ابحث</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>