﻿<!DOCTYPE html>
<html>
<head>
    <title>معالم </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">*@
    <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/slick/slick.css">
    <link rel="stylesheet" href="~/assets/slick/slick-theme.css">
    <link href="~/css/preloader.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css">


    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <style>
        .field-validation-valid, .validation-summary-errors {
            color: red;
        }
    </style>

</head>
<body>
    <!-- HEADER -->

    @Html.Partial("~/Views/Shared/_Header.cshtml")

    <div class="divLoader"></div>

    <!-- Sosial Media -->
    @*@Html.Partial("~/Views/Shared/_SocialMedia.cshtml")*@
    @Html.Action("SocialMedia","Home")

    <!-- Body -->
    @RenderBody()

    <!-- FOOTER -->
    @Html.Partial("~/Views/Shared/_Footer.cshtml")

    <script src="~/assets/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/slick/slick.min.js"></script>
    <script src="~/assets/countTo/jquery.countTo.js"></script>
    <script src="~/Scripts/jquery.preloader.min.js"></script>

    <script src="js/main.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script>
        $(document).ajaxStart(function () {
            $(".divLoader").preloader();
        });
        $(document).ajaxStop(function () {
            $(".divLoader").preloader('remove');
        });
        $(document).ready(function () {
            var ulHeader = $("#ulHeader li");
            var urlString = window.location.href.toLowerCase();
            var chk = urlString.includes("/");
            if (chk) {
                var l = urlString.substring(urlString.lastIndexOf('/') + 1);
                if (l == '') {
                    $(ulHeader[0]).addClass("active").siblings().removeClass("active");
                }
                else if (urlString.includes("AboutUs".toLowerCase())) {
                    $(ulHeader[1]).addClass("active").siblings().removeClass("active");
                }
                else if (urlString.includes("Donators".toLowerCase())) {
                    $(ulHeader[2]).addClass("active").siblings().removeClass("active");
                }
                else if (urlString.includes("LandMarks".toLowerCase())) {
                    $(ulHeader[3]).addClass("active").siblings().removeClass("active");
                }
                else if (urlString.includes("News".toLowerCase())) {
                    $(ulHeader[4]).addClass("active").siblings().removeClass("active");
                }
                else if (urlString.includes("Events".toLowerCase())) {
                    $(ulHeader[5]).addClass("active").siblings().removeClass("active");
                }
                else if (urlString.includes("RegisterAsDonator".toLowerCase())) {
                    $(ulHeader[6]).addClass("active").siblings().removeClass("active");
                }
                else if (urlString.includes("servecard".toLowerCase())) {
                    $(ulHeader[7]).addClass("active").siblings().removeClass("active");
                }
                else if (urlString.includes("ContactUs".toLowerCase())) {
                    $(ulHeader[8]).addClass("active").siblings().removeClass("active");
                } else {
                    $(ulHeader[0]).addClass("active").siblings().removeClass("active");
                }
            }
        });
    </script>
</body>
</html>