﻿﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    <link rel="shortcut icon" href="~/assets/images/favicon_1.ico">
    <title>معالم</title>
    <!-- DataTables -->
    <link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <link href="~/plugins/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <script src="~/assets/js/modernizr.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>

    <!-- Navigation Bar-->
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <a class="logo">
                   
                    <img style="height:50px; width:50px;" src="~/imgs/logo.jpg" alt="شعار" />
                </a>
            </div>
        </div>
        <!-- Button mobile view to collapse sidebar menu -->
        <nav class="navbar-custom">
            <ul class="list-inline float-right mb-0">
                @*@Html.Partial("~/Views/Base/ToggleLanguage.cshtml")*@
                <li class="list-inline-item notification-list hide-phone">
                    <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                        <i class="mdi mdi-crop-free noti-icon"></i>
                    </a>
                </li>
                @*<li class="list-inline-item notification-list">
                    <a class="nav-link right-bar-toggle waves-light waves-effect" href="#">
                        <i class="mdi mdi-dots-horizontal noti-icon"></i>
                    </a>
                </li>*@
               
                <li class="list-inline-item dropdown notification-list">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <img src="~/assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                        <!-- item-->
                        @Html.Partial("_LoginPartial")

                    </div>
                </li>
            </ul>
            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <button class="button-menu-mobile open-left waves-light waves-effect">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>
                @*<li class="hide-phone app-search">
                        <form role="search" class="">
                            <input type="text" placeholder="Search..." class="form-control">
                            <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </li>*@
            </ul>
        </nav>
    </div>
    <!-- End Navigation Bar-->
    <!-- =======================
         ===== START PAGE ======
         ======================= -->
    <form action="/Home/LogOff" class="navbar-right" id="logoutForm" method="post">
        @Html.AntiForgeryToken()
    </form>
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>

                    <li>
                        <a href="@Url.Action("Index", "AdminHome" , new { area="Admin"  })" class="waves-effect waves-primary">
                            <i class="ti-home"></i><span> الرئسيه </span>
                        </a>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            <span>  الاعدادات </span> <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">

                            <li>
                                <a href="@Url.Action("GeneralConditionList", "GenralCondition", new { area = "Admin" })">
                                    <span>الشروط العامه</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("AppDetails", "AboutAppList", new { area = "Admin" })">
                                    <span>عن التطبيق </span>
                                </a>
                            </li>
                            <li class="has_sub">
                                <a href="@Url.Action("WebsiteStatisticsDefaultList", "WebsiteStatisticsDefault", new { area = "Admin" })">
                                    <span>الاحصائيات</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("WebsiteContactInfoList", "WebsiteContactInfo", new { area = "Admin" })">
                                    <span>معلومات الاتصال</span>
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("AddAdmin", "Employee", new { area = "Admin" })">
                                    <span> الموظفين</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("AddAdmin", "Admin", new { area = "Admin" })">
                                    <span> الادمن</span>
                                </a>
                            </li>                            @*<li><a href="icons-themifyicon.html">المعالم</a></li>*@
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <span>  المناطق </span> <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li>
                                <a href="@Url.Action("CityList", "Cities", new { area = "Admin" })">
                                    <span> المدن</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("RegionList", "Region", new { area = "Admin" })">
                                    <span> المحافظات</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="ti-spray"></i>
                            <span>  الاقسام </span> <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Index", "Category", new { area = "Admin" })">الاقسام العامه  </a></li>
                            @*<li><a href="icons-themifyicon.html">المعالم</a></li>*@
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="fa fa-ravelry" aria-hidden="true"></i>
                            <span>  التحكم فى المعالم </span> <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li>
                                <a href="@Url.Action("Index", "LandMarktype", new { area = "Admin" })">
                                    انواع المعالم

                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "LandMarks", new { area = "Admin" })">
                                    المعالم
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "LandmarkPhoto", new { area = "Admin" })">
                                    صور المعالم
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "landmarkphones", new { area = "Admin" })">
                                    ارقام المعالم
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "LandmarkSocialMedia", new { area = "Admin" })">
                                    حسابات التواصل



                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "LandmarkWorkTime", new { area = "Admin" })">
                                    اوقات المعالم
                                </a>
                            </li>


                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="fa fa-eercast" aria-hidden="true"></i>
                            <span>  التحكم فى الفاعليات </span> <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li>
                                <a href="@Url.Action("Index", "EventType", new { area = "Admin" })">
                                    انواع الفاعليات
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "AdminEvents", new { area = "Admin" })">
                                    الفاعليات
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "EventPhoto", new { area = "Admin" })">                                صور الفعليات</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "EventSponsor", new { area = "Admin" })">
                                    التنظيم
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "EventSocialMedia", new { area = "Admin" })">
                                    حسابات التواصل
                                </a>
                            </li>


                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <span style="font-size:small">  التحكم فى المعالم التجارية </span> <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Index", "Donators", new { area = "Admin" })">المعالم التجارية </a></li>
                            <li><a href="@Url.Action("Index", "AcceptDonators", new { area = "Admin" })">طلبات المعالم التجارية</a></li>
            <li><a href="@Url.Action("Index", "TempsOrders", new { area = "Admin" })">الخصومات المؤقته </a></li>
            <li><a href="@Url.Action("Index", "Orders", new { area = "Admin" })"> طلبات الخصومات </a></li>
            <li><a href="@Url.Action("Index", "AcceptImages", new { area = "Admin" })">   صور المعالم التجارية </a></li>
            @*<li><a href="@Url.Action("Index", "EventType", new { area = "Admin" })">  اداره اسئله التقيم   </a></li>*@


                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                            <span>  التحكم فى البطاقات </span> <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("CategoryList", "CardCategory", new { area = "Admin" })">مجموعات البطاقات </a></li>
                            <li><a href="@Url.Action("Create", "CompleteCards", new { area = "Admin" })">اضافه بطاقه </a></li>
                            <li><a href="@Url.Action("Index", "CompleteCards", new { area = "Admin" })">استكمال البطاقات  </a></li>
                            <li><a href="@Url.Action("Complete", "CompleteCards", new { area = "Admin" })"> اصدار البطاقات  </a></li>
                            <li><a href="@Url.Action("Completing", "CompleteCards", new { area = "Admin" })">   جدول العملاء  </a></li>
                            <li><a href="@Url.Action("Completed", "CompleteCards", new { area = "Admin" })">  المشتركين     </a></li>


                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="fa fa-handshake-o" aria-hidden="true"></i>
                            <span>  التحكم فى الموقع </span> <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li>
                                <a href="@Url.Action("Index", "NewsAdmin", new { area = "Admin" })">
                                    <span> الاخبار</span>
                                </a>
                            </li>
                            <li><a href="@Url.Action("Index", "AboutMallem", new { area = "Admin" })">عن معالم  </a></li>
                            <li><a href="@Url.Action("Index", "Goals", new { area = "Admin" })">فوائد معالم  </a></li>

                            <li><a href="@Url.Action("AboutCardsWebSiteList", "AboutCardsWebSite", new { area = "Admin" })">عن البطاقه </a></li>


                            <li><a href="@Url.Action("CardWebsiteList", "CardsWebSite", new { area = "Admin" })">فؤائد البطاقه  </a></li>
                            <li><a href="@Url.Action("Index", "ContactusWebSite", new { area = "Admin" })">اتصل بنا   </a></li>
                            <li><a href="@Url.Action("Index", "Withdrawals", new { area = "Admin" })"> تسجيل السحب   </a></li>
                            <li><a href="@Url.Action("Index", "ImageWebSite", new { area = "Admin" })">   البوم الصور   </a></li>
                            <li><a href="@Url.Action("Index", "VideoWebSite", new { area = "Admin" })">  الفديو     </a></li>
                            <li><a href="@Url.Action("SocialWebSiteList", "SocialWebSite", new { area = "Admin" })">  مواقع التواصل     </a></li>
                            <li><a href="@Url.Action("Index", "ImageSliders", new { area = "Admin" })">  شرائح السليدر      </a></li>

                            <li><a href="@Url.Action("Index", "Ws_GoldSponsors", new { area = "Admin" })">   الرعاه الذهبين      </a></li>

                        </ul>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            @RenderBody()

            <!-- Footer -->
            <footer class="footer text-right">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            2020 © معالم
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
        </div> <!-- end container -->
    </div>
    <!-- End wrapper -->

    <script>
                var resizefunc = [];
    </script>
    <!-- Plugins  -->
    @*<script src="~/assets/js/jquery.min.js"></script>*@
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/assets/js/popper.min.js"></script><!-- Popper for Bootstrap -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/plugins/switchery/switchery.min.js"></script>
    <!-- Required datatable js -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/Scripts/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="~/Scripts/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables/jszip.min.js"></script>
    <script src="~/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <!-- Counter Up  -->
    <script src="~/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>
    <!-- circliful Chart -->
    <script src="~/plugins/jquery-circliful/js/jquery.circliful.min.js"></script>
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- skycons -->
    <script src="~//plugins/skyicons/skycons.min.js" type="text/javascript"></script>
    <!-- Page js  -->
    <script src="~/assets/pages/jquery.dashboard.js"></script>
    <!-- Custom main Js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

    <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    $('.counter').counterUp({
                        delay: 100,
                        time: 1200
                    });
                    $('.circliful-chart').circliful();
                });

                // BEGIN SVG WEATHER ICON
                if (typeof Skycons !== 'undefined') {
                    var icons = new Skycons(
                        { "color": "#3bafda" },
                        { "resizeClear": true }
                    ),
                        list = [
                            "clear-day", "clear-night", "partly-cloudy-day",
                            "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                            "fog"
                        ],
                        i;

                    for (i = list.length; i--;)
                        icons.set(list[i], list[i]);
                    icons.play();
                };

    </script>
    <script type="text/javascript">
                $(document).ready(function () {
                    $('#datatable').DataTable();

                    //Buttons examples
                    var table = $('#datatable-buttons').DataTable({
                        lengthChange: false,
                        buttons: ['copy', 'excel', 'pdf']
                    });

                    table.buttons().container()

                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
                });


    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
