﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("تسجيل خروج", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("اهلا" + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"> تسجيل خروج</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("مستخدم جديد", "Register", "Account", new { Area=""}, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("تسجيل دخول", "Login", "Account", new { Area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
