﻿

<section class="social-bar">
    <div class="container">
        <div class="row">
            <div class="facebook">
                <button><i class="fa fa-facebook"></i></button>
                <div class="content">
                    <iframe 
                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fwaffertoday%2F&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
            <div class="twitter">
                <button><i class="fa fa-twitter"></i></button>
                <div class="content">
                    <a class="twitter-timeline" data-height="400" href="https://twitter.com/waffer4u?ref_src=twsrc%5Etfw">Tweets by waffer4u</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="instagram">
                <button><i class="fa fa-instagram"></i></button>
                <div class="content">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fwaffertoday%2F&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>