﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";}

<section class="Banner text-center">
    <div class="Banner-Box">
    </div>
</section>

<!-- About -->
<section class="About">
    <div class="container">
        <h2>خطأ</h2>
        
        <p>
            حدث خطأ ما برجاء الاتصال بالمسؤل لحل المشكله
        </p>
    </div>
</section>