﻿    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">اضافه منطقه جديده</h4>
            </div>
            @using (Ajax.BeginForm("EditRegion", "Setting", new AjaxOptions()
            {

                HttpMethod = "POST",

                OnSuccess = "Account_Create_OnSuccess",
                //OnFailure = "$.Notification.autoHideNotify('error', 'top right', '" + "" + "', '');",
                //OnComplete = " $('#datatableClass').DataTable({ keys: true });"
            }))
            {
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" hidden id="Id" name="Id">

                                <label for="field-3" class="control-label">اسم المنطقه</label>
                                <input type="text" class="form-control" id="Name" name="Name" placeholder="اسم المنطقه">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ</button>
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">اغلاق</button>

                </div>
            }
        </div>
    </div>


