﻿@model Core.Viewmodels.Admin.Ws_GoldSponsorsVM
@using (Html.BeginForm("Create", "Ws_GoldSponsors", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <input type="text" id="ID" name="ID" value="@Model.Id" hidden />
            @Html.Hidden("PhotoPath")
            <input type="hidden" id="ID" name="ID" value="0" />
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">اسم   </label>
                            <input type="text" class="form-control" required name="Name" value="@Model.Name" id="Title" placeholder="اسم  ">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.TextBox("file", null, new { @id = "input-1700", @type = "file", @class = "file-loading", @accept = "image/*" })
                            <script>
                                $("#input-1700").fileinput({
                                    maxFileCount: 1,
                                    allowedFileExtensions: ["jpg", "png", "gif"],
                                    browseLabel: " إضغط لإختيار صورة ..",
                                    browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                    browseClass: "btn btn-primary btn-block",
                                    showCaption: false,
                                    showRemove: false,
                                    showUpload: false
                                });
                            </script>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">حفظ </button>
            </div>

        </div>
    </div>



}