﻿

@model  IEnumerable<Core.Viewmodels.Admin.Ws_GoldSponsorsVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Raw(TempData["msg"])


<div class="content-page">

    <div class="content">
        <div class="container-fluid">



            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        @*<h4 class="page-title">الشروط</h4>*@
                        <ol class="breadcrumb float-left">
                            <li class="breadcrumb-item"><a href="#">الرئسيه</a></li>
                            <li class="breadcrumb-item"><a href="#"> الرعاه الذهبين</a></li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>


            <button type="button" class="btn btn-success waves-effect waves-light" onclick="Create()">اضافه جديد</button>



            <div class="row">
                <div class="col-12">
                    <div class="card-box table-responsive">
                        @*<input type="button" id="AddNew" onclick="Create()" class="btn btn-circle blue New" value="Add" />*@
                        @*data-toggle="modal" data-target="#con-close-modal"*@


                        <br />
                        <br />

                        <table id="datatable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>رقم التسلسل</th>
                                    <th>الاسم </th>
                                    <th>الصورة </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
                        {

                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td><img src="~/Uploads/@item.PhotoPath" style="width:150px; height:100px;"/></td>

                                    <td>
                                        <button type="button" class="btn btn-info btn-rounded w-md waves-effect waves-light m-b-5" onclick="Edit(@item.Id)" data-target="#con-close-modal">تعديل </button>

                                        @*<button type="button" class="btn btn-info btn-rounded w-md waves-effect waves-light m-b-5">تعديل</button>*@
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Delete",new { Id=item.Id})" class="btn btn-danger btn-rounded w-md waves-effect waves-light m-b-5">حذف</a>

                                    </td>

                                </tr>
                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">


</div>

<script src="~/Areas/Admin/Scripts/Ws_GoldSponsors.js"></script>


