﻿@model Core.Viewmodels.Admin.WebSiteContactVm
@using (Html.BeginForm("Create", "WebsiteContactInfo", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">اضافه وسيله جديده</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" hidden id="Id" value="@Model.Id" name="Id">

                            <label for="field-3" class="control-label">رقم الموبيل </label>
                            <input type="text" class="form-control" id="PhoneNumber" value="@Model.PhoneNumber" name="PhoneNumber" placeholder="رقم الموبيل ">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            <label for="field-3" class="control-label">العنوان  </label>
                            <input type="text" class="form-control" id="Address" value="@Model.Address" name="Address" placeholder="العنوان  ">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            <label for="field-3" class="control-label">التيلفون  </label>
                            <input type="text" class="form-control" id="TelePhone" value="@Model.TelePhone" name="TelePhone" placeholder=" التيلفون ">
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <input type="submit" class="btn btn-info waves-effect waves-light"  value="حفظ" />
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">اغلاق</button>

            </div>
            
        </div>
    </div>



}