﻿@model Mallamed.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<section>
    <div class="container login">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2>تسجيل الدخول</h2>
                @using (Html.BeginForm("Login", "Account"))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-row">
                        <div class="form-group col-12 marginform">
                            <label for="inputEmail4">البريد الالكتروني</label>
                            <input id="userName" name="userName" required class="form-control" />
                            @*@Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @id = "userName" })*@
                        </div>

                        <div class="form-group col-12 marginform">

                            <label for="inputPassword4">كلمة المرور</label>
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })
                        </div>
                        <div class="col-12">
                            <button type="submit" class="forbtnstyle btn btn-primary">دخول</button>
                            <p class="forget">هل نسيت كلمة المرور</p>
                            @Html.Raw(TempData["msg"])
                        </div>
                    </div>
                }
            </div>

            <div class="col-md-6 col-sm-12">
                <h2>مستخدم جديد</h2>

                <p class="infoforuser">يتمتع إنشاء حساب بالعديد من المزايا: تحقق من ذلك بشكل أسرع ، واحتفظ بأكثر من عنوان واحد ، وتتبع الطلبات والمزيد.</p>
                <div class="col-12">
                    <a href="@Url.Action("Register")" class="forbtnstyle btn btn-dark">إنشاء حساب</a>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}