﻿@model Mallamed.Models.RegisterAsDonatorModel
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@Html.Partial("~/Views/Shared/_HeadLine.cshtml", new Dictionary<string, string> { { Url.Action("RegisterAsDonator"), " تقديم طلب مانح" } })
<section>
    <div class="container login">
        <div id="divAlert" class="text-center">
            <label></label>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row getInpts">
                <div class="col-md-6 col-sm-12">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>اسم المالك</label>
                            @Html.TextBoxFor(x => x.OwnName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.OwnName)
                        </div>
                        <div class="form-group col-12">
                            <label>اسم المسؤل</label>
                            @Html.TextBoxFor(x => x.ResponsableName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ResponsableName)
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>اسم المنظمة</label>
                            @Html.TextBoxFor(x => x.OrgName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.OrgName)
                        </div>
                        <div class="form-group col-12">
                            <label>رقم السجل</label>
                            @Html.TextBoxFor(x => x.BookName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.BookName)
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>القسم</label>
                            @Html.DropDownListFor(x => x.CatID, ViewData["Categories"] as SelectList, "اختر القسم", new { @class = "form-control", style = "padding:0;" })
                            @Html.ValidationMessageFor(x => x.CatID)
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>تاريخ الاصدار</label>
                            <div class="iConDate">
                                @Html.TextBoxFor(x => x.Versiondate, new { @class = "form-control", @type = "date" })
                                @Html.ValidationMessageFor(x => x.Versiondate)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>تاريخ بداية العقد</label>
                            <div class="iConDate">
                                @Html.TextBoxFor(x => x.ContractDate, new { @class = "form-control", @type = "date" })
                                @Html.ValidationMessageFor(x => x.ContractDate)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>تاريخ انتهاء العقد</label>
                            <div class="iConDate">
                                @Html.TextBoxFor(x => x.finishDate, new { @class = "form-control", @type = "date" })
                                @Html.ValidationMessageFor(x => x.finishDate)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>تاريخ الزيارة</label>
                            <div class="iConDate">
                                @Html.TextBoxFor(x => x.VisiteDate, new { @class = "form-control", @type = "date" })
                                @Html.ValidationMessageFor(x => x.VisiteDate)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>تاريخ الخصم</label>
                            <div class="iConDate">
                                @Html.TextBoxFor(x => x.DiscountDate, new { @class = "form-control", @type = "date" })
                                @Html.ValidationMessageFor(x => x.DiscountDate)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>المنطقة</label>
                            @Html.DropDownListFor(x => x.RegionId, ViewData["Regions"] as SelectList, "اختر المنطقه", new { @class = "form-control", style = "padding:0;" })
                            @Html.ValidationMessageFor(x => x.RegionId)
                        </div>
                        <div class="form-group col-12">
                            <label>رقم الجوال 1</label>
                            @Html.TextBoxFor(x => x.Phone1, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Phone1)
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>العنوان</label>
                            @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Address)
                        </div>
                        <div class="form-group col-12">
                            <label>رقم الجوال 2</label>
                            @Html.TextBoxFor(x => x.Phone2, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Phone2)
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>الايميل</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "Email" })
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                        <div class="form-group col-12">
                            <label>التليفون</label>
                            @Html.TextBoxFor(x => x.Telephone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Telephone)
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>النشاط التجاري</label>
                            @Html.TextBoxFor(x => x.TradeActivity, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.TradeActivity)
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <button type="submit" id="BtnSaveDnt" class="forbtnstyle btn btn-light text-center">
                        تسجيل
                    </button>
                </div>
            </div>
        }
    </div>
</section>
@section scripts{
    <script>


        $(".getInpts input").keyup(function () {
            if ($(this).val().trim() == "") {
                $(this).next("span").text($(this).attr("data-val-required"));
            }
            else {
                $(this).next("span").text('');
            }
        });

        $(".getInpts select").change(function () {
            if ($(this).val().trim() == "") {
                $(this).next("span").text($(this).attr("data-val-required"));
            }
            else {
                $(this).next("span").text('');
            }
        });


        $("#BtnSaveDnt").click(function (e) {
            e.preventDefault();
            var i = 0, chk = true, sendData = {};

            $(".getInpts input , .getInpts select").each(function () {
                var getAttr = $(this).attr("name");
                if ($(this).val().trim() == '') {
                    if (getAttr != "TradeActivity" && getAttr != "Phone1" && getAttr != "Phone2" && getAttr != "Telephone") {
                        chk = false;
                        $(this).next("span").text($(this).attr("data-val-required"));
                    }
                    else { sendData[$(this).attr("name")] = $(this).val(); }
                }
                    else { sendData[$(this).attr("name")] = $(this).val(); }
            });
            if (chk) {
                $.post("@Url.Action("RegisterAsDonator")", sendData, function (data) {
                    if (data == 1) {
                        $("#divAlert").addClass("alert alert-success");
                        $("#divAlert label").text("تم الحفظ بنجاح");
                        $("body , html").animate({ scrollTop: 0 });
                        $(".field-validation-valid").text('');
                    }
                    else {
                        $("#divAlert").addClass("alert alert-danger");
                        $("#divAlert label").text(data);
                        $("body , html").animate({ scrollTop: 0 });
                    }
                }, "json");
            }
        });
    </script>
}