﻿@model Mallamed.Models.UserViewModel
    @{ 
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@Html.Partial("~/Views/Shared/_HeadLine.cshtml", new Dictionary<string, string> { { Url.Action("Index"), " تسجيل مستخدم جديد" } })
<section>
    <div class="container register">
        <div class="row">
            <div class="col-10 fortitle">
                <h2>قم بإنشاء حساب كمستخدم جديد</h2>
            </div>
        </div>
        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-row">
                    <div class="form-group row col-md-10 marginform">
                        <label for="inputEmail4" class="col-sm-4">الاسم بالكامل</label>
                        @Html.TextBoxFor(x => x.FullName, new { @class = "form-control col-sm-8" })
                        @Html.ValidationMessageFor(x => x.FullName)
                    </div>
                    <div class="form-group row col-md-10 marginform">
                        <label for="inputEmail4" class="col-sm-4">إسم المستخدم</label>
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control col-sm-8" })
                        @Html.ValidationMessageFor(x => x.UserName)
                    </div>
                    <div class="form-group row col-md-10 marginform">
                        <label for="inputEmail4" class="col-sm-4">رقم الجوال</label>
                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control col-sm-8" })
                        @Html.ValidationMessageFor(x => x.PhoneNumber)
                    </div>
                    <div class="form-group row col-md-10 marginform">
                        <label for="inputEmail4" class="col-sm-4">البريد الالكترونى</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control col-sm-8" })
                        @Html.ValidationMessageFor(x => x.Email)
                    </div>
                    <div class="form-group row col-md-10 marginform">
                        <label for="inputPassword4" class="col-sm-4">كلمة المرور</label>
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control col-sm-8", type = "password" })
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                    <div class="form-group row col-md-10 marginform">
                        <label for="inputPassword4" class="col-sm-4">تأكيد كلمة المرور</label>
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control col-sm-8", type = "password" })
                        @Html.ValidationMessageFor(x => x.ConfirmPassword)
                    </div>
                    <div class="form-group row col-md-7 marginform">
                        <button type="submit" class="btn btn-primary btn-block">إشترك الان</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
