
/**
#00adef
#ee1b24
#8cc73b
#61696b
**/
@font-face {
    font-family: Noto;
    src: url(../assets/noto-font/NotoKufiArabic-Regular.ttf);
}
@font-face {
    font-family: Noto-B;
    src: url(../assets/noto-font/NotoKufiArabic-Bold.ttf);
}
body
{
	direction: rtl;
	font-family: Noto;
}
* a
{
	color: inherit;
}
* a:hover
{
	text-decoration: none;
}
.list-inline-item:not(:last-child)
{
    margin-right: 0px;
    margin-left: 5px;
}
/**
form-inline
**/
.form-inline
{
	position: relative;
}
.form-inline .form-control
{
	width: 100%;
	border: 1px solid #ee1b24;
	padding: 15px 10px;
}
.form-inline button
{
	position: absolute;
	left: 1px;
	top: 1px;
	bottom: 1px;
	padding: 0 10px;
	border:0;
	border-radius: .25rem 0 0 .25rem;
	background-color: #ee1b24;
	color: #fff;
}
/**
FOOTER
**/
footer .topFooter
{
	background-color: #eee;
	padding: 70px 0;
}
footer .topFooter h3{
	margin-top: 40px;
	margin-bottom: 20px;
}
footer .topFooter .aboutus
{
	text-align: justify;
	font-size: 14px;
}
footer .topFooter i
{
	padding-left: 10px;
	color: #8cc73b;
	transition: all 0.2s ease-in-out;
}
footer .topFooter .list-inline li
{
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #8cc73b;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}
footer .topFooter .list-inline li:hover
{
	color: #fff;
	border: 1px solid #fff;
}

footer .topFooter .list-inline li:hover i
{
	color: #fff
}
footer .topFooter .list-inline li:before
{
	content: "";
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	background-color: #8cc73b;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	transition: all 0.2s ease-in-out;
}
footer .topFooter .list-inline li:hover:before
{
	width: 40px;
	height: 40px;
	border-radius: 5px;
}
footer .topFooter .list-inline li i
{
	padding: 0;
	font-size: 1.2em;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
}
footer .bottomFooter
{
	background-color: #333;
	padding: 20px 0
}

footer .bottomFooter p
{
	color: #fff
}
/**
HEADER
**/
header
{
	background-color: #fff;
	box-shadow: 0 0px 5px #ddd;
}
header .navbar
{
	padding-top: 0;
	padding-bottom: 0
}
header .dropdown-menu
{
	text-align: right;
	border:0;
	border-radius: 0;
	top: 55px;
	border-top: 2px solid #8cc73b;
}

header .dropdown-menu form
{
	width: 400px;
}
header .navbar-nav .nav-link
{
	padding: 20px .5rem;
	position: relative;
	transition: all 0.5s ease-in-out;
    font-size: 15px;
}
header .navbar-nav .nav-link:hover
{
	color: #8cc73b
}
header .navbar-nav .nav-item
{
	position: relative;

}
header .navbar-nav .nav-item:before
{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #f5f5f5;
	transition: all 0.5s ease-in-out;
	transform: translateY(-100%);
}
header .navbar-nav .nav-item:hover:before,
header .navbar-nav .nav-item.active:before
{
	transform: translateY(0%);
}
header .navbar-nav .nav-item.active
{
	border-bottom: 2px solid #8cc73b;
}
header .navbar-nav:last-of-type
{
	color: #8cc73b;
}
/*********************/

/*Start Social Bar*/
.social-bar
{
  max-width: 305px;
  position: fixed;
  right: 0;
  right: -305px; 
  height: 406px;
  top: 150px;
  border: 3px solid #00948b;
  z-index: 1111;
  border-radius: 0;
  transition: all 0.5s linear
}

.slide
{
  right: 0
}

.social-bar .active {
  z-index: 111
}

.social-bar .content
{
  width: 299px
}

.social-bar .facebook
{
  top: 0;
  right: 0;
}

.social-bar .facebook button
{
  position: absolute;
  top: -3px;
  background: #fff;
  width: 40px;
  height: 150px;
  outline: none;
  left: -40px;
  padding-left: 10px;
  font-size: 23px;
  color: #4267B2;
  border: 3px solid #4267B2;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
  transition: all 0.3s linear
}

.social-bar .twitter
{
  position: absolute;
  top: 0;
  right: 0
}

.social-bar .twitter button
{
  position: absolute;
  top: 117px;
  background: #fff;
  width: 40px;
  height: 150px;
  outline: none;
  left: -40px;
  padding-left: 10px;
  font-size: 23px;
  color: #1DA1F2;
  border: 3px solid #1DA1F2;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
  transition: all 0.3s linear
}

.social-bar .instagram
{
  position: absolute;
  top: 0;
  right: 0;
}

.social-bar .instagram button
{
  position: absolute;
  top: 253px;
  background: #fff;
  width: 40px;
  height: 150px;
  outline: none;
  left: -40px;
  padding-left: 10px;
  font-size: 23px;
  color: #E13E60;
  border: 3px solid #E13E60;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
  transition: all 0.3s linear
}




/**********************

	div-Title

**********************/
.div-Title
{
	padding-bottom: 30px;
	text-align: center;
}
.div-Title h3
{
	font-size: 2.4em;
	line-height: 1.5em;
	margin-bottom: 50px;
	position: relative;
}
.div-Title h3:before,
.div-Title h3:after
{
	content: "";
	position: absolute;
	bottom: -30px;
	transform: translateX(50%) rotate(45deg); 
	width: 20px;
	height: 20px;
	border-radius: 5px;
}
.div-Title h3:before
{
	right: 49.2%;
	background-color: #8cc73b
}
.div-Title h3:after
{
	right: 50.8%;
	background-color: #ee1b24
}
.div-Title p
{
	font-size: 1.8em;;
	color: #8cc73b;
}

/**********************

	Partner

**********************/
.Partner
{
	border-radius: 10px;
	margin-bottom: 20px;
	padding:5px;
	transition: all 0.5s ease-in-out
}
.Partner .Partner-Img
{
	position: relative;
	width: 150px;
	height: 150px;
	margin: auto
}
.Partner .Partner-Img .Partner-logo
{
	background: #fff;
	border: 1px solid #00adef;
	box-shadow: 0 0 5px #00adef;
	border-radius: 10px;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display: block;
}

.Partner .Partner-Img .Discount
{
	position: absolute;
	top: 5%;
	left: 3%
}

.Partner .Partner-Img .Discount p
{
	position: relative;
	background: #8cc73b;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 1.3em;
	color: #fff;
	font-weight: bold;
 	border-radius: 50% / 10%;
 	z-index: 2
}
.Partner .Partner-Img .Discount p:before
{
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background:  #8cc73b;
  border-radius: 5% / 50%;
  z-index: -1
}
.Partner .Partner-name
{
	margin-top: -5px;
	padding: 20px 10px;
	text-align: center;
	color: #00adef
}
.Partner .Partner-name h3
{
	font-size: 1.4em;
	transition: all 0.5s ease-in-out
}
.Partner:hover .Partner-Img .Discount
{
    animation-name: DIS;
    animation-duration: 0.8s;
}
@keyframes DIS {
    0% {
    	transform: scale(1);
    }
    20% {
    	transform: scale(1.4,1.4);
    }
    100% {
    	transform: scale(1);
    }
}

/**********************

	slick-Carosal

**********************/
.slick-dots
{
	bottom: -60px;
}
.slick-dots li button:before
{
	content: "";
	background-color:#00adef;
	border-radius: 50%;
	line-height: 200px;
}

.slick-prev,
.slick-next
{
	width: 60px;
	height: 60px;
	z-index: 5;
}
.slick-prev
{
	left: 10px
}
.slick-next
{
	right: -10px
}
.slick-prev::before,
.slick-next::before
{
	font-size: 50px;
	color: #fff;
	font-family: FontAwesome;
	background-color: #8cc73b
;
	padding: 0 10px;
	border-radius: 5px;
}
.slick-prev::before
{
  content: "\f100";
}
.slick-next::before
{
  content: "\f101";
}

@media all and (max-width: 575px)
{
	.slick-prev,
	.slick-next
	{
		display: none !important;
	}
}

/***** End Footer *****/


/**********************

	BreadCrumb

**********************/
.BreadCrumb
{
	margin-top: 65px;
}
.BreadCrumb .breadcrumb 
{
	padding-right: 100px;
    background-color: rgba(140, 199, 59, .2);
	border-radius: 0
}
.BreadCrumb .breadcrumb .breadcrumb-item
{
	float: right;
}

.BreadCrumb .breadcrumb .breadcrumb-item a
{
	color: #00adef;
}

.breadcrumb-item + .breadcrumb-item::before
{
	content: "»";
}
@media (max-width: 767px)
{
	.BreadCrumb .breadcrumb 
	{
		padding-right: 50px;
	}
}
@media (max-width: 480px)
{
	.BreadCrumb .breadcrumb 
	{
		padding-right: 10px;
	}
}
/**********************

	About

**********************/

.serve {
    background-image: url(../imgs/serve.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 350px;
}
.serve iframe
{
	width:100%;
	min-height: 350px;
}
.Banner {
    font-family: Noto-R;
    min-height: 500px;
    background-image: url(../imgs/Banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

    .Banner .Banner-Box {
        min-height: 500px;
        background-color: rgba(0,0,0,0.5);
    }

        .Banner .Banner-Box p {
            color: #fff;
            padding: 5% 0 2%;
            font-size: 4.4em;
        }

        .Banner .Banner-Box h2 {
            display: inline-block;
            background-color: #fff;
            color: #009280;
            font-size: 4em;
            padding: 10px 20px;
            box-shadow: -5px 5px 5px #009688;
        }

@media all and (max-width: 575px) {

    .Banner {
        min-height: 300px;
    }

        .Banner .Banner-Box {
            min-height: 300px;
        }

            .Banner .Banner-Box h2 {
                font-size: 2.5em
            }

            .Banner .Banner-Box p {
                font-size: 2em
            }
}
.About{
    font-size: 25px;
    line-height: 1.8;
    margin: 40px 0;
    text-align: center;
        
}
.About h2 {
    display: inline-block;
    background-color: #fff;
    color: #8cc73b;
    font-size: 2em;
    padding: 10px 20px;
    box-shadow: -5px 5px 5px #8cc73b;
    margin:50px;
}
.About p{
    line-height: 1.8;
    font-size: 20px;
}
/**********************

	Testimonial

**********************/
.Testimonial {
    background-color: #eee;
    padding: 100px 0;
    text-align: center;
    color: #00adef;
}

.Testimonial h3{
    color: #8cc73b
}
    .Testimonial .testimonialCarosal {
        direction: ltr;
        text-align: center;
    }

        .Testimonial .testimonialCarosal .Custmer-testimonial .Rating {
            color: #ffc903;
        }
.Testimonial button.slick-prev.slick-arrow,
.Testimonial button.slick-next.slick-arrow{
    display: none!important;
}
.Testimonial .slick-dots li button:before{
    border-radius: 0;
    height: 7px;
}

    .Testimonial .ratingStars .stars {
        margin: auto;
        padding: 20px 0
    }

    .Testimonial .ratingStars .none {
        display: none
    }
.Testimonial .customer-img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    left: 75px
}
.Testimonial .customer-img img{
    width: 100px;
    height: 100px;
}
.Testimonial .Custmer-testimonial-Comment p{
    font-size: 16px;
    margin-top: 35px;
}


.Testimonial  .slick-dots li button:before
{
	content: "";
	background-color:#8cc73b;
	line-height: 200px;
}

/**********************

	Counting

**********************/
.Counting
{
	background-image:url('../imgs/Bg-1.png');
	background-attachment: fixed;
	background-size:cover;
	text-align: center;
	padding: 100px 0;
	color: #8cc73b;
}
.Counting .Count
{
	margin-bottom: 50px
}
.Counting .Count .icon
{
	font-size: 3em;
	margin-bottom: 10px;
	display: inline-block;
	width: 120px;
	height: 120px;
	line-height: 120px;
}
.Counting .Count span
{
	line-height: 2em
}

.

/**********************

	Subscripe

**********************/
.Subscripe{
	background-image:url('../imgs/Bg-Grid.png');
	background-size:cover;
	padding: 100px 0;
	text-align:center;
}
.Subscripe h2{
	color:white;
	font-size:3rem;
}
.Subscripe p {
	color:white;
	padding-top:20px;
	font-size:1.5rem;
}

.Subscripe button {
  background: #fff;
  color: #8cc73b;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 20px 30px;
}

/**********************

	Newsletter

**********************/
.Newsletter{
	text-align:center;
	color:#005a9b;
	padding:100px 0;
}
.Newsletter h3{
	margin-top:30px;
}
.Newsletter .foremail{
	margin:auto;
}

.Newsletter .foremail button
{
  background: #8cc73b;
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  padding: 15px 30px;
}
.Newsletter .foremail #inlineFormInput
{
	padding: 15px 10px;
}
.Newsletter .forma{
	margin-top:50px;
}
.Newsletter .form{
	margin-right:30%;
}
@media(max-width:767px){
	.Newsletter .form{
		margin-right:0;
	}
}

/**********************

	Home-Banner

**********************/
.Home-Banner
{
	margin-top: -150px;
	background: url(../imgs/Home.png) no-repeat center center;
	background-size: cover;
	margin-bottom: -7px;
}
.Home-Banner video
{
	width: 100%;
}
@media (max-width:992px)
{
	.Home-Banner
	{
		margin-top: -100px;
	}
}
@media (max-width:768px)
{
	.Home-Banner
	{
		margin-top: 0px;
	}
}
@media (max-width:480px)
{
	.Home-Banner
	{
		margin-top: 50px;
	}
}
/**********************

	Contact

**********************/
.infosection{
	width:100%;
    background-color:#eee;
    margin-top: -7px;
}
.forsection2{
	width:100%;
	padding-top:130px;
    padding-bottom: 70px;
	color:white;
	font-size:50px;
}
.fontcont{
	border:2px solid #00adef;
	width:120px;
    border-radius: 10px;
    line-height: 120px;
	height:120px;
	text-align:center;
	margin:auto;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    
}
.fontcont i{
    color:#8cc73b;
}
.infopargraph{
	font-size:20px;
	text-align:center;
	margin-top:25px;
    color: #8cc73b;
}
.fontcont:hover {
    transform: scale(1.1,1.1);
    background-color: #8cc73b;
}

.fontcont:hover i{
    color: #fff;
}
.supsection{
	width:100%;
	background-color:white;
	padding:100px 0;
}
.supsection h2{
	color:#00adef;
	text-align:center;
}
.supsection h3{
	color:red;
	text-align:center;
}
.formstyle{
	margin-top:50px;
}

.supsection label{
    text-align: right;
    width: 100%;
    color: #8cc73b
}
.forbtnstyle{
	text-align:left;
}
.marginform{
	margin:10px auto;
}


.infosection .form-inline button{
    
}
.accordion__group iframe{
	width: 100%;
	height: 400px;
	border:0px;
	margin-bottom: -10px;
}
/**********************

	Our-Partners

**********************/
.Our-Partners,
.Our-NewPartners
{
	padding: 100px 0;
	text-align: center;
}

.NewPartner{
	direction: ltr;
}

.MoreItems
{
	background-color: #00adef;
	padding: 10px 20px;
	border-radius: 4px;
	color: #fff;
}
.MoreItems:hover
{
	color: #8cc73b
}
.hide i:before
{
	content: "\f077";
}
.MorePartners,
.MoreCategories
{
	opacity: 0;
	visibility: hidden;
	height: 0;
	transition: all 0.5s ease-in-out
}
.open
{
	opacity: 1;
	height: 100%;
	visibility: visible;
}

.NewPartner{
	direction: ltr;
}


/**********************

	Categories

**********************/

.Categories
{
	background-image: url(../imgs/22.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}
.MoreCategory
{
	background-color: #fff;
	padding: 10px 20px;
	border-radius: 4px;
	color: #00adef;
}
.MoreCategory:hover
{
	color: #8cc73b
}
.MoreCategory i,
.MoreItems i
{
    animation-name: Arrows;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes Arrows {
    0% {
    	transform: translateY(-10px);
    	opacity: 0
    }
    50% {
    	transform: translateY(0);
    	opacity: 1
    }
    100% {
    	transform: translateY(10px);
    	opacity: 0
    }
}

.Categories .overlay
{
	padding: 100px 0;
	background-color: rgba(0,173,239,0.7);
}
.Categories .div-Title
{
	color: #fff;
}
.Category
{
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 20px;
}
.Bg-pic
{
    margin: auto;
    display: inline-block;
	background-color: rgba(255,255,255,0.7);
	padding: 1.4em;
    border-radius: 10px;
}
.Bg-pic .CategoryPic{
    max-width: 100px;
}
.Category .CategoryInfo
{
	color: #00adef;
	font-weight: bold;
	color: #fff;
	padding: 10px;
	margin-top: 10px;
	border-radius: 5px;
}

/**********************

	TemporaryDiscount

**********************/
.TemporaryDiscount
{
	padding: 100px 0;
	text-align: center;
}
.TemporaryDeals
{
	direction: ltr
}
.TemporaryDeals .Partner .Partner-Img .Discount p
{
	background-color: #ee1b24
}
.TemporaryDeals .Partner .Partner-Img .Discount p:before
{
	background-color: #ee1b24;
}
.TemporaryDeals .Timed
{
	background-color: #ee1b24;
	margin: 0 5px;
	padding: 10px 0
}
.TemporaryDeals .Timed p
{
	margin:0;
	color: #fff
}



/*****/
.containerpp h3{
	color:#989595
}
.containerpp h2{
	margin-bottom:5px;
}
.containerpp{
	margin:10% 5%;
	width:70%;
	color:black;
}
.txtoffer{
    color:white;
    margin: 27% 40%;
    font-size: 1.5rem;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    from {
    	transform: rotate(0deg);
    }
    to {
    	transform: rotate(360deg);
    }
}

.txtoffer span{
    animation-name: Rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.tempOffers table
{
	margin-top: 20px;
}
.tempOffers thead
{
	background-color: #8cc73b;
	color:#fff;
}
@keyframes Rotate {
    from {
    	transform: rotate(360deg);
    }
    to {
    	transform: rotate(0deg);
    }
}
.offerst{
    width: 25%;
    height: 25%;
  float: left
}
.O-image img
{
	padding: 10% 0;
	width: 100%;
	height: auto;
}

.offerst h3 {
  position: relative;
    background: #8cc73b;
    width: 80px;
    height: 80px;
    text-align: center;
}
.offerst h3 span {
  position: absolute;
  z-index: 2;
  width: 80px;
  height: 30px;
  top: 25px;
  left: 0;
  font-size: 1.2em
}
.offerst h3:before, .offerst h3:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: #8cc73b;
}
.offerst h3:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
.offerst h3:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}


@media(max-width:1200px){
.txtoffer{
    margin: 35% 40%;
	}
}

@media(max-width:992px){
	.txtoffer{
		margin: 30% 40%;
	}
	.offerst{
		width:30%;
		height:35%;
	    margin-left: 5%
	}
}


.section2{
	margin-top:30px;
	margin-bottom:50px;
}
.section2 h3{
	text-align: center
}
		/*accordion style*/
		
/*
=====
LEVEL 1. CORE STYLES OF MODIFIERS
=====
*/

.accordion__control{
  position: absolute;
  opacity: 0;
}

.accordion__body{
  display: none;
}

.accordion__control:checked ~ .accordion__body{
  display: block;
}

.accordion__toggle{
  display: block;
  cursor: pointer;
}

.accordion__control:checked ~ .accordion__toggle:after{
  transform: translate3d(0, -50%, 0) rotate(45deg);
}

/*
=====
LEVEL 2. PRESENTATION STYLES
=====
*/

.accordion{
  --uiAccordionTabBgColor: var(--accordionTabBgColor);
  --uiAccordionTabTextColor: var(--accordionTabTextColor);
  --uiAccordionTabFontSize: var(--accordionTabFontSize);
  --uiAccordionTabFocusColor: var(--accordionTabFocusColor);
  --uiAccordionToggleSize: var(--accordionToggleSize);
  --uiAccordionToggleColor: var(--accordionToggleColor);
  --uiAccordionMarginGroup: var(--accordionMarginGroup);
  --uiAccordionContentBgColor: var(--accordionContentBgColor);
  --uiAccordionContentFontSize: var(--accordionContentFontSize);
}

.accordion__group{
  box-shadow: 
    0 2px 2px 0 rgba(0, 0, 0, .14), 
    0 1px 5px 0 rgba(0, 0, 0, .12), 
    0 3px 1px -2px rgba(0, 0, 0, .2);
  margin-bottom: var(--uiAccordionMarginGroup);
}

.accordion__toggle{
  position: relative;
  padding: 1em calc(2em + var(--uiAccordionToggleSize) * 2) 1em 2em;
  
  background-color: var(--uiAccordionTabBgColor);
  font-size: 15px;
  color: var(--uiAccordionTabTextColor);
}

.accordion__toggle:after{
  content: "";
  
  font-size: var(--uiAccordionToggleSize);
  width: 1em;
  height: 1em;
  border-right: .25em solid var(--uiAccordionToggleColor);
  border-bottom: .25em solid var(--uiAccordionToggleColor);
  
  position: absolute;
  right: 20px;
  top: 50%;
  
  transform: translate3d(0, -50%, 0) rotate(-45deg);
  transition: transform .2s ease-out;
}

.accordion__control:focus ~ .accordion__toggle{
  outline: 5px solid var(--uiAccordionTabFocusColor)
}

.accordion__body{
  padding: 1.5em 2em;
  font-size: var(--uiAccordionContentFontSize);
  background-color: var(--uiAccordionContentBgColor);
}

/*
=====
LEVEL 3. SETTINGS
=====
*/

.accordion{
  --accordionTabBgColor: rgba(72, 70, 70, 0.6);
  --accordionTabTextColor: #fff;
  --accordionTabFontSize: 2rem;
  --accordionTabFocusColor: #C5CAE9;
  --accordionToggleSize: .8rem;
  --accordionToggleColor: #FFF;
  --accordionContentBgColor: #FFF;
  --accordionContentFontSize: 1.7rem;
  --accordionMarginGroup: .8rem;
}
.occord{
margin-top:30px;
}
.info{
font-size:15px;
}
@media(max-width:500px){
.txtoffer{
    margin: 30% 30%;
}
}


/*Temporary offers*/
.tempOffers
{
  padding: 50px 0
}

.tempOffers h3
{
  text-align: center;
  margin-bottom: 20px
}

.tempOffers th,
.tempOffers td
{
  text-align: center
}


/**********************

	Register

**********************/
.marginform{
	margin:10px auto;
}
.register h2{
	text-align:center;
	border-bottom:1px solid #cacaca;
	padding-bottom:20px;
}
.fortitle{
	margin:auto;
}
.register{
	margin:100px auto;
}


/**********************

	Login

**********************/
.marginform{
	margin:10px auto;
}
.forbtnstyle{
	width:100%;
	margin-top:10px;
	cursor:pointer;
	text-align: center;
}
.login h2{
	border-bottom:1px solid #cacaca;
	padding-bottom:10px;
}
.infoforuser{
	color:#737171;
	margin:70px auto;
}
.forget{
	text-align:left;
	color:#737171;
}
.forget:hover{
	cursor:pointer;
	color:red;
}
.login{
	margin:100px auto;
}

/**********************

	Login

**********************/
.forquestions{
	margin:auto;
	margin-top:20px;
}
.forquestions h5{
	color:#28a745;
}
.faq{
	margin:100px auto;
}

/**********************

	Category-page

**********************/
#accordion{
	border-left: 3px solid #ececec
}

.filter-items h3,
.filter-result h3,
.Cat-Header h3,
.place-items h3 {
	padding: 0 10px 10px 0;
	margin-bottom: 10px;
	position: relative;
}

.filter-items h3:before,
.filter-result > h3:before,
.Cat-Header h3:before,
.place-items h3:before {
	content: "";
	position: absolute;
	bottom: -10px;
	transform: translateX(50%) rotate(45deg);
	width: 20px;
	height: 20px;
	border-radius: 5px
}

.filter-items h3:after,
.filter-result > h3:after,
.Cat-Header h3:after,
.place-items h3:after {
	content: "";
	position: absolute;
	bottom: -10px;
	transform: translateX(50%) rotate(45deg);
	width: 20px;
	height: 20px;
	border-radius: 5px
}

.place-items h3 button.btn-link,
.filter-items h3 button.btn-link {
	color: #333;
	font-size: 24px;
	padding: 0;
	width: 100%;
	text-align: right;
}

.place-items h3 button.btn-link:hover,
.place-items h3 button.btn-link:focus,
.filter-items h3 button.btn-link:hover,
.filter-items h3 button.btn-link:focus {
	text-decoration: none;
}

.Cat-Header h3 {
	margin-bottom: 30px;
	display: inline-block;
	padding: 15px 30px;
	background: #8cc73b;
	border-radius: 5px;
	color: #fff
}

.filter-result > h3 {
	text-align: center;
	margin-bottom: 40px;
	padding-bottom: 25px;
}

.filter-result > h3:before {
	right: 49.2%;
	background: #8cc73b
}

.filter-result > h3:after {
	right: 50.8%;
	background: #ee1b24
}

.Togary {
	padding: 100px 0
}

.Togary ul {
	padding: 10px;
	margin-bottom: 20px;
}

.Togary li
{
	padding: 0;
	position: relative;
}
.Togary li:before,
.Togary li:after
{
	content: "";
	position: absolute;
	top: 30%;
	right: 0px;
	width: 20px;
	height: 20px;
	border: 1px solid #00adef;
	border-radius: 50%;
}
.Togary li:hover:after,
.Togary li.active:after
{
	content: "\f05d";
	font-family: FontAwesome;
	color: #ee1b24;
	margin-top: -6px;
	margin-right: 1px; 
	border:0px;
	font-size: 22px
}
.Togary .Cat-Filter-Item
{
	max-width: 30px
}
.Togary .list-group-item
{
	border:0;
}
.Togary .list-group-item a
{
	padding: 10px 30px 10px 10px;
	width: 100%;
	font-size: 16px;
	color: #00adef
}
.Togary .list-group-item .badge-primary
{
	float: left;
	margin-top: 5px;
	background: #8cc73b;
	padding: .5em;
	border-radius: 50%;
}
.list-group-item.active
{
	background-color: #fff;
	border-color: rgba(0,0,0,.125);
}

.Togary .Partner:hover
{
	transform: scale(1.1,1.1);
	background-color: #00adef;
}

.Togary .Partner:hover .Partner-name h3
{
	color: #fff
}

@media all and (max-width: 768px)
{

	.place-items h3:hover,
	.filter-items h3:hover
	{
		background-color: #ededed;
		border-radius: 50px;
	}
	.place-items h3 button.btn-link:hover,
	.place-items h3 button.btn-link:focus,
	.filter-items h3 button.btn-link:hover,
	.filter-items h3 button.btn-link:focus
	{
		text-decoration: none;
		cursor: pointer;
	}
}
/**
carousel-section
**/
section.carousel-section {
	padding-top: 65px; }
section.carousel-section .carousel-item {
	opacity: 0;
	-webkit-transition-property: opacity;
	    transition-property: opacity; }
section.carousel-section .carousel-item .carousel-caption {
	bottom: 40%;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out; }
section.carousel-section .carousel-item .carousel-caption h5 {
    font-size: 40px;
    line-height: 80px;
    padding: 0 10px;
    background-color: #8cc73b;
    display: inline-block;
    -webkit-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transition: all 1s ease;
            transition: all 1s ease; }
section.carousel-section .carousel-item .carousel-caption p {
    font-size: 24px;
    line-height: 26px;
    -webkit-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    -webkit-transition: all 1s ease;
            transition: all 1s ease; }
section.carousel-section .carousel-item.active {
    opacity: 1; }
section.carousel-section .carousel-item.active .carousel-caption {
    opacity: 1; }
section.carousel-section .carousel-item.active .carousel-caption h5{
	-webkit-transform: translateY(0px);
	  -ms-transform: translateY(0px);
	      transform: translateY(0px); }
section.carousel-section .carousel-item.active .carousel-caption p {
	-webkit-transform: scale(1, 1);
	  -ms-transform: scale(1, 1);
	      transform: scale(1, 1); }
section.carousel-section .carousel .carousel-control-prev,
section.carousel-section .carousel .carousel-control-next {
	top: auto;
	bottom: 45%;
	width: auto;
	opacity: 1; 
	width: 75px;
	height: 75px;
	border-radius: 5px;
	line-height: 75px;
	text-align: center;
	background-color: #00adef;
	-webkit-transition: all 0.5s ease;
	      transition: all 0.5s ease; }
section.carousel-section .carousel .carousel-control-prev:hover,
section.carousel-section .carousel .carousel-control-next:hover {
	background-color: #8cc73b; }
section.carousel-section .carousel .carousel-control-prev {
	left: 20px; }
section.carousel-section .carousel .carousel-control-next {
	right: 20px; }
section.carousel-section .carousel .active {
	opacity: 1; }
section.carousel-section .carousel .active.left,
section.carousel-section .carousel .active.right {
	left: 0;
	opacity: 0;
	z-index: 1; }
section.carousel-section .carousel .next.left,
section.carousel-section .carousel .prev.right {
	opacity: 1; }

.carousel-inner > .carousel-item.carousel-item-next,
.carousel-inner > .carousel-item.active.carousel-item-right {
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0); }

.carousel-inner > .carousel-item.carousel-item-prev,
.carousel-inner > .carousel-item.active.carousel-item-left {
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0); }

.carousel-inner > .carousel-item.next.carousel-item-left,
.carousel-inner > .carousel-item.prev.carousel-item-right,
.carousel-inner > .carousel-item.active {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0); }


/**
Tourisme
**/
.Tourisme
{
	padding: 100px 0;
	background-image: url(../imgs/Bg-4.jpg);
	text-align: center;
}
.Card{
  position: relative;
  transition: 0.6s;
  color: #fff;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  margin-bottom: 30px;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-color: #333
}

.card img{
  position: relative;
  display: block;
  opacity: 0.5;
}

.Card .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  font-size: 1.25em;
}

.Card .caption:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
  content: '';
  opacity: 0;
  transform: translate3d(0,50%,0);
  transition: opacity 0.35s, transform 0.35s;
}

.Card:hover .caption:before{
  opacity: 1;
  transform: translate3d(0,0,0);
}

.Card h2{
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 1.6em;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,-50%,0);
}

.Card h2:after{
  position: absolute;
  bottom: -10px;
  left: 70px;
  right: 70px;
  height: 2px;
  background: #fff;
  content: '';
  transition: transform 0.35s;
  transform: translate3d(-150%,0,0);
}

.Card:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

.Card:hover h2:after {
  transform: translate3d(0,0,0);
}

.Card p {
  letter-spacing: 1px;
  font-size: 68.5%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  transform: translate3d(0,10px,0);
  transition: opacity 0.35s, transform 0.35s;
}

.Card:hover p {
  opacity: 1;
  transform: translate3d(0,0,0);
}

.MoreTours
{
	background-color: #00adef;
	padding: 10px 20px;
	border-radius: 4px;
	color: #fff;
}
.MoreTours:hover
{
	color: #8cc73b
}
.MoreTourisme
{
	opacity: 0;
	visibility: hidden;
	height: 0;
	transition: all 0.5s ease-in-out
}
.open
{
	opacity: 1;
	height: 100%;
	visibility: visible;
}

/*******
******/
.ourEvents
{
    background-image: url(../imgs/s2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.events
{
    padding: 100px 0;
    text-align: center;
}
.events .div-Title h3,
.ourEvents .div-Title h3
{
    /*! color: #fff */
}
.ourEvents .overlay
{
    padding: 100px 0;
    background-color: rgba(255,255,255,0.7);
}
.ourEvents .eventCard,
.events .eventCard
{
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 300px;
    overflow: hidden;
}
.ourEvents .eventCard .eventDate,
.events .eventCard .eventDate
{
    position: absolute;
    top:20px;
    left: 20px;
    font-size: 1.5em;
    background-color: #00948bcc;
    padding: 10px 10px 20px;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.ourEvents .eventCard .eventDate span,
.events .eventCard .eventDate span
{
    display: block;
    font-size: 2em;
    line-height: 0.8;
}
.ourEvents .eventCard .eventtitle,
.events .eventCard .eventtitle
{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #00948bcc;
    font-size: 1.5em;
    padding: 0 10px;
    color: #fff;
    left: 0;
}
.events  .MoreEvents
{
    background-color: #251b60;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    margin: 20px auto
}
.ourEvents .MoreEvents
{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
}
.event-banner
{
    position: relative;
    overflow: hidden;
    min-height: 300px;
}
.event-banner img
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}
.event-banner .event-Title
{
    position: absolute;
    top: 20%;
    background-color: rgba(0,0,0,0.5);
    padding: 0px 20px;
}

.event-banner .event-Title p
{
	font-size: 2em;
	color: #fff
}
/*******
*/
.evet-Description
{
	padding: 100px 0;
}
.evet-Description .from-to
{
	font-size: 18px;
	line-height: 2
}
.evet-Description i
{
	color: #00adef
}
.evet-Description .description p
{
	margin: 20px 0;
	line-height: 2em
}
.event-map
{
	padding-bottom:100px;
}

/*******
******/
.ourEvents
{
	background-image: url(../imgs/s2.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-align: center;
}

.ourEvents .div-Title h3
{
	color: #fff
}
.ourEvents .overlay
{
	padding: 100px 0;
	background-color: rgba(0,0,0,0.5);
}
.ourEvents .eventCard
{
	position: relative;
	margin-bottom: 20px;
	border-radius: 10px;
	height: 300px;
	overflow: hidden;
}
.ourEvents .eventCard .eventDate
{
	position: absolute;
	top:0;
	left: 20px;
	font-size: 1.5em;
	background-color: rgba(140,199,59,0.7);
	padding: 10px 10px 20px;
}
.ourEvents .eventCard .eventDate span
{
	display: block;
	font-size: 2em;
	line-height: 0.8;
}
.ourEvents .eventCard .eventtitle
{
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: rgba(140,199,59,0.7);
	font-size: 1.5em;
	padding: 0 10px;
}
.ourEvents .MoreEvents
{
	background-color: #fff;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 20px;
	display: inline-block;
}






/*Reset Password*/
.reset {
    margin: 150px 0 50px 0
}

    .reset h3 {
        text-align: center;
        color: #505050;
        margin-bottom: 50px
    }

    .reset label {
        color: #505050;
        width: 19%;
        text-align: right
    }

    .reset input {
        margin-bottom: 30px;
        width: 80%;
        display: inline-block
    }

    .reset .confirm {
        text-align: center
    }

        .reset .confirm button {
            padding: 8px 40px;
            color: #fff;
            background: #00948b;
            margin: auto;
            border: none;
            border-radius: 5px;
            outline: none
        }


@media (max-width: 370px) {
    .reset h3 {
        font-size: 22px;
        margin-bottom: 30px
    }

    .reset label {
        width: 100%;
        display: block
    }

    .reset input {
        width: 100%;
        display: block;
        font-size: 14px
    }
}

@media (max-width: 575px) and (min-width: 370px) {
    .reset label {
        width: 100%;
        display: block
    }

    .reset input {
        width: 100%;
        display: block
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .reset label {
        width: 100%;
        display: block
    }

    .reset input {
        width: 100%;
        display: block
    }
}

@media (max-width: 991px) and (min-width: 768px) {

    .reset label {
        width: 30%
    }

    .reset input {
        width: 69%
    }
}

.fw {
    width: 100%
}


/**/

. .jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*jssor slider arrow skin 051 css*/
.jssora051 {
    display: block;
    position: absolute;
    cursor: pointer;
}

    .jssora051 .a {
        fill: none;
        stroke: #fff;
        stroke-width: 360;
        stroke-miterlimit: 10;
    }

    .jssora051:hover {
        opacity: .8;
    }

    .jssora051.jssora051dn {
        opacity: .5;
    }

    .jssora051.jssora051ds {
        opacity: .3;
        pointer-events: none;
    }

/*jssor slider thumbnail skin 111 css*/
.jssort111 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100px;
    background-color: #000;
}

    .jssort111 .p img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.jssort111 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    opacity: .45;
}

.jssort111 .p:hover .t {
    opacity: .8;
}

.jssort111 .pav .t, .jssort111 .pdn .t, .jssort111 .p:hover.pdn .t {
    opacity: 1;
}

#jssor_1 {
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 980px;
    height: 480px;
    overflow: hidden;
    visibility: hidden;
}

.jssorl-009-spin {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
}

    .jssorl-009-spin img {
        margin-top: -19px;
        position: relative;
        top: 50%;
        width: 38px;
        height: 38px;
    }

.InSlider {
    cursor: default;
    position: relative;
    top: 0px;
    left: 0px;
    width: 980px;
    height: 380px;
    overflow: hidden;
}

.jssort111 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 980px;
    height: 100px;
    cursor: default;
}

.jssora051 {
    width: 55px;
    height: 55px;
    top: 162px;
    right: 25px;
    transform: rotate(180deg);
}

    .jssora051:last-of-type {
        right: auto;
        left: -5px;
    }

    .jssora051 svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
/*****************/
        .Place-gallery
        {
            padding: 100px 0;
        }
        .ourGallery
        {
            direction: ltr
        }
        .ourGallery .box
        {
            text-align: right;
            position: relative;
            height: 250px;
        }
        .ourGallery .box:before
        {
            content: "";
            position: absolute;
            bottom: 0;
            top: 0;
            right: 0;
            left: 0;
            background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.6));  
        }
        .ourGallery .box p
        {
            color: #fff;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            padding: 10px;
        }
        .ourGallery .slick-next {
            right: 20px;
        }
        .ourGallery .slick-prev::before,
        .ourGallery .slick-next::before {
            font-size: 80px;
            color: #fff;
        }
        .ourGallery .lb-nav a.lb-prev,
        .ourGallery .lb-nav a.lb-next
        {
            opacity: 1 !important
        }
        .lb-data .lb-close
        {
            float: left;
        }
        .lb-data .lb-caption
        {
            font-size: 1.4em;
            line-height: 2
        }
        .lb-data .lb-details {
            float: right;
            text-align: right;
        }
        .lb-data .lb-number
        {
            font-size: 1.2em
        }
        


/*Start Profile*/

.profile {
	padding: 30px 0;
	background: radial-gradient(circle, #888888, #151515)
}

.profile .placeImg {
	
}

.profile .placeImg img {
	
}

.profile .details {
	padding-top: 50px
}

.profile .details h2 {
	color: #fff
}

.profile .details .name {
	color: #cbcbcb;
	font-size: 20px
}

.profile .details .name i {
	margin-left: 8px;
	color: #00adef
}

.profile .details .social {
	list-style: none;
	padding: 0
}

.profile .details .social li {
	display: inline-block;
	margin-right: 3px;
	position: relative;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border-radius: 50%;
	background: #fff;
	transition: all 0.3s ease-in-out
}

.profile .details .social li::before
{
	content: "";
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	background-color: #00adef;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	transition: all 0.3s ease-in-out
}

.profile .details .social li a {
	color: #00adef;
	font-size: 18px;
	position: relative
}

.profile .details .social li:hover a
{
	color: #fff
}

.profile .details .social li:hover::before
{
	width: 40px;
	height: 40px;
	border-radius: 50%
}

.profile .details .social li a i {
	
}

.profile .details .rating {
}

.profile .details .rating .starsStatic {
	display: inline-block;
	padding-top: 10px
}

.profile .details .rating .usersRatings {
	display: inline-block;
	position: relative;
	top: -4px;
	color: #cbcbcb;
}

.profile .timeTable {
	
}

.profile .timeTable table {
	border: 1px solid #ccc
}

.profile .timeTable table td {
	color: #fff;
	text-align: center
}

.profile .timeTable .table th {
	color: #00adef;
	text-align: center
}

.video {
	max-height: 400px;
	overflow: hidden;
	position: relative
}

.video img {
	width: 100%
}

.video .watch {
	position: absolute;
	right: 48%;
	top: 45%;
	z-index: 11;
	padding: 10px 50px;
	background: #fff;
	border: 1px solid #cb1414;
	border-radius: 5px;
	color: #cb1414;
	font-size: 30px;
	cursor: pointer;
	transition: all 0.3s linear
}

.video .watch:hover {
	background: #cb1414;
	color: #fff
}

.video .videoModal {
	
}


/**
#00adef
#ee1b24
#8cc73b
#61696b
**/




/*-=================================VEndor=====================-*/

.Vendor .main-vendor-card{
    width: 70%;
    margin: 60px auto;
}
.Vendor .bg-primary{
    background-color:#8cc73b!important;
    border-radius: 20px
}
.Vendor .main-vendor-card .vendor-name{
    color: #61696b;
    font-size: 30px
}
.Vendor .main-vendor-card ul li{
    color: yellow;
}
.vendor-logo{
     width: 300px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hide;
    overflow: hidden;
    font-size: 15px;
    line-height: 80px;
    margin: 20px auto;
    
}

.main-vendor-card h5{ 
    font-size: 25px;
    border: 1px solid #fff;
    width: 35%;
    margin: 0 auto;
    padding: 10px;
    color: red;
    border-radius: 10px;
    background: #fff;

}
.main-vendor-card h5 i{
    margin-left: 10px;
}
.Vendor .vendor-logo img{
    width: 100%;
}

.Vendor .vendor-offers .card{
    position: relative;
}
.Vendor .vendor-offers .card .card-body h5{
    font-size: 25px;
    color: #00adef;
}
.Vendor .vendor-offers .card .card-body p{
    color: #61696b;
}

.Vendor .vendor-offers .card .card-body{
    display: inline-block;
}
.Vendor .vendor-offers .card .offer-fade{
    display: inline-block;
    position: absolute;
    left: 55px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: red;
    text-align: center;
    top: 30%;
    color:#fff ;
    border: 1px solid transparent;
    border-radius: 10px;
    animation-iteration-count: infinite;
    animation-name: offfade;
    animation-duration: 4s;

}
.Vendor .vendor-offers .card .offer-fade span{
    font-weight: bold;
    font-size: 20px;
}
@keyframes offfade {
    0% {
    	transform: scale(1);
    }
    25% {
    	transform: scale(1.4);
    }
    50%{
        transform: scale(1);
    }
     75% {
    	transform: scale(1.4);
    }
    100% {
    	transform: scale(1);
    }
}

.AccoRion .accordion__group{
    background-color: #61696b !important;
}
.AccoRion h3{
    font-size: 60px;
    color: #00adef; 
}
.AccoRion .accordion__toggle{
    outline: none!important;
}


/*/////////////FAQ/////////////////////////*/
.Banner {
    font-family: Noto-R;
    min-height: 400px;
    background-image: url(../imgs/Banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

    .Banner .Banner-Box {
        min-height: 400px;
        background-color: rgba(0,0,0,0.4);
    }
.Banner-Box h2 {
    display: inline-block;
    background-color: #fff;
    color: #8cc73b;
    font-size: 4em;
    padding: 10px 20px;
    box-shadow: -5px 5px 5px #8cc73b;
    margin:50px;
}
.Banner-Box p{
    font-size: 4em;
    color: #00adef;
    padding-top: 40px
}

.FAQ{
    margin: 100px 0;
}
.FAQ .card{
    margin: 2px 0;
    border: none;
}
.FAQ .card .card-header{
    background-color: #61696b;
}

.FAQ .card .card-header .btn-link{
    color: #fff;
    text-decoration: none;
}
.FAQ .card .card-body{
    color: #00adef;
}



/**********************************************all news ****************************************/
.news{
    padding: 100px 0;
    background: #e6e6e6;
    text-align: center;
}
.news.BGF{
	background: #fff
}
.news .card-deck{
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: right;
}
.news .card-deck:nth-child(3){
    margin-bottom: 0;
}
.news .card-deck .card{
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    border-radius: 25px;
    overflow: hidden;
}
.news .card-deck .card:hover{
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
.news .card-deck .card .card-body{
    height: 200px;
    overflow: hidden
}
.news .card-deck .card .card-body h5{
    color: #00adef;
}
.news .card-deck .card .card-body .date{
    color: #8cc73b;
}
.news .card-deck .card .card-body p{
    line-height: 1.7;
    color: #61696b;
    text-align: justify;
}
.news .card-deck .card .card-footer{
    background-color: #8cc73b;
    color: #fff;
    text-align: left;
}
.news .card img
{
	opacity: 1
}
.MoreNews{
	background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
}
@media (min-width: 576px) and (max-width: 768px) { 
    .news .card-deck .card .card-body h5{
        font-size: 15px;
    }
    .news .card-deck .card .card-body p,
    .news .card-deck .card a{
        font-size: 13px;
    }
}
@media (max-width: 575.98px){
    .news .card-deck .card{
        margin-bottom: 20px;
    }
    .news .card-deck .card .card-body h5{
        font-size: 13px;
    }
    .news .card-deck .card .card-body p,
    .news .card-deck .card a{
        font-size: 11px;
    }
}

/**********************Single-new`*******************/
.single-new{
    padding: 100px 0;
}
.single-new h4{
    color: #00adef;
}
.single-new p:first-child{
    color: #8cc73b;
}
.single-new .single-new-img{
    max-width: 40%;
    float: right;
    margin-left: 25px;
    margin-bottom: 25px;
}
.single-new p{
    color: #61696b;
    text-align: justify;
    font-size: 15px;
}

@media all and (max-width: 575px)
{
    .single-new h4{
        font-size: 14px;
    }
    .single-new .single-new-img{
        width: 50%;
        margin-bottom: 10px;
    }   
    .single-new p{
        font-size: 10px;
    }
}


.field-validation-error{
    color:red;
}


