﻿@model Core.Viewmodels.Admin.EventPhotoFM
@using (Html.BeginForm("Create", "EventPhoto", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">اضافه صوره  </h4>
            </div>

            <div class="modal-body">

                <input type="text" class="form-control" hidden id="Id" value="@Model.Id" name="Id">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">اسم المعلم   </label>
                            @Html.DropDownListFor(x => Model.EventId, (List<SelectListItem>)ViewBag.Events, new { @class = "form-control" })

                            @*@Html.DropDownList("RegionId", ViewBag.Regions as SelectList, "اخنر المنطقه", new { @class = "form-control select5", @Required = "Required", @id = "RegionId", @name = "RegionId" })*@
                        </div>
                    </div>
                </div>
                <br />
              

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">البطاقه   </label>

                            @Html.DropDownListFor(x => Model.CardId, (List<SelectListItem>)ViewBag.ListCards, new { @class = "form-control" })
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.TextBox("file", null, new { @id = "input-1700", @type = "file", @class = "file-loading", @accept = "image/*" })
                            <script>
                                $("#input-1700").fileinput({
                                    maxFileCount: 1,
                                    allowedFileExtensions: ["jpg", "png", "gif"],
                                    browseLabel: " إضغط لإختيار صورة ..",
                                    browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                    browseClass: "btn btn-primary btn-block",
                                    showCaption: false,
                                    showRemove: false,
                                    showUpload: false
                                });
                            </script>
                        </div>
                    </div>
                </div>
               

            </div>

            <div class="modal-footer">
                <input type="submit" class="btn btn-info waves-effect waves-light"  value="حفظ" />
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">اغلاق</button>

            </div>
            
        </div>
    </div>



}