﻿@model Core.Viewmodels.Admin.LandmarkTimeFM
@using (Html.BeginForm("Create", "LandmarkWorkTime", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">اضافه صوره  </h4>
            </div>

            <div class="modal-body">

                <input type="text" class="form-control" hidden id="Id" value="@Model.Id" name="Id">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">اسم المعلم   </label>
                            @Html.DropDownListFor(x => Model.LandmarkId, (List<SelectListItem>)ViewBag.ListLandMark, new { @class = "form-control" })

                            @*@Html.DropDownList("RegionId", ViewBag.Regions as SelectList, "اخنر المنطقه", new { @class = "form-control select5", @Required = "Required", @id = "RegionId", @name = "RegionId" })*@
                        </div>
                    </div>
                </div>
                <br />





                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label for="Name" class="control-label">الساعه من   </label>
                            <input class="form-control" type="number" required name="ValidTimeFrom" value="@Model.ValidTimeFrom" id="ValidTimeFrom" placeholder="من   " />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Name" class="control-label">الساعه الى   </label>
                            <input class="form-control" type="number" required name="ValidTimeTo" value="@Model.ValidTimeTo" id="ValidTimeTo" placeholder="الى   " />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label for="Name" class="control-label">الايام من   </label>
                            <input class="form-control" type="number" required name="ValidDayFrom" value="@Model.ValidDayFrom" id="ValidDayFrom" placeholder="من   " />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Name" class="control-label">الايام الى   </label>
                            <input class="form-control" type="number" required name="ValidDayTo" value="@Model.ValidDayTo" id="ValidDayTo" placeholder="الى   " />
                        </div>
                    </div>
                </div>


            </div>

            <div class="modal-footer">
                <input type="submit" class="btn btn-info waves-effect waves-light"  value="حفظ" />
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">اغلاق</button>

            </div>
            
        </div>
    </div>



}