﻿@model Mallamed.Entity.Event
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";




}




<div class="row">
    <div class="col-sm-4">
        <h3 class="page-title">تفاصيل الفاعليه</h3>
    </div>
    <div class="col-sm-4">
        @Html.ValidationSummary(true)
    </div>


</div>

<div class="row">
    <div class="col-md-4 col-lg-3">
        <div class="text-center card-box">
            <div class="member-card">
                <div class="thumb-xl member-thumb m-b-10 center-block">
                    @if (Model.PhotoPath != null)
                    {
                        <img src="~/Uploads/@Model.PhotoPath" class="img-circle img-thumbnail" alt="profile-image">

                    }
                    else
                    {
                        <img src="/img/image_placeholder.jpg" class="img-circle img-thumbnail" alt="profile-image">

                    }
                </div>
                @*<button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#changephoto" style="width: 100%;">تغيير الصورة</button>*@
                @if (Model.Name != null)
                {
                    <div class="text-left m-t-40">
                        <p class="text-muted font-13"><strong>اسم الفاعليه :</strong> <span class="m-l-15">@Model.Name</span></p>
                    </div>
                    @*<button type="button" class="btn btn-pink btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#ResetUser">تغيير اسم المستخدم</button>*@
                    @*<button type="button" class="btn btn-purple btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#ResetPassword">تغيير كلمة المرور</button>*@
                    <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editformEv(@Model.Id,'@Model.Name','@Model.Details','@Model.StartDate','@Model.EndDate','@Model.Address')" data-toggle="modal" data-target="#EditClientsEvent"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>

                }


                <hr />

            </div>
        </div>
    </div>




    <div id="EditClientsEvent" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">تعديل واضافة فاعليه</h4>
                </div>
                @using (Html.BeginForm("Create", "AdminEvents", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {


                    <div class="modal-body">

                        <input type="text" id="EvId" name="EvId" hidden />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">المنطقه   </label>
                                    @Html.DropDownList("RegionId", ViewBag.Regions as SelectList, "اخنر المنطقه", new { @class = "form-control select5", @Required = "Required", @id = "RegionId", @name = "RegionId" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">المعالم   </label>

                                    @Html.DropDownList("EventTypeId", ViewBag.Eventtype as SelectList, "اخنر النوع", new { @class = "form-control select5", @Required = "Required", @id = "EventTypeId", @name = "EventTypeId" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">اسم الفاعليه  </label>
                                    <input type="text" class="form-control" required name="Name" id="Name" placeholder="اسم الفاعليه ">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <label for="Name" class="control-label">التفاصيل   </label>
                                    <input type="text" class="form-control" name="Details" id="Details" placeholder="التفاصيل   ">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <label for="Name" class="control-label">تاريخ البدايه   </label>
                                    <input type="text" class="form-control datepicker" required name="StartDate" id="StartDate" placeholder=" تاريخ البدايه   ">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">تاريخ النهايه  </label>
                                    <input type="text" class="form-control datepicker" required name="EndDate" id="EndDate" placeholder="تاريخ النهايه  ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">العنوان   </label>
                                    <input type="text" class="form-control" required name="Address" id="Address" placeholder="العنوان   ">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextBox("file", null, new { @id = "input-170000", @type = "file", @class = "file-loading", @accept = "image/*" })
                                    <script>
                                        $("#input-170000").fileinput({
                                            maxFileCount: 1,
                                            allowedFileExtensions: ["jpg", "png", "gif"],
                                            browseLabel: " إضغط لإختيار صورة ..",
                                            browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                            browseClass: "btn btn-primary btn-block",
                                            showCaption: false,
                                            showRemove: false,
                                            showUpload: false
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                        <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الفاعليه</button>
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="col-md-8 col-lg-9">
        <div class="card-box">



            <div class="row ">
                <div class="col-md-6 col-sm-6 ">



                    <div class="text-left m-t-40">
                        <p class="text-muted font-13">
                            <strong>اسم الفاعليه  :</strong>
                            <span class="m-l-15">



                                @Model.Name


                            </span>
                        </p>
                        <hr />
                        <p class="text-muted font-13"><strong>اسم الفاعليه   :</strong><span class="m-l-15">@Model.Name</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong> التفاصيل  :</strong> <span class="m-l-15">@Model.Details</span></p>
                        <hr />



                        <hr />
                        <p class="text-muted font-13"><strong> تاريخ البدايه : </strong> <span class="m-l-15">@Model.StartDate</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>تاريخ النهايه  :</strong> <span class="m-l-15">@Model.EndDate</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong> المنطقه: </strong> <span class="m-l-15">@Model.Region.Name</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong> العنوان: </strong> <span class="m-l-15">@Model.Address</span></p>

                    </div>

                </div>



            </div>


        </div>

    </div>
</div>





<div class="row">
    <div class="col-md-12">

        <div class="card-box">
            <h4>
                التنظيمات
                <button class="btn btn-primary waves-effect waves-light m-b-5 pull-right" data-toggle="modal" onclick="editformSp('0', '');" data-target="#EditClientsSp"> <i class="fa fa-plus m-r-5"></i> <span>اضافة  </span> </button>

            </h4>
            <div style="display: none;" class="validation-summary-errors2"></div>
            <table class="table table-hover">
                <tr>
                    <th>الكود</th>
                    <th>اسم الفاعليه</th>
                    <th>الاسم </th>


                    <th>صوره الفاعليه </th>

                    <th></th>
                </tr>
                @foreach (var item in Model.EventSponsors)
                {
                    <tr id="@item.Id">

                        <td>@item.Id</td>
                        <td>@item.EventId</td>
                        <td>@item.Name</td>


                        <td>
                            <a download="~/Uploads/@item.PhotoPath">  <img src="~/Uploads/@item.PhotoPath" alt="لا يوجد صورة" style="width:50px; height:50px;" /></a>
                        </td>
                        <td>
                            <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editformSp(@item.Id,'@item.Name')" data-toggle="modal" data-target="#EditClientsSp"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
                            <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitemSp(@item.Id)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>

                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>




    <div id="EditClientsSp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">تعديل واضافة منظم</h4>
                </div>
                @using (Html.BeginForm("Create", "EventSponsor", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {


                    <div class="modal-body">
                        <input type="text" id="EventId" name="EventId" value="@Model.Id" hidden />
                        <input type="text" id="EvSpId" name="EvSpId" hidden />







                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">الاسم   </label>
                                    <input class="form-control" type="text" required name="Name" id="NameSp" placeholder="الاسم   " />
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextBox("file", null, new { @id = "input-1700", @type = "file", @class = "file-loading", @accept = "image/*" })
                                    <script>
                                        $("#input-1700").fileinput({
                                            maxFileCount: 1,
                                            allowedFileExtensions: ["jpg", "png", "gif"],
                                            browseLabel: " إضغط لإختيار صورة ..",
                                            browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                            browseClass: "btn btn-primary btn-block",
                                            showCaption: false,
                                            showRemove: false,
                                            showUpload: false
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                        <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التنظيم</button>
                    </div>
                }

            </div>
        </div>
    </div>









    <div id="EditClientsSo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">تعديل واضافة حساب</h4>
                </div>
                @using (Html.BeginForm("Create", "EventSocialMedia", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {


                    <div class="modal-body">
                        <input type="text" id="EvSoId" name="EvSoId" hidden />


                        <input type="text" id="EventId" name="EventId" value="@Model.Id" hidden />



                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">نوع الاكونت  </label>
                                    <select class="form-control" id="type" name="type" required>
                                        <option value="">يرجي تحديد الموقع</option>
                                        <option value="FaceBook">فيس بوك</option>
                                        <option value="Twitter">تويتر</option>
                                        <option value="Instegram">انستجرام</option>
                                        <option value="Linkedin">لينكدا ان</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">رابط الاكونت  </label>
                                    <input class="form-control" type="text" required name="Link" id="Link" placeholder="رابط الاكونت  " />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">العرض  </label>
                                    <select class="form-control" id="Isactive" name="Isactive" required>
                                        <option value="true">يعرض</option>
                                        <option value="false">لا يعرض</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                        <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الفاعليه</button>
                    </div>
                }

            </div>
        </div>
    </div>


    <div class="col-md-12">

        <div class="card-box">
            <h4>
                حسابات التواصل
                <a class="btn btn-primary waves-effect waves-light m-b-5 pull-right" data-toggle="modal" onclick="editformSoc('0', '');" data-target="#EditClientsSo" href="#">اضافة حساب</a>

            </h4>
            <div style="display: none;" class="validation-summary-errors2"></div>
            <table class="table table-hover">
                <tr>
                    <th>الكود</th>
                    <th>النوع</th>
                    <th>اللينك  </th>

                    <th></th>
                </tr>
                @foreach (var item in Model.EventSocialMedias)
                {
                    <tr id="@item.Id">

                        <td>@item.Id</td>
                        <td>@item.type</td>
                        <td>@item.Link</td>


                        <td>
                            <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editformSoc(@item.Id,'@item.Link','@item.type')" data-toggle="modal" data-target="#EditClientsSo"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
                            <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitemSoc(@item.Id)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>

                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>




    <div class="col-md-12">

        <div class="card-box">
            <h4>
                صور الفاعليه
                <a class="btn btn-primary waves-effect waves-light m-b-5 pull-right" data-toggle="modal" onclick="editformPhoto('0', '');" data-target="#EditClientsPhoto" href="#">اضافة صوره</a>

            </h4>
            <div style="display: none;" class="validation-summary-errors2"></div>
            <table class="table table-hover">
                <tr>
                    <th>الكود</th>
                    <th>اسم الفاعليه</th>
                    <th>اسم البطاقه </th>

                    <th>صوره الفاعليه </th>

                    <th></th>
                </tr>
                @foreach (var item in Model.EventPhotoes)
                {
                    <tr id="@item.Id">

                        <td>@item.Id</td>
                        <td>@item.Event.Name</td>
                        <td>@item.Card.Name</td>


                        <td>
                            <a download="~Uploads/@item.PhotoPath">  <img src="~/Uploads/@item.PhotoPath" alt="لا يوجد صورة" style="width:50px; height:50px;" /></a>
                        </td>
                        <td>
                            <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editformPhoto(@item.Id,'@item.EventId','@item.CardId')" data-toggle="modal" data-target="#EditClientsPhoto"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
                            <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitemPhoto(@item.Id)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>

                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>




    <div id="EditClientsPhoto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">تعديل واضافة صوره</h4>
                </div>
                @using (Html.BeginForm("Create", "EventPhoto", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {


                    <div class="modal-body">
                        <input type="text" id="IdPhoto" name="IdPhoto" hidden />
                        <input type="text" id="EventId" name="EventId" value="@Model.Id" hidden />

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">المنطقه   </label>
                                    @Html.DropDownList("CardId", ViewBag.Cards as SelectList, "اخنر البطاقه", new { @class = "form-control select5", @Required = "Required", @id = "CardId", @name = "CardId" })
                                </div>
                            </div>
                        </div>






                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextBox("file", null, new { @id = "input-1700000", @type = "file", @class = "file-loading", @accept = "image/*" })
                                    <script>
                                        $("#input-1700000").fileinput({
                                            maxFileCount: 1,
                                            allowedFileExtensions: ["jpg", "png", "gif"],
                                            browseLabel: " إضغط لإختيار صورة ..",
                                            browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                            browseClass: "btn btn-primary btn-block",
                                            showCaption: false,
                                            showRemove: false,
                                            showUpload: false
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                        <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الفاعليه</button>
                    </div>
                }

            </div>
        </div>
    </div>



</div>

<div class="card-box">
    <div class="row">
        <input id="pacinput" class="form-control" type="text" placeholder="اكتب اسم المنطقة" style="width:60%;">
        <div class="col-sm-6">
            <label>Latetude</label>
            <input id="mylat" name="lat" class="form-control" type="text" value="@Model.Lat" />
        </div>
        <div class="col-sm-6">
            <label>Langtude</label>
            <input id="mylang" name="lang" class="form-control" type="text" value="@Model.Lang" />
        </div>
    </div>
    <br />

    <div id="mapxmap" style="width: 100%; height: 400px; margin: 0 auto;"></div>
    <button class="btn btn-success" type="button" onclick="chnagelocate(@Model.Id)">حفظ الاحداثيات</button>


</div>

@{
    string lang, lat, ff;
}
@if (Model.Lang == null || Model.Lat == null)
{
    lat = "24.774265";
    lang = "46.738586";
    ff = "false";
}
else
{
    lang = Model.Lang;
    lat = Model.Lat;
    ff = "true";
}
<script>

        var myf="@ff";
        var map,
            mLat,
            mLng,
            marker = [],
            loc,
            mnum = 0;

        function initialize() {



            var mylocate = new google.maps.LatLng(@lat,@lang);
            var mapOptions = {
                zoom: 7,
                center: mylocate,
                mapTypeIds: ["hybrid", "roadmap", "satellite", "terrain", "osm", "cloudmade"]
            };
            map = new google.maps.Map(document.getElementById('mapxmap'),
                mapOptions
            );
            if (myf == "true") {
                marker[mnum] = new google.maps.Marker({
                    position: mylocate,
                    animation: google.maps.Animation.BOUNCE
                });
                marker[mnum].setMap(map);
            }




            var input = document.getElementById('pacinput');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(input);

            map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
            });

            searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }
                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }
                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });

            // add a click event listener to
            // get the lat/lng from click event of map
            google.maps.event.addListener(map, 'click', function (event) {

                mLat = event.latLng.lat();
                mLng = event.latLng.lng();

                document.getElementById('mylat').value = mLat;
                document.getElementById('mylang').value = mLng;

                //--------------------------------------marker ---------------
                //remove marker----
                for (var i = 0; i < marker.length; i++) {
                    marker[i].setMap(null);
                    mnum = marker.length;
                }
                //create marker----
                loc = new google.maps.LatLng(mLat, mLng);
                marker[mnum] = new google.maps.Marker({
                    position: loc,
                    animation: google.maps.Animation.BOUNCE
                });


                marker[mnum].setMap(map);

            });

        }

       //google.maps.event.addDomListener(window, 'load', initialize);


</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAovNTHug4egjHWj2p1_iE0lUNEEwgsQZo&language=ar&libraries=places&callback=initialize" async defer></script>







@section Scripts{
    <link href="~/WebsiteAssets/Multfile1.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('form').ajaxForm(function () {
                alert("Uploaded SuccessFully");
            });
        });

        function preview_image() {
            var total_file = document.getElementById("upload_file").files.length;
            for (var i = 0; i < total_file; i++) {
                $('#image_preview').append("<img src='" + URL.createObjectURL(event.target.files[i]) + "'>");
            }
        }
    </script>
    <script>


        function editformPhoto(IdPhto, LandmarkId, CardId) {
            $("#IdPhoto").val(IdPhto);
            $("#LandmarkId").val(LandmarkId);
            $("#CardId").val(CardId);





        }


        function chnagelocate(id) {
            var lats = $("#mylat").val();
            var langs = $("#mylang").val();
            location.href = "/Admin/AdminEvents/ChangeLocation?id=" + id + "&lat=" + lats + "&lang=" + langs;
        }
        function deleteitemPhoto(idPhoto) {
            if (confirm('هل تريد حذف  هذه الصوره ؟')) {
                $.ajax({
                    url: "/Admin/EventPhoto/Delete/" + idPhoto,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + idPhoto).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف الصوره</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه الصوره  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذه الصوره مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function editformSp(IdSp, NameSp) {

            $("#EvSpId").val(IdSp);

            $("#NameSp").val(NameSp);

        }

        function deleteitemSp(idSp) {
            if (confirm('هل تريد حذف  هذه التنظيم ؟')) {
                $.ajax({
                    url: "/Admin/EventSponsor/Delete/" + idSp,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + idSp).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف التنظيم</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه التنظيم  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذه التنظيم مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }


        function editformEv(Id, Name, Details, StartDate, EndDate, Address) {
            $("#EvId").val(Id);


            $("#Details").val(Details);
            $("#StartDate").val(StartDate);
            $("#EndDate").val(EndDate);
            $("#Address").val(Address);


            $("#Name").val(Name);

        }

        function deleteitemEv(id) {
            if (confirm('هل تريد حذف  هذه الفاعليه ؟')) {
                $.ajax({
                    url: "/Admin/Event/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف الفاعليه</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه الفاعليه  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذه الفاعليه مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }


        function editformSoc(Id, Link, type) {
            $("#EvSoId").val(Id);
            $("#Link").val(Link);
            $("#type").val(type);





        }

        function deleteitemSoc(IdSoc) {

            if (confirm('هل تريد حذف  هذا الحساب ؟')) {
                $.ajax({
                    url: "/Admin/EventSocialMedia/Delete/" + IdSoc,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + IdSoc).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف الحساب</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه الحساب  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذه الحساب مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }




    </script>




}