﻿@model Mallamed.Entity.Landmark

@{
    /**/

    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@if (Model != null)
{
    <!-- Banner -->






    <section class="profile">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4 placeImg">
                    <img class="img-fluid" src="~/Uploads/@Model.PhotoPath" alt="@Model.Name">
                </div>
                <div class="col-sm-6 col-lg-4 details">
                    <h2>@Model.Name</h2>
                    <p class="name"><i class="fa fa-user"></i>@Model.Owner </p>
                    <p class="name"><i class="fa fa-user"></i>@Model.Reference </p>


                    <ul class="social">
                        @foreach (var social in Model.LandmarkSocialMedias.Where(x => x.IsActive))
        {
                <li><a href="@social.Link"><i class="fa fa-@social.type"></i></a></li>
}
                    </ul>

                    <div class="rating">
                        <div class="starsStatic" id="rateYo"></div>
                        <p class="usersRatings">( <span>@(Model.LandmarkEvaluations.Sum(x => x.Evaluate))  </span> تقييم )</p>
                    </div>
                </div>
                @if (Model.LandmarkWorkTimes != null && Model.LandmarkWorkTimes.Count() > 0)
                {
                    <div class="col-sm-12 col-lg-4 timeTable" style="margin-top:50px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>متاح</th>
                                    <th>من</th>
                                    <th>إلي</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var workTime in Model.LandmarkWorkTimes)
                                {
                                    <tr>
                                        <td>@workTime.ValidDayFrom - @workTime.ValidDayTo</td>
                                        <td><span>@workTime.ValidTimeFrom</span> <span>صباحاً</span></td>
                                        <td><span>@workTime.ValidTimeTo</span> <span>مساءاً</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </section>
    <section class="evet-Description">                                      
        <div class="container">
            <div class="div-Title">
                <h3> التفاصيل </h3>
            </div>
            @{
                //DateTime StartDate = ((DateTime)Model.StartDate);
                //DateTime EndDate = ((DateTime)Model.EndDate);
            }
            <div class="row">
                @if (Model.LandmarkWorkTimes != null && Model.LandmarkWorkTimes.Count() > 0)
                {
                    <div class="col-sm-12 col-lg-4 timeTable" style="margin-top:50px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>متاح</th>
                                    <th>من</th>
                                    <th>إلي</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var workTime in Model.LandmarkWorkTimes)
                                {
                                    <tr>
                                        <td>@workTime.ValidDayFrom - @workTime.ValidDayTo</td>
                                        <td><span>@workTime.ValidTimeFrom</span> <span>صباحاً</span></td>
                                        <td><span>@workTime.ValidTimeTo</span> <span>مساءاً</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="description">
                <p>
                    @Model.Details
                </p>
            </div>
        </div>
    </section>

    if (Model.LandmarkPhotos.Count() > 0)
    {
        <section class="Place-gallery">
            <div class="container-fluid p-0">
                <div class="div-Title">
                    <h3>
                        معرض الصور
                    </h3>
                </div>
                <div class="ourGallery">
                    @foreach (var photo in Model.LandmarkPhotos)
                    {
                        <a class="box" href="@Url.Content(AppConstants.ImgLandMark + (System.IO.File.Exists(Server.MapPath(AppConstants.ImgLandMark + photo.PhotoPath)) ? photo.PhotoPath : AppConstants.ImgDefaultLandMark))" alt="@Model.Name" data-lightbox="Gallery" data-title="@Model.Name">
                            <img src="@Url.Content(AppConstants.ImgLandMark + (System.IO.File.Exists(Server.MapPath(AppConstants.ImgLandMark + photo.PhotoPath)) ? photo.PhotoPath : AppConstants.ImgDefaultLandMark))" alt="@Model.Name" class="img-fluid">
                            <p>
                                @*//*@
                            </p>
                        </a>
                    }
                </div>
            </div>
        </section>
    }

    if (Model.LongX != null && Model.LatX != null)
    {
        <section class="Place-map">
            <div class="container-fluid p-0">
                <div class="div-Title">
                    <h3>
                        الخريطة
                    </h3>
                </div>
                <div class="mapsection">
                    <iframe src="https://maps.google.com/maps?q=@Model.LatX,@Model.LongX&hl=es;z=14&amp;output=embed" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </section>
    }
    if (Model.VideoPath != "")
    {
        <section class="video">
            <img class="img-fluid" src="@Url.Content(AppConstants.ImgLandMark + (System.IO.File.Exists(Server.MapPath(AppConstants.ImgLandMark + Model.VideoPath)) ? Model.VideoPath : AppConstants.ImgDefaultLandMark))" alt="@Model.Name">

            <button class="watch" data-toggle="modal" data-target="#videoModal"><i class="fa fa-play"></i></button>
            <!-- Modal   -->
            <div class="videoModal modal fade" id="videoModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">الفيديو</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <video>
                                <source src="@Url.Content(AppConstants.ImgLandMark + (System.IO.File.Exists(Server.MapPath(AppConstants.ImgLandMark + Model.VideoPath)) ? Model.VideoPath : AppConstants.VideoDefaultLandMark))" />
                            </video>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}