﻿@model List<Mallamed.Entity.Landmark>

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var LandmarkTypeId = ViewBag.LandmarkTypeId;

}
@Html.Partial("~/Views/shared/_HeadLine.cshtml", new Dictionary<string, string> { { Url.Action("Index"), "المعالم السياحيه" } })


@Html.Action("RegionList", new { LandmarkTypeId = LandmarkTypeId })
@Html.Action("LandmarkList", new { EventTypeId = LandmarkTypeId, RegionId = ViewBag.RegionId })


<script>

        function CallChangefunc(Id) {
            $.ajax({
                url: "/Events/GetRegion/" + Id,
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {

                    $("#divNeighbourhood").html(result);
                    $("#preholder").hide();
                },
                error: function (result) {

                    $("#divNeighbourhood").html("");
                    $("#preholder").hide();
                }
            });
        }
</script>


