﻿@model List<Mallamed.Entity.Landmark>
@{
    Layout = "";
}

<section class="Tourisme">
    <div class="container">
        <div class="div-Title">
            <h3>المعالم السياحية </h3>
            <p>تعرف على احدث المعالم السياحية  </p>
        </div>
        <div class="row">
            @if (Model != null)
            {
                foreach (var landMark in Model)
                {
                    <div class="col-md-4 col-sm-6">
                        <a href="@Url.Action("Details", "Landmark", new { Id = landMark.Id })">
                            <div class="Card">
                                <img src="~/Uploads/@landMark.PhotoPath" alt="@landMark.Name" class="img-fluid">
                                <div class="caption">
                                    <h2>@landMark.Name</h2>
                                    <p> @landMark.Owner </p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</section>
