﻿
@model Core.Viewmodels.Admin.EventFM

@using (Html.BeginForm("GetAllByLandmarkId", "Landmark", new { area = "" , LandmarkTypeId = ViewBag.LandmarkTypeId }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    <input type="text" hidden id="EventTypeId" value="@ViewBag.EventTypeId"    name="EventTypeId" />
    <section class="About">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name" class="control-label"> المدينه   </label>
                        @Html.DropDownListFor(x => Model.CityId, (List<SelectListItem>)ViewBag.Cities, new { @class = "form-control", @onchange = "CallChangefunc(this.value)" })

                        @*@Html.DropDownList("RegionId", ViewBag.Regions as SelectList, "اخنر المنطقه", new { @class = "form-control select5", @Required = "Required", @id = "RegionId", @name = "RegionId" })*@
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="Name" class="control-label">المحافظه   </label>

                    <div class="form-group" id="divNeighbourhood">
                        @*@Html.DropDownList("RegionId", Enumerable.Empty<SelectListItem>(), "المحافظات", new { @class = "form-control" })*@

                        @Html.DropDownListFor(x => Model.RegionId, (List<SelectListItem>)ViewBag.RegionId, new { @class = "form-control" })


                    </div>
                </div>


            </div>

            <div class="col-md-12">
                <div class="form-group">

                    <input type="submit" class="btn btn-info waves-effect waves-light" value="بحث" />


                </div>
            </div>
        </div>
    </section>

}