﻿@model Core.Viewmodels.Admin.VideoWebSiteVM
@using (Html.BeginForm("Create", "VideoWebSite", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">اضافه فديو  جديد </h4>
            </div>

            <input type="hidden" id="ID" name="ID" value="@Model.ID" />
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">اسم الفديو  </label>
                            <input type="text" class="form-control" required value="@Model.Title" name="Title" id="Title" placeholder="اسم الفديو ">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">إظهار الفديو </label>
                            <select class="form-control" id="Isactive" name="Isactive" required >
                                <option value="true">نعم</option>
                                <option value="false">لا</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">رابط الفديو كامل </label>
                            <input type="text" class="form-control" required value="@Model.VideoPath" name="VideoPath" id="VideoPath" placeholder="http://....... ">
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الفديو</button>
            </div>

        </div>
    </div>



}