﻿

@model  IEnumerable<Core.Viewmodels.Admin.VideoWebSiteVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.Raw(TempData["msg"])


<div class="content-page">

    @*<div class="content">
        <div class="container-fluid">*@



    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                @*<h4 class="page-title">الشروط</h4>*@
                <ol class="breadcrumb float-left">
                    <li class="breadcrumb-item"><a href="#">الرئسيه</a></li>
                    <li class="breadcrumb-item"><a href="#"> فديو </a></li>
                    <li class="breadcrumb-item active">جميع الفديوهات</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />

    <button type="button" class="btn btn-success waves-effect waves-light" onclick="Create()">اضافه جديد</button>


    <div class="row">

        @foreach (var item in Model)
        {
            string visable = item.Isactive ? "true" : "false";
            <div style="width:300px;" id="@item.ID">
                <div class="gal-detail thumb " style="width:340px;">
                    <a href="#" title="@item.Title">
                        <iframe class="thumb-img" style="width: 100%; height: 100%;" src="@item.VideoPath" frameborder="0" allowfullscreen></iframe>
                    </a>
                    <h4 class="text-center">@item.Title</h4>
                    <div class="ga-border"></div>
                    <p class="text-muted text-center">
                        <button type="button" class="btn btn-info btn-rounded w-md waves-effect waves-light m-b-5" onclick="Edit(@item.ID)" data-target="#con-close-modal">تعديل </button>
                        <a href="@Url.Action("Delete",new { Id=item.ID})" class="btn btn-danger btn-rounded w-md waves-effect waves-light m-b-5">حذف</a>

                    </p>
                </div>
            </div>
            <div style="width:80px;"></div>

        }



    </div>



    @*</div>
        </div>*@
</div>






<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">


</div>


@*<script src="~/Areas/Admin/Scripts/Category.js"></script>*@
<script src="~/Areas/Admin/Scripts/VideoWebsite.js"></script>
@*<script src="~/Areas/Admin/Scripts/ImageWebsite.js"></script>*@
