﻿@model  Core.Viewmodels.Admin.DonatorsFM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />

@*<a href="@Url.Action("Index")" class="btn btn-warning waves-effect waves-light m-b-5"> <i class="fa fa-mail-reply m-r-5"></i> <span>الرجوع الي القائمة</span> </a>
    <a href="/Employee/Donators/Edits" class="btn btn-info waves-effect waves-light m-b-5"> <i class="fa fa-plus m-r-5"></i> <span>اضافة مانح جديد</span> </a>*@

@Html.ValidationSummary(true)

<div class="content-page">
    <div class="card-box">


        <div class="content">


            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        @*<h4 class="page-title">الشروط</h4>*@
                        <ol class="breadcrumb float-left">
                            <li class="breadcrumb-item"><a href="#">الرئسيه</a></li>
                            <li class="breadcrumb-item"><a href="#">  معالم تجاريه </a></li>
                            <li class="breadcrumb-item active">اضافه معلم  </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                @using (Html.BeginForm("Edit", "Donators", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
                {
                    @*@Html.HiddenFor(c => c.ID)
                        @Html.HiddenFor(c => c.LocatLat)
                        @Html.HiddenFor(c => c.LocatLang)
                        @Html.HiddenFor(c => c.IsActive)
                        @Html.HiddenFor(c => c.Username)
                        @Html.HiddenFor(c => c.Photo)*@

                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="OwnName" class="control-label">اسم المالك </label>
                                    <input type="text" class="form-control"  name="OwnName" id="OwnName" placeholder="اسم المالك" value="@Model.OwnName">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="OrgName" class="control-label">اسم المنظمة</label>
                                    <input type="text" class="form-control"  name="OrgName" id="OrgName" placeholder="اسم المنظمة" value="@Model.OrgName">

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">اسم المسؤول </label>
                                    <input type="text" class="form-control"  name="ResponsableName" id="ResponsableName" placeholder="اسم المسؤول" value="@Model.ResponsableName">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="BookName" class="control-label">رقم السجل</label>
                                    <input type="text" class="form-control"  name="BookName" maxlength="10" id="BookName" placeholder="رقم السجل" value="@Model.BookName">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">القسم </label>
                                    @Html.DropDownListFor(x => Model.CatID, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })

                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">تاريخ الاصدار </label>
                                    <div class="input-group">
                                        @*<input type="text" class="form-control datepicker" required name="Versiondate" id="Versiondate" placeholder=" تاريخ البدايه   " value="@Model.Versiondate">*@

                                        <input type="date" class="form-control " required name="Versiondate" id="Versiondate" >
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">تاريخ بداية العقد </label>
                                    <div class="input-group">
                                        <input type="date" class="form-control " required name="ContractDate" id="ContractDate"  value="@Model.ContractDate">
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="finishDate" class="control-label">تاريخ انتهاء العقد </label>
                                    <div class="input-group">
                                        <input type="date" class="form-control " required name="finishDate" id="finishDate"  value="@Model.finishDate">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">تاريخ الزيارة </label>
                                    <div class="input-group">
                                        <input type="date"  class="form-control " required name="VisiteDate" id="VisiteDate"  value="@Model.VisiteDate">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">تاريخ الخصم </label>
                                    <div class="input-group">
                                        <input type="date" class="form-control "   name="DiscountDate" id="DiscountDate"  value="@Model.DiscountDate">
                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label"> المدينه   </label>
                                    @Html.DropDownListFor(x => Model.CityId, (List<SelectListItem>)ViewBag.Cities, new { @class = "form-control", @onchange = "CallChangefunc(this.value)" })

                                    @*@Html.DropDownList("RegionId", ViewBag.Regions as SelectList, "اخنر المنطقه", new { @class = "form-control select5", @Required = "Required", @id = "RegionId", @name = "RegionId" })*@
                                </div>
                            </div>



                            <div class="col-md-12">
                                <label for="Name" class="control-label">المحافظه   </label>

                                <div class="form-group" id="divNeighbourhood">
                                    @*@Html.DropDownList("RegionId", Enumerable.Empty<SelectListItem>(), "المحافظات", new { @class = "form-control" })*@

                                    @Html.DropDownListFor(x => Model.RegionId, (List<SelectListItem>)ViewBag.RegionId, new { @class = "form-control" })


                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">العنوان </label>
                                    <input type="text" class="form-control"  name="Address" id="Address" placeholder="العنوان" value="@Model.Address">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="BookName" class="control-label">الايميل</label>
                                    <input type="text" class="form-control"  name="Email" id="Email" placeholder="الايميل" value="@Model.Email">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">رقم الجوال 1 </label>
                                    <input type="text" class="form-control" name="Phone1" id="Phone1" placeholder="رقم الجوال 1" value="@Model.Phone1">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">رقم الجوال 2 </label>
                                    <input type="text" class="form-control" name="Phone2" id="Phone2" placeholder="رقم الجوال 2" value="@Model.Phone2">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">التليفون  </label>
                                    <input type="text" class="form-control" name="Telephone" id="Telephone" placeholder="التليفون " value="@Model.Telephone">
                                </div>
                            </div>


                        </div>

                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="BookName" class="control-label">النشاط التجاري</label>

                                    <textarea class="form-control TradeActivity"  name="TradeActivity" id="TradeActivity" placeholder="النشاط التجاري" rows="6">@Model.TradeActivity</textarea>
                                </div>
                            </div>
                        </div>
                        @*<script>
                                CKEDITOR.replace('TradeActivity');
                            </script>
                            <input type="hidden" name="versdate" id="versdate" />
                            <input type="hidden" name="findate" id="findate" />
                            <input type="hidden" name="visdate" id="visdate" />
                            <input type="hidden" name="condate" id="condate" />
                            <input type="hidden" name="disdate" id="disdate" />*@
                    </div>
                    <input type="submit" class="btn btn-info waves-effect waves-light" value="حفظ" />

                }
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/Admin/Scripts/Donators.js"></script>

@section Scripts{
    @*<script src="~/Scripts/ckeditor/ckeditor.js"></script>*@
    @*<script src="~/Scripts/datetime1/js/locales/bootstrap-datetimepicker.ar.js"></script>*@
    @*<script src="~/Scripts/datetime1/js/locales/bootstrap-datetimepicker.ar.js"></script>*@
    <script>
        //$(function () {
        //    $("#ContractDate").datepicker();
        //});
        //$(function () {
        //    $("#Versiondate").datepicker();
        //});
        //$(function () {
        //    $("#DiscountDate").datepicker();
        //});
        //$(function () {
        //    $("#VisiteDate").datepicker();
        //});
        //$(function () {
        //    $("#finishDate").datepicker();
        //});



        //jQuery(document).ready(function () {
        //    var Versiondate = $("#Versiondate").val();
        //    $("#Versiondate").val(new Date(Versiondate));
        //    var finishDate = $("#finishDate").val();
        //    $("#finishDate").val(new Date(finishDate));
        //    var VisiteDate = $("#VisiteDate").val();
        //    $("#VisiteDate").val(new Date(VisiteDate));
        //    var ContractDate = $("#ContractDate").val();
        //    $("#ContractDate").val(new Date(ContractDate));
        //    var DiscountDate = $("#DiscountDate").val();
        //    $("#DiscountDate").val(new Date(DiscountDate));
        //});
        function getSubmitForm() {
            $('form#myform').submit();
        }
    </script>

}

<script>

    function CallChangefunc(Id) {
        $.ajax({
            url: "/Admin/LandMarks/GetRegion/" + Id,
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {

                $("#divNeighbourhood").html(result);
                $("#preholder").hide();
            },
            error: function (result) {

                $("#divNeighbourhood").html("");
                $("#preholder").hide();
            }
        });
    }
</script>
