﻿@model Mallamed.Entity.Donator

@{ 

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";



}

<div class="modal fade " id="changephoto" tabindex="-1" role="dialog" aria-labelledby="PhotoDataModelLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="PhotoDataModelLabel">تغيير صورة الطالب</h4>
            </div>
            <div class="modal-body ">
                @using (Html.BeginForm("updatePhoto", "Donators", FormMethod.Post, new { enctype = "multipart/form-data", @Class = "form-horizontal ", id = "frmModelData" }))
                {
                @Html.ValidationSummary(true)
                    // this antiforgreyToken used for prevent attack
                @Html.AntiForgeryToken()
                @Html.Hidden("PID",Model.ID)
                <div class="form-group">
                    <label for="input-700" class="control-label col-md-2">
                        إختر صوره
                    </label>
                    <div class="col-md-10">
                        @Html.TextBox("uploadfile", null, new { @id = "input-1700", @type = "file", @class = "file-loading", @accept = "image/*" })
                        <script>
                            $("#input-1700").fileinput({
                                maxFileCount: 1,
                                allowedFileExtensions: ["jpg", "png", "gif"],
                                browseLabel: " إضغط لإختيار صورة ..",
                                browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                browseClass: "btn btn-primary btn-block",
                                showCaption: false,
                                showRemove: false,
                                showUpload: false
                            });
                        </script>

                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="حفظ التغييرات" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">اغـلاق</button>
                </div>
                }
            </div>

        </div>
    </div>
</div>

<div id="createservice" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"> الخصم الممنوح للخدمات</h4>
            </div>
            @using (Html.BeginForm("CreateDonatService", "Donators", FormMethod.Post))
            {

            @Html.Hidden("DonatorID",Model.ID)

            <div class="modal-body">

                <div class="row" id="addservice">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label">اسم الخدمة </label>
                            <input type="text" class="form-control" required name="Service" placeholder="اسم الخدمة">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label">الخصم  </label>
                            <input type="number" class="form-control" name="Discount">
                        </div>
                    </div>
                </div>
                <input type="hidden" id="num" value="1" />

                <button class="btn btn-info" onclick="addserv()">المزيد</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
            </div>
            }

        </div>
    </div>
</div>

<div id="editservice" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"> الخصم الممنوح للخدمات</h4>
            </div>
            @using (Html.BeginForm("DonatService", "Donators", FormMethod.Post))
            {
            @Html.Hidden("ID",null,new{id="ID2"})
            @Html.Hidden("DonatorID",Model.ID)

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label">اسم الخدمة </label>
                            <input type="text" class="form-control" required name="Service" id="Service2" placeholder="اسم الخدمة">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label">الخصم  </label>
                            <input type="number" class="form-control" name="Discount" id="Discount2">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
            </div>
            }

        </div>
    </div>
</div>



<div id="createservice2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">الخصم الخاص من المانح للخدمات</h4>
            </div>
            @using (Html.BeginForm("CreateDonatedService", "Donators", FormMethod.Post))
            {

            @Html.Hidden("DonatorID",Model.ID)

            <div class="modal-body">

                <div class="row" id="addservice2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label">اسم الخدمة </label>
                            <input type="text" class="form-control" required name="Service" placeholder="اسم الخدمة">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label">الخصم  </label>
                            <input type="number" class="form-control" name="Discount">
                        </div>
                    </div>
                </div>

                <button class="btn btn-info" onclick="addserv2()">المزيد</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
            </div>
            }

        </div>
    </div>
</div>


<div id="TempDiscountServices" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"> الخصم المؤقت للخدمات</h4>
            </div>
            @using (Html.BeginForm("TempDiscount", "Donators", FormMethod.Post))
            {
               
                <input type="hidden" name="Id" id="Id50" value="0" />
                @Html.Hidden("ServiceId", null, new { id = "ServiceId50" })
                @Html.Hidden("DonatorID", Model.ID)
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">الخصم المؤقت %  </label>
                                <input type="number" class="form-control" name="Discount" id="Discount50">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">تاريخ بداية الخصم  </label>
                                <input type="datetime" class="form-control mydate" name="DateForm" id="DateForm50">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">وقت بداية الخصم</label>
                                <input type="time" class="form-control" name="TimeFrom" id="TimeFrom50">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">تاريخ نهاية الخصم  </label>
                                <input type="datetime" class="form-control mydate" name="DateTo" id="DateTo50">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">وقت نهاية الخصم</label>
                                <input type="time" class="form-control" name="TimeTo" id="TimeTo50">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">الهدف من هذا الخصم  </label>
                                <input type="text" class="form-control" name="Notes" id="Notes50">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
                </div>
            }

        </div>
    </div>
</div>

<div id="editservice2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">الخصم الخاص من المانح للخدمات</h4>
            </div>
            @using (Html.BeginForm("DonatedService", "Donators", FormMethod.Post))
            {
            @Html.Hidden("ID",null,new{id="ID3"})
            @Html.Hidden("DonatorID",Model.ID)

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label">اسم الخدمة </label>
                            <input type="text" class="form-control" required name="Service" id="Service3" placeholder="اسم الخدمة">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label">الخصم  </label>
                            <input type="number" class="form-control" name="Discount" id="Discount3">
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
            </div>
            }

        </div>
    </div>
</div>


<div id="CreateAcount" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">انشاء حساب للمانح</h4>
            </div>
            @using (Html.BeginForm("createAcountDonator", "Donators", FormMethod.Post))
            {
            @Html.Hidden("DonatorID",Model.ID)

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label">اسم المستخدم </label>
                            <input type="text" class="form-control" required name="UserName">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label">كلمة المرور  </label>
                            <input type="password" class="form-control" required name="Password">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label"> تاكيد كلمة المرور  </label>
                            <input type="password" class="form-control" required name="ConfirmPassword">
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
            </div>
            }

        </div>
    </div>
</div>


<div id="ResetPassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تغيير كلمة المرور</h4>
            </div>
            @using (Html.BeginForm("ResetPassword", "Donators", FormMethod.Post))
            {
            @Html.Hidden("DonatorID",Model.ID)

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label">اسم المستخدم </label>
                            <input type="text" class="form-control" readonly name="UserName" value="@Model.Username">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label">كلمة المرور  </label>
                            <input type="password" class="form-control" required name="Password">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label"> تاكيد كلمة المرور  </label>
                            <input type="password" class="form-control" required name="ConfirmPassword">
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
            </div>
            }

        </div>
    </div>
</div>



<div id="ResetUser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تغيير اسم المستخدم</h4>
            </div>
            @using (Html.BeginForm("ResetUserName", "Donators", FormMethod.Post))
            {
            @Html.Hidden("DonatorID",Model.ID)

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label">اسم المستخدم القديم</label>
                            <input type="text" class="form-control" readonly name="oldUserName" value="@Model.Username">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OwnName" class="control-label">اسم المستخدم الجديد </label>
                            <input type="text" required class="form-control" name="newUserName">
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
            </div>
            }

        </div>
    </div>
</div>


<div id="setSocial" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">اضافة او تعديل موقع التواصل</h4>
            </div>
            @using (Html.BeginForm("SetSocialMedia", "Donators", FormMethod.Post))
            {
                @Html.Hidden("DonatorID", Model.ID)
                @Html.Hidden("ID",0, new {id="ID20" })
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">اسم الاكونت </label>
                                <input type="text" id="Name20" class="form-control"  name="Name" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">نوع الاكونت </label>
                             <select class="form-control" id="Type20" name="Type" required>
                                 <option value=""> اختر النوع</option>
                                   <option value="facebook">فيس بوك</option>
                                 <option value="twitter">تويتر</option>
                                 <option value="instgram">انستجرام</option>
                                 <option value="mail">الايميل</option>
                                 <option value="linkedin">لنكدان</option>
                                 <option value="snapchat">سناب شات</option>
                             </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">الرابط </label>
                                <input type="text" id="Url20" class="form-control"  name="Url">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
                </div>
            }

        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-4">
        <h3 class="page-title">تفاصيل المانح</h3>
    </div>
    <div class="col-sm-4">
        @Html.ValidationSummary(true)
    </div>
    <div class="col-sm-4">
        @if (Model.IsActive == 1)
        {
            <div class="validation-summary-errors3">
                <ul>
                    <li>تم قبول الطلب مؤقتا</li>
                </ul>
            </div>
        }
        else if (Model.IsActive == 2)
        {
            <div class="validation-summary-errors3">
                <ul>
                    <li>تم قبول الطلب نهائيا</li>
                </ul>
            </div>
        }
        else if (Model.IsActive == -1)
        {
            <div class="validation-summary-errors3">
                <ul>
                    <li>تم رفض الطلب نهائيا</li>
                </ul>
            </div>
        }
        else
        {
            <div class="validation-summary-errors3"></div>
        }

    </div>

</div>

<div class="row">
    <div class="col-md-4 col-lg-3">
        <div class="text-center card-box">
            <div class="member-card">
                <div class="thumb-xl member-thumb m-b-10 center-block">
                    @if (Model.Photo != null)
                    {
                        <img src="@Url.Content("~"+Model.Photo)" class="img-circle img-thumbnail" alt="profile-image">

                    }
                    else
                    {
                        <img src="/img/image_placeholder.jpg" class="img-circle img-thumbnail" alt="profile-image">

                    }
                </div>
                <button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#changephoto" style="width: 100%;">تغيير الصورة</button>
                @if (Model.Username != null)
                {
                    <div class="text-left m-t-40">
                        <p class="text-muted font-13"><strong>اسم المستخدم :</strong> <span class="m-l-15">@Model.Username</span></p>
                    </div>
                    <button type="button" class="btn btn-pink btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#ResetUser">تغيير اسم المستخدم</button>
                    <button type="button" class="btn btn-purple btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#ResetPassword">تغيير كلمة المرور</button>

                }
                else
                {
                    <button type="button" class="btn btn-info btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#CreateAcount" style="width: 100%;">اضافة حساب للمانح</button>

                }

                <a href="/Employee/DonatorsBranches/Index/@Model.ID"  class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light"  style="width: 100%;">ادارة الفروع</a>


                <hr/>
                @foreach (var item in Model.DonatorContacts)
                {

                    string ids = "mycontacts" + item.ID;
                    <div class="text-left " id="@ids">
                      
                            <p class="text-muted font-13">
                                <a href="@item.Url" target="_blank">
                                    <strong style="color:#0094ff">

                                        @if (item.Type == "facebook")
                                        {
                                            <i class="fa fa-2x fa-facebook-square"></i>
                                        }
                                        else if (item.Type == "twitter")
                                        {
                                            <i class="fa fa-2x fa-twitter-square"></i>
                                        }
                                        else if (item.Type == "instgram")
                                        {
                                            <i class="fa fa-2x fa-instagram"></i>
                                        }
                                        else if (item.Type == "snapchat")
                                        {
                                            <i class="fa fa-2x fa-snapchat"></i>
                                        }
                                        else if (item.Type == "linkedin")
                                        {
                                            <i class="fa fa-2x fa-linkedin-square"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-2x fa-envelope"></i>
                                        }

                                    </strong>
                                    <span class="m-l-15">@item.Name</span>
                                </a>
                        <span onclick="getsocial(@item.ID,'@item.Name','@item.Url','@item.Type')" data-toggle="modal" data-target="#setSocial" style="margin-right: 10px;">
                            <i class="fa fa-2x fa-pencil" style="color:#00ff21"></i>
                        </span>
                        <span style="margin-right: 10px;" onclick="DeleteSocial(@item.ID)">
                            <i class="fa fa-2x fa-trash-o" style="color:#ff0000"></i>
                        </span>
                        </p>

                    </div>


                }
                <button type="button" onclick="getsocial(0,'','','')" class="btn btn-info btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#setSocial" style="width: 100%;">اضافةاكونت تواصل اجتماعي</button>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-9">
        <div class="card-box">

            <div class="row">
                <div class="col-md-12">
                    <div id="ddd" class="pull-right">
                        @if (HttpContext.Current.User.IsInRole("Admin"))
                        {
                            if (Model.IsActive == 0)
                            {
                                <button class="btn btn-success waves-effect waves-light m-b-5" onclick="acept(@Model.ID,2)"> <i class="fa fa-check-square m-r-5"></i> <span>قبول الطلب نهائيا</span> </button>
                                <button class="btn btn-info waves-effect waves-light m-b-5" onclick="acept(@Model.ID,1)"> <i class="fa fa-check-square-o m-r-5"></i> <span>قبول الطلب مؤقتا</span> </button>
                                <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="acept(@Model.ID,-1)"> <i class="fa fa-plus-square m-r-5"></i> <span>رفض الطلب</span> </button>
                            }

                        }
                    </div>

                    <a href="@Url.Action("Edits", new { id=Model.ID})" class="btn btn-success waves-effect waves-light m-b-5" > <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </a>
                    @*<button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitem(@Model.ID)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>*@


                </div>
            </div>

            <div class="row ">
                <div class="col-md-6 col-sm-6 ">



                    <div class="text-left m-t-40">
                        <p class="text-muted font-13">
                            <strong>تاريخ العقد :</strong>
                            <span class="m-l-15">
                                @{
                                    if (Model.ContractDate != null)
                                    {
                                        @Model.ContractDate.Value.ToShortDateString()
                                    }
                                }
                            </span>
                        </p>
                        <hr />
                        <p class="text-muted font-13"><strong>اسم المؤسسة :</strong><span class="m-l-15">@Model.OrgName</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong> التخصص :</strong> <span class="m-l-15">@Model.Category.Name</span></p>
                        <hr />
                        <p class="text-muted font-13">
                            <strong>تاريخ الاصدار : </strong>

                            <span class="m-l-15">
                                @{
                                    if (Model.Versiondate != null)
                                    {
                                        @Model.Versiondate.Value.ToShortDateString()
                                    }
                                }
                            </span>

                        </p>
                        <hr />
                        <p class="text-muted font-13">
                            <strong>تاريخ الزيارة : </strong>

                            <span class="m-l-15">
                                @{
                                    if (Model.VisiteDate != null)
                                    {
                                        @Model.VisiteDate.Value.ToShortDateString()
                                    }
                                }
                            </span>

                        </p>
                        <hr />
                        <p class="text-muted font-13"><strong>اسم المالك : </strong> <span class="m-l-15">@Model.OwnName</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>العنوان :</strong> <span class="m-l-15">@Model.Address</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>الايميل : </strong> <span class="m-l-15">@Model.Email</span></p>

                    </div>

                </div>

                <div class="col-md-6 col-sm-6  ">

                    <div class="text-left m-t-40">
                        <p class="text-muted font-13"><strong>التسلسل:</strong> <span class="m-l-15">@Model.ID</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>رقم السجل :</strong><span class="m-l-15">@Model.BookName</span></p>
                        <hr />
                        <p class="text-muted font-13">
                            <strong> مدة العقد :</strong>
                            <span class="m-l-15">@Model.Peroid</span>
                        </p>
                        <hr />
                        <p class="text-muted font-13">
                            <strong>تاريخ الانتهاء : </strong>

                            <span class="m-l-15">
                                @{
                                    if (Model.finishDate != null)
                                    {
                                        @Model.finishDate.Value.ToShortDateString()
                                    }
                                }
                            </span>

                        </p>
                        <hr />
                        <p class="text-muted font-13">
                            <strong>تاريخ الخصم : </strong>

                            <span class="m-l-15">
                                @{
                                    if (Model.DiscountDate != null)
                                    {
                                        @Model.DiscountDate.Value.ToShortDateString()
                                    }
                                }
                            </span>

                        </p>
                        <hr />
                        <p class="text-muted font-13"><strong>رقم الجوال : </strong> <span class="m-l-15">@Model.Phone1</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>رقم الجوال :</strong> <span class="m-l-15">@Model.Phone2</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>رقم التليفون :  </strong> <span class="m-l-15">@Model.Telephone</span></p>

                    </div>


                </div>

            </div>
            <div class="row ">
                <div class="col-sm-12">

                    <div class="text-left m-t-40">
                        <hr />
                        <p class="text-muted font-13"><strong>النشاط التجاري :</strong> <span class="m-l-15">
                            @Html.Raw(Model.TradeActivity)
                            </span>
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>



<div class="row">
    <div class="col-md-12">

        <div class="card-box">
            <h4>
                الخصم الممنوح للخدمات
                <a class="btn btn-primary waves-effect waves-light m-b-5 pull-right" data-toggle="modal" onclick="edit('','','')" data-target="#createservice" href="#">اضافة خصم</a>

            </h4>
            <div style="display: none;" class="validation-summary-errors2"></div>
            <table class="table table-hover">
                <tr>
                    <th rowspan="2">كود الخدمة</th>
                    <th rowspan="2">اسم الخدمة</th>
                    <th rowspan="2">الخصم </th>
                    <th colspan="4">الخصم المؤقت </th>

                    <th rowspan="2"></th>
                </tr>
                <tr>
                    <th>الخصم</th>
                    <th> بداية الخصم</th>
                    <th>نهاية الخصم</th>
                    <th>الهدف من الخصم</th>
                </tr>
                @foreach (var item in Model.DonatServices)
                {
                    <tr id="@item.ID">
                        <td>@item.ID</td>
                        <td>@item.Service</td>
                        <td>@item.Discount %</td>
                        @if (item.TempDiscountServices.Any(c=>c.IsAccepted==true))
                        {
                            foreach (var it in item.TempDiscountServices.Where(c => c.IsAccepted == true))
                            {
                                string datefrom = "", dateto = "";
                                if (it.DateForm != null) { datefrom = it.DateForm.Value.ToShortDateString(); }
                                if (it.DateTo != null){ dateto = it.DateTo.Value.ToShortDateString(); }
                            <td>
                                <i class="btn-success fa fa-pencil" data-toggle="modal" data-target="#TempDiscountServices" onclick="editTempDiscount(@it.Id,@it.ServiceId,'@dateto','@datefrom','@it.TimeTo','@it.TimeFrom','@it.Discount','@it.Notes')"></i>
                                <span>@it.Discount</span>
                            </td>
                            <td>
                               @datefrom
                                @it.TimeFrom
                            </td>
                            <td>
                                @dateto
                                @it.TimeTo
                            </td>
                            <td>@it.Notes</td>
                            }
                        }
                        else
                        {
                            <td>
                                <i class="btn-info fa fa-plus-square-o" data-toggle="modal" data-target="#TempDiscountServices" onclick="editTempDiscount(0,@item.ID,'','','','','')"></i>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        }

                        <td>
                            <button class="btn btn-primary waves-effect waves-light m-b-5" onclick="edit(@item.ID,'@item.Service','@item.Discount')" data-toggle="modal" data-target="#editservice">تعديل </button>
                            <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteserv(@item.ID)">حذف</button>
                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>
    <div class="col-md-12">

        <div class="card-box">
            <h4>
                الخصم الخاص من المانح للخدمات
                <a class="btn btn-primary waves-effect waves-light m-b-5 pull-right" data-toggle="modal" data-target="#createservice2" href="#">اضافة خصم</a>

            </h4>
            <div style="display: none;" class="validation-summary-errors4"></div>
            <table class="table table-hover">
                <tr>
                    <th>كود الخدمة</th>
                    <th>اسم الخدمة</th>
                    <th>الخصم </th>

                    <th></th>
                </tr>
                @foreach (var item in Model.DonatedServices)
                {
                    string id = "ed" + item.ID;
                    <tr id="@id">
                        <td>@item.ID</td>
                        <td>@item.Service</td>
                        <td>@item.Discount %</td>

                        <td>
                            <button class="btn btn-primary waves-effect waves-light m-b-5" onclick="edit2(@item.ID,'@item.Service','@item.Discount')" data-toggle="modal" data-target="#editservice2">تعديل </button>
                            <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteserv2(@item.ID)">حذف</button>

                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>


    <div class="col-md-12">
        <div id="loader10" class="aletr" style="display:none">
            جاري التحميل  ...<img src="~/img/ajax-loader.gif" />
        </div>
        <div class="validation-summary-errors20"></div>
        <div class="card-box">
            <h4>
                طلبات الخصومات
            </h4>
            <table class="table table-hover">
                <tr>
                    <th>كود الخدمة</th>
                    <th>اسم الخدمة</th>
                    <th>الخصم </th>

                    <th></th>
                </tr>
                @foreach (var item in Model.OrderServices.Where(c=>c.Status==0))
                {
                   string id = "order" + item.ID;
                    <tr id="@id">
                        <td>@item.ID</td>
                        <td>@item.Service</td>
                        <td>@item.Discount %</td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                <button class="btn btn-success" onclick="ReplyRequest(@item.ID, 1)"><i class="fa fa-check-circle fa-lg"></i></button>
                                <button class="btn btn-danger" onclick="ReplyRequest(@item.ID, -1)"><i class="fa fa-times-circle fa-lg"></i></button>
                         
                            }
                           
                         </td>
                    
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
@Html.Partial("Edit", Model)
<div class="card-box">
    <div class="row">
        <input id="pacinput" class="form-control" type="text" placeholder="اكتب اسم المنطقة" style="width:60%;">
          <div class="col-sm-6">
            <label >Latetude</label>
            <input id="mylat" name="lat" class="form-control" type="text" value="@Model.LocatLat" />
        </div>
        <div class="col-sm-6">
            <label>Langtude</label>
            <input id="mylang" name="lang" class="form-control" type="text" value="@Model.LocatLang" />
        </div>
    </div>
 <br/>
    
    <div id="mapxmap" style="width: 100%; height: 400px; margin: 0 auto;"></div>
    <button class="btn btn-success" type="button" onclick="chnagelocate(@Model.ID)">حفظ الاحداثيات</button>

  
</div>



@{
    string lang, lat, ff;
}
@if (Model.LocatLang == null || Model.LocatLat == null)
{
    lat = "24.774265";
    lang = "46.738586";
    ff = "false";
}
else
{
    lang = Model.LocatLang;
    lat = Model.LocatLat;
    ff = "true";
}
<script>

        var myf="@ff";
        var map,
            mLat,
            mLng,
            marker = [],
            loc,
            mnum = 0;

        function initialize() {



            var mylocate = new google.maps.LatLng(@lat,@lang);
            var mapOptions = {
                zoom: 7,
                center: mylocate,
                mapTypeIds: ["hybrid", "roadmap", "satellite", "terrain", "osm", "cloudmade"]
            };
            map = new google.maps.Map(document.getElementById('mapxmap'),
                mapOptions
            );
            if (myf == "true") {
                marker[mnum] = new google.maps.Marker({
                    position: mylocate,
                    animation: google.maps.Animation.BOUNCE
                });
                marker[mnum].setMap(map);
            }




            var input = document.getElementById('pacinput');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(input);

            map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
            });

            searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }
                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }
                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });

            // add a click event listener to
            // get the lat/lng from click event of map
            google.maps.event.addListener(map, 'click', function (event) {

                mLat = event.latLng.lat();
                mLng = event.latLng.lng();

                document.getElementById('mylat').value = mLat;
                document.getElementById('mylang').value = mLng;

                //--------------------------------------marker ---------------
                //remove marker----
                for (var i = 0; i < marker.length; i++) {
                    marker[i].setMap(null);
                    mnum = marker.length;
                }
                //create marker----
                loc = new google.maps.LatLng(mLat, mLng);
                marker[mnum] = new google.maps.Marker({
                    position: loc,
                    animation: google.maps.Animation.BOUNCE
                });


                marker[mnum].setMap(map);

            });

        }

       //google.maps.event.addDomListener(window, 'load', initialize);


</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAovNTHug4egjHWj2p1_iE0lUNEEwgsQZo&language=ar&libraries=places&callback=initialize" async defer></script>



@section Scripts{


    <script>
        function editTempDiscount(Id,ServiceId,DateTo,DateForm,TimeTo,TimeFrom,Discount,Notes){
            $("#Id50").val(Id);
            $("#ServiceId50").val(ServiceId);
            $("#DateTo50").val(DateTo);
            $("#DateForm50").val(DateForm);
            $("#TimeTo50").val(TimeTo);
            $("#TimeFrom50").val(TimeFrom);
            $("#Discount50").val(Discount);
            $("#Notes50").val(Notes);
        }
        function getsocial(ID,Name,Url,Type){
            $("#ID20").val(ID);
            $("#Name20").val(Name);
            $("#Url20").val(Url);
            $("#Type20").val(Type);
        }

        function chnagelocate(id) {
            var lats= $("#mylat").val();
            var langs= $("#mylang").val();
            location.href = "/Admin/Donators/ChangeLocation?id="+id+"&lat="+lats+"&lang="+langs;
        }
        function getchecket(id) {
            var cons = $("#mycheck" + id);
            if ($('#ch' + id).is(":checked")) {
                cons.prop("disabled", false);
            } else {
                cons.prop("disabled", true);
            }
        }

        function addserv() {
            //var n1 = $("#num").val();
            var item = '<div class="col-md-12">' +
                '<div class="form-group">' +
                ' <label for="OwnName" class="control-label">اسم الخدمة </label>' +
                '  <input type="text" class="form-control" required name="Service"  placeholder="اسم الخدمة">' +
                '</div>' +
                '  </div>' +

                ' <div class="col-md-12">' +
                ' <div class="form-group">' +
                '  <label for="OwnName" class="control-label">الخصم  </label>' +
                ' <input type="number" class="form-control" required name="Discount" >' +
                ' </div>' +
                '</div>';
            $("#addservice").append(item);
        }
        function addserv2() {
            //var n1 = $("#num").val();
            var item = '<div class="col-md-12">' +
                '<div class="form-group">' +
                ' <label for="OwnName" class="control-label">اسم الخدمة </label>' +
                '  <input type="text" class="form-control" required name="Service"  placeholder="اسم الخدمة">' +
                '</div>' +
                '  </div>' +

                ' <div class="col-md-12">' +
                ' <div class="form-group">' +
                '  <label for="OwnName" class="control-label">الخصم  </label>' +
                ' <input type="number" class="form-control" required name="Discount" >' +
                ' </div>' +
                '</div>';
            $("#addservice2").append(item);
        }
        function addwork() {
            //var n1 = $("#num").val();
            var item = '<div class="col-md-6">' +
                '<div class="form-group">' +
                ' <label for="OwnName" class="control-label">من الساعة </label>' +
                '  <input type="text" class="form-control" required name="ValidFrom"  >' +
                '</div>' +
                '  </div>' +

                ' <div class="col-md-6">' +
                ' <div class="form-group">' +
                '  <label for="OwnName" class="control-label">الي الساعة  </label>' +
                ' <input type="text" class="form-control" required name="validto" >' +
                ' </div>' +
                '</div>';
            $("#work").append(item);
        }
        function addcond() {
            //var n1 = $("#num").val();
            var item = '<div class="col-md-12">' +
                '  <div class="form-group">' +
                ' <label for="Name" class="control-label">شرط الخدمة  </label>' +
                '  <input type="text" class="form-control" required name="Condition"  placeholder="اكتب شرط الخدمة ">' +
                ' </div>' +
                ' </div>';
            $("#cond").append(item);
        }
        function addfeats() {
            //var n1 = $("#num").val();
            var item = '<div class="col-md-12">' +
                '  <div class="form-group">' +
                ' <label for="Name" class="control-label">مميزات الخدمة </label>' +
                '  <input type="text" class="form-control" required name="Feature"  placeholder="اكتب مميزات الخدمة ">' +
                ' </div>' +
                ' </div>';
            $("#feats").append(item);
        }

        jQuery(document).ready(function () {
            jQuery('.mydate').datepicker({ format: 'dd/mm/yyyy' });
        });

        function acept(id, va) {
            var text = "";
            if (va == 1)
                text = "هل تريد تاكيد الطلب مؤقتا";
            else if (va == 2)
                text = "هل تريد تاكيد الطلب نهائيا";
            else
                text = "هل تريد رفض الطلب ";
            if (confirm(text)) {
                $.ajax({
                    url: "/Admin/AcceptDonators/Accept?id=" + id + "&va=" + va,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#ddd").remove();
                            if (va == 1) {
                                $(".validation-summary-errors").html('<ul><li>تم قبول الطلب مؤقتا</li></ul>');
                            } else if (va == 2) {
                                $(".validation-summary-errors").html('<ul><li>تم قبول الطلب نهائيا</li></ul>');
                            } else {
                                $(".validation-summary-errors").html('<ul><li>تم رفض الطلب </li></ul>');
                            }

                        } else {
                            $(".validation-summary-errors").html('<ul><li>حدث خطا في الطلب</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>حدث خطا في الطلب</li></ul>');
                    }
                });

            }
        }


        function deleteitem(id) {
            if (confirm('هل تريد حذف  هذه المانح ؟')) {
                $.ajax({
                    url: "/Admin/Donators/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $(location).attr('href', '@Url.Action("Index")');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه المانح  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذه المانح مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function DeleteSocial(id) {
            if (confirm('هل تريد حذف  موقع التواصل  ؟')) {
                $.ajax({
                    url: "/Admin/Donators/DeleteSocial/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $(".validation-summary-errors").html('<ul><li>تم حذف موقع التواصل</li></ul>');
                        $("#mycontacts" + id).remove();
                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذه الموقع مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function edit(ID, Service, Discount) {
            $("#ID2").val(ID);
            $("#Service2").val(Service);
            $("#Discount2").val(Discount);

        }

        function deleteserv(id) {
            if (confirm('هل تريد حذف  هذا الخصم ؟')) {

                $.ajax({
                    url: "/Admin/Donators/DeleteDonserv/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors2").show();
                            $(".validation-summary-errors2").html('<ul><li>تم حذف هذا الخصم</li></ul>');

                        } else {
                            $(".validation-summary-errors2").show();
                            $(".validation-summary-errors2").html('<ul><li>هذا الخصم  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors2").show();
                        $(".validation-summary-errors2").html('<ul><li>هذا الخصم مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function edit2(ID, Service, Discount) {
            $("#ID3").val(ID);
            $("#Service3").val(Service);
            $("#Discount3").val(Discount);

        }

        function deleteserv2(id) {
            if (confirm('هل تريد حذف  هذا الخصم ؟')) {

                $.ajax({
                    url: "/Admin/Donators/DeleteDonedserv/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#ed" + id).remove();
                            $(".validation-summary-errors4").show();
                            $(".validation-summary-errors4").html('<ul><li>تم حذف هذا الخصم</li></ul>');

                        } else {
                            $(".validation-summary-errors4").show();
                            $(".validation-summary-errors4").html('<ul><li>هذا الخصم  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors4").show();
                        $(".validation-summary-errors4").html('<ul><li>هذا الخصم مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function deletework(id) {

            if (confirm('هل تريد حذف  هذه الموعد ؟')) {
                $.ajax({
                    url: "/Admin/CompleteDonatorInfo/DeleteWork/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#work" + id).remove();
                            $(".validation-summary-errors10").html('<ul><li>تم حذف الموعد</li></ul>');
                        } else {
                            $(".validation-summary-errors10").html('<ul><li>هذه الموعد  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors10").html('<ul><li>هذه الموعد مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function getwork(ID, ValidFrom, validto) {

            $("#ID30").val(ID);
            $("#ValidFrom3").val(ValidFrom);
            $("#validto3").val(validto);
        }

        function deletefeature(id) {

            if (confirm('هل تريد حذف  هذه الميزة ؟')) {
                $.ajax({
                    url: "/Admin/CompleteDonatorInfo/DeleteFeature/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#fet" + id).remove();
                            $(".validation-summary-errors10").html('<ul><li>تم حذف الميزة</li></ul>');
                        } else {
                            $(".validation-summary-errors10").html('<ul><li>هذه الميزة  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors10").html('<ul><li>هذه الميزة مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function getfeature(ID, Feature) {

            $("#ID6").val(ID);
            $("#Feature2").val(Feature);
        }

        function deletecondition(id) {

            if (confirm('هل تريد حذف  هذه الشرط ؟')) {
                $.ajax({
                    url: "/Admin/CompleteDonatorInfo/DeleteCondition/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#con" + id).remove();
                            $(".validation-summary-errors10").html('<ul><li>تم حذف الشرط</li></ul>');
                        } else {
                            $(".validation-summary-errors10").html('<ul><li>هذه الشرط  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors10").html('<ul><li>هذه الشرط مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function getcondtion(ID, Condition) {

            $("#ID10").val(ID);
            $("#Condition1").val(Condition);
        }


        function ReplyRequest(id,type) {
            $("#loader10").show();

            var text ,message;
            if (type == 1) {
                text = 'هل تريد قبول الطلب ؟';
                message = '<ul><li>تم قبول الطلب بنجاح</li></ul>';
            } else {
                text = 'هل تريد رفض  الطلب ؟';
                message = '<ul><li>تم رفض  الطلب بنجاح</li></ul>';
            }
            if (confirm(text)) {
                $.ajax({
                    url: "/Employee/Donators/RequestReplay?id=" + id+"&type="+type,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $("#loader10").hide();
                        if (result == 1) {
                            $("#order" + id).remove();
                            $(".validation-summary-errors20").html(message);

                        } else {
                            $(".validation-summary-errors20").html('<ul><li>الطلب غير موجود الان يرجي اعادة تحميل الصفحة</li></ul>');

                        }

                    },
                    error: function () {
                        $("#loader10").hide();
                        $(".validation-summary-errors20").html('<ul><li>خطا في الطلب</li></ul>');

                    }
                });

            }
        }

    </script>
    

    
    
}