﻿@model Mallamed.Entity.Donator
@{
    ViewBag.Title = "Edits";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br />
<br />
<br />

@Html.Raw(TempData["msg"])

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> @ViewBag.tit</h4>
        </div>
    </div>
</div>


<div class="content-page">
    <div class="card-box">


        <div class="content">

            <a href="@Url.Action("Index")" class="btn btn-warning waves-effect waves-light m-b-5"> <i class="fa fa-mail-reply m-r-5"></i> <span>الرجوع الي القائمة</span> </a>
            <a href="/Admin/Donators/Edits" class="btn btn-info waves-effect waves-light m-b-5"> <i class="fa fa-plus m-r-5"></i> <span>اضافة مانح جديد</span> </a>

            @Html.ValidationSummary(true)
            <div class="card-box">

                @using (Html.BeginForm("Edit", "Donators", FormMethod.Post, new { id = "myform" }))
                {
                    @Html.HiddenFor(c => c.ID)
                    @Html.HiddenFor(c => c.LocatLat)
                    @Html.HiddenFor(c => c.LocatLang)
                    @Html.HiddenFor(c => c.IsActive)
                    @Html.HiddenFor(c => c.Username)
                    @Html.HiddenFor(c => c.Photo)
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="OwnName" class="control-label">اسم المالك </label>
                                    <input type="text" class="form-control" required name="OwnName" id="OwnName" placeholder="اسم المالك" value="@Model.OwnName">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="OrgName" class="control-label">اسم المنظمة</label>
                                    <input type="text" class="form-control" required name="OrgName" id="OrgName" placeholder="اسم المنظمة" value="@Model.OrgName">

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">اسم المسؤول </label>
                                    <input type="text" class="form-control" required name="ResponsableName" id="ResponsableName" placeholder="اسم المسؤول" value="@Model.ResponsableName">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="BookName" class="control-label">رقم السجل</label>
                                    <input type="text" class="form-control" required name="BookName" maxlength="10" id="BookName" placeholder="رقم السجل" value="@Model.BookName">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">القسم </label>
                                    @Html.DropDownList("CatID", null, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">تاريخ الاصدار </label>
                                    <div class="input-group">
                                        <input type="date" class="form-control " required name="Versiondate" id="Versiondate" placeholder="5/19/2017" value="@Model.Versiondate">
                                        <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">تاريخ بداية العقد </label>
                                    <div class="input-group">
                                        <input type="date" class="form-control " required name="ContractDate" id="ContractDate" placeholder="5/19/2017" value="@Model.ContractDate">
                                        <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="finishDate" class="control-label">تاريخ انتهاء العقد </label>
                                    <div class="input-group">
                                        <input type="date" class="form-control " required name="finishDate" id="finishDate" placeholder="5/19/2017" value="@Model.finishDate">
                                        <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">تاريخ الزيارة </label>
                                    <div class="input-group">
                                        <input type="date" class="form-control " required name="VisiteDate" id="VisiteDate" placeholder="5/19/2017" value="@Model.VisiteDate">
                                        <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">تاريخ الخصم </label>
                                    <div class="input-group">
                                        <input type="date" class="form-control " required name="DiscountDate" id="DiscountDate" placeholder="5/19/2017" value="@Model.DiscountDate">
                                        <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>
                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">المنطقة </label>
                                    @Html.DropDownList("RegionId", null, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">العنوان </label>
                                    <input type="text" class="form-control" required name="Address" id="Address" placeholder="العنوان" value="@Model.Address">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="BookName" class="control-label">الايميل</label>
                                    <input type="text" class="form-control" required name="Email" id="Email" placeholder="الايميل" value="@Model.Email">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">رقم الجوال 1 </label>
                                    <input type="text" class="form-control" name="Phone1" id="Phone1" placeholder="رقم الجوال 1" value="@Model.Phone1">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">رقم الجوال 2 </label>
                                    <input type="text" class="form-control" name="Phone2" id="Phone2" placeholder="رقم الجوال 2" value="@Model.Phone2">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ResponsableName" class="control-label">التليفون  </label>
                                    <input type="text" class="form-control" name="Telephone" id="Telephone" placeholder="التليفون " value="@Model.Telephone">
                                </div>
                            </div>


                        </div>


                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="BookName" class="control-label">النشاط التجاري</label>

                                    <textarea class="form-control TradeActivity" required name="TradeActivity" id="TradeActivity" placeholder="النشاط التجاري" rows="6">@Model.TradeActivity</textarea>
                                </div>
                            </div>
                        </div>
                        <script>
                            CKEDITOR.replace('TradeActivity');
                        </script>
                        <input type="hidden" name="versdate" id="versdate" />
                        <input type="hidden" name="findate" id="findate" />
                        <input type="hidden" name="visdate" id="visdate" />
                        <input type="hidden" name="condate" id="condate" />
                        <input type="hidden" name="disdate" id="disdate" />
                    </div>
                    <a onclick="getSubmitForm()" class="btn btn-info waves-effect waves-light">حفظ المانح</a>

                }
            </div>

            @section Scripts{
                <script src="~/Scripts/ckeditor/ckeditor.js"></script>
                <script src="~/Scripts/datetime/js/locales/bootstrap-datetimepicker.ar.js"></script>
                @*<script>
                        jQuery(document).ready(function () {
                            jQuery('#ContractDate').datetimepicker({
                                autoclose: true,
                                todayBtn: true,
                                startDate: "2017-06-01",
                                minuteStep: 10
                            });
                            jQuery('#Versiondate').datetimepicker({
                                autoclose: true,
                                todayBtn: true,
                                startDate: "2017-06-01",
                                minuteStep: 10
                            });
                            jQuery('#DiscountDate').datetimepicker({
                                autoclose: true,
                                todayBtn: true,
                                startDate: "2017-06-01",
                                minuteStep: 10
                            });
                            jQuery('#VisiteDate').datetimepicker({
                                autoclose: true,
                                todayBtn: true,
                                startDate: "2017-06-01 ",
                                minuteStep: 10
                            });
                            jQuery('#finishDate').datetimepicker({
                                autoclose: true,
                                todayBtn: true,
                                startDate: "2017-06-01",
                                minuteStep: 10
                            });
                        });

                        //jQuery(document).ready(function () {
                        //    var Versiondate = $("#Versiondate").val();
                        //    $("#Versiondate").val(new Date(Versiondate));
                        //    var finishDate = $("#finishDate").val();
                        //    $("#finishDate").val(new Date(finishDate));
                        //    var VisiteDate = $("#VisiteDate").val();
                        //    $("#VisiteDate").val(new Date(VisiteDate));
                        //    var ContractDate = $("#ContractDate").val();
                        //    $("#ContractDate").val(new Date(ContractDate));
                        //    var DiscountDate = $("#DiscountDate").val();
                        //    $("#DiscountDate").val(new Date(DiscountDate));
                        //});

                    </script>*@
                <script>
                    function getSubmitForm() {
                        $('form#myform').submit();
                    }
                </script>

            }


        </div>
    </div>
</div>
