﻿
@model  IEnumerable<Core.Viewmodels.Admin.DonatorsVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Raw(TempData["msg"])


<div class="content-page">

    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        @*<h4 class="page-title">الشروط</h4>*@
                        <ol class="breadcrumb float-left">
                            <li class="breadcrumb-item"><a href="#">الرئسيه</a></li>
                            <li class="breadcrumb-item"><a href="#">  المانحين </a></li>
                            <li class="breadcrumb-item active">جميع  المانحين</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-12">
                    <div class="card-box table-responsive">
                        @*<input type="button" id="AddNew" onclick="Create()" class="btn btn-circle blue New" value="Add" />*@
                        @*data-toggle="modal" data-target="#con-close-modal"*@

                        @*<button type="button" class="btn btn-success waves-effect waves-light" onclick="Create()">اضافه جديد</button>*@

                        <a class="btn btn-success waves-effect waves-light"  href="@Url.Action("Create")">اضافه جديد</a>


                        <br />
                        <br />

                        <table id="datatable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>رقم التسلسل</th>

                                    <th>اسم المالك    </th>
                                    <th>اسم المنظمه   </th>
                                    <th>اسم المسؤل    </th>
                                    <th>رقم السجل     </th>



                                    <th></th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
            {

                    <tr>
                        <td>@item.ID</td>
                        <td>@item.OwnName</td>
                        <td>@item.OrgName</td>

                        <td>
                            @item.ResponsableName
                        </td>
                        <td>@item.BookName</td>

                        <td>
                            <a href="@Url.Action("Edits",new { Id=item.ID})" class="btn btn-info btn-rounded w-md waves-effect waves-light m-b-5">تعديل</a>

                            @*<a href="@Url.Action("Edit",new { Id=item.ID})" class="btn btn- btn-rounded w-md waves-effect waves-light m-b-5">حذف</a>*@
                            <a href="@Url.Action("Details",new { Id=item.ID})" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">تفاصيل</a>


                            <a href="@Url.Action("Delete",new { Id=item.ID})" class="btn btn-danger btn-rounded w-md waves-effect waves-light m-b-5">حذف</a>

                        </td>

                    </tr>
}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
</div>
@*<script src="~/Areas/Admin/Scripts/Events.js"></script>*@
<script src="~/Areas/Admin/Scripts/Donators.js"></script>