﻿
@model  IEnumerable<Core.Viewmodels.Admin.ContactWebSiteVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="content-page">

    <div class="content">
        <div class="container-fluid">



            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        @*<h4 class="page-title">الشروط</h4>*@
                        <ol class="breadcrumb float-left">
                            <li class="breadcrumb-item"><a href="#">الرئسيه</a></li>
                            <li class="breadcrumb-item"><a href="#"> اتصل بنا   </a></li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-12">
                    <div class="card-box table-responsive">
                        @*<input type="button" id="AddNew" onclick="Create()" class="btn btn-circle blue New" value="Add" />*@
                        @*data-toggle="modal" data-target="#con-close-modal"*@


                        <br />
                        <br />

                        <table id="datatable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>رقم التسلسل</th>

                                    <th>الاسم    </th>
                                    <th>رقم الموبيل    </th>
                                    <th>البريد الالكترونى    </th>
                                    <th>الرساله     </th>
                                    <th>العنوان     </th>


                                    <th></th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
                                {

                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>@item.Phone</td>

                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @item.Messages
                                    </td>
                                    <td>
                                        @item.Address
                                    </td>

                                    <td>

                                        <a href="@Url.Action("Delete",new { Id=item.ID})" class="btn btn-danger btn-rounded w-md waves-effect waves-light m-b-5">حذف</a>

                                    </td>

                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="con-close-modal" class="modal fade" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
</div>
