﻿@model Core.Viewmodels.Admin.LandMarkFm
@using (Html.BeginForm("Create", "LandMarks", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">اضافه  المعالم </h4>
            </div>

            <div class="modal-body">

                <input type="text" class="form-control" hidden id="Id" value="@Model.Id" name="Id">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label"> المدينه   </label>
                            @Html.DropDownListFor(x => Model.CityId, (List<SelectListItem>)ViewBag.Cities, new { @class = "form-control", @onchange = "CallChangefunc(this.value)", @required= "required" })

                            @*@Html.DropDownList("RegionId", ViewBag.Regions as SelectList, "اخنر المنطقه", new { @class = "form-control select5", @Required = "Required", @id = "RegionId", @name = "RegionId" })*@
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <label for="Name" class="control-label">المحافظه   </label>

                        <div class="form-group" id="divNeighbourhood" >
                            @*@Html.DropDownList("RegionId", Enumerable.Empty<SelectListItem>(), "المحافظات", new { @class = "form-control" })*@

                            @Html.DropDownListFor(x => Model.RegionId, (List<SelectListItem>)ViewBag.RegionId, new { @class = "form-control" , @required = "required" })


                        </div>
                    </div>
                </div>
                <br />


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">نوع المعلم    </label>

                            @Html.DropDownListFor(x => Model.LandmarkID, (List<SelectListItem>)ViewBag.ListLandMark, new { @class = "form-control" , @required = "required" })
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">اسم المعلم  </label>
                            <input type="text" class="form-control" required name="Name" id="Name" placeholder="اسم المعلم " value="@Model.Name">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">المرجع   </label>
                            <input type="text" class="form-control" name="Reference" id="Reference" value="@Model.Name" placeholder="اسم الفاعليه ">
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group ">
                            <label for="Name" class="control-label">البريد الالكترونى  </label>
                            <input type="text" class="form-control" name="Email" id="Email" placeholder="البريد الالكترونى  " value="@Model.Email">
                        </div>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label for="Name" class="control-label">Longx   </label>
                            <input type="text" class="form-control" name="LongX" id="LongX" placeholder="LongX  " value="@Model.LongX">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Name" class="control-label">LatX   </label>
                            <input type="text" class="form-control" name="LatX" id="LatX" placeholder="LatX  " value="@Model.LatX">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group ">
                            <label for="Name" class="control-label">المدير   </label>
                            <input type="text" class="form-control" name="Owner" id="Owner" placeholder=" مدير المعلم  " value="@Model.Owner">
                        </div>

                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">التفاصيل  </label>
                            <input type="text" class="form-control" name="Details" value="@Model.Details" id="Details" placeholder="التفاصيل  ">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.TextBox("file", null, new { @id = "input-1700", @type = "file", @class = "file-loading", @accept = "image/*" })
                            <script>
                                $("#input-1700").fileinput({
                                    maxFileCount: 1,
                                    allowedFileExtensions: ["jpg", "png", "gif"],
                                    browseLabel: " إضغط لإختيار صورة ..",
                                    browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                    browseClass: "btn btn-primary btn-block",
                                    showCaption: false,
                                    showRemove: false,
                                    showUpload: false
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.TextBox("file", null, new { @id = "input-17000", @type = "file", @class = "file-loading" })
                            <script>
                                $("#input-17000").fileinput({
                                    maxFileCount: 1,

                                    browseLabel: " إضغط لإختيار فديو ..",
                                    browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                    browseClass: "btn btn-primary btn-block",
                                    showCaption: false,
                                    showRemove: false,
                                    showUpload: false
                                });
                            </script>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <input type="submit" class="btn btn-info waves-effect waves-light"  value="حفظ" />
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">اغلاق</button>

            </div>
            
        </div>
    </div>

        


}
<script>

               function CallChangefunc(Id) {
                   $.ajax({
                       url: "/Admin/LandMarks/GetRegion/" + Id,
                       contentType: 'application/html ; charset:utf-8',
                       type: 'GET',
                       dataType: 'html',
                       success: function (result) {

                           $("#divNeighbourhood").html(result);
                           $("#preholder").hide();
                       },
                       error: function (result) {

                           $("#divNeighbourhood").html("");
                           $("#preholder").hide();
                       }
                   });
               }
</script>