﻿@model Mallamed.Entity.Landmark

@{ 
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}




<div class="row">
    <div class="col-sm-4">
        <h3 class="page-title">تفاصيل المعلم</h3>
    </div>
    <div class="col-sm-4">
        @Html.ValidationSummary(true)
    </div>
   

</div>

<div class="row">
    <div class="col-md-4 col-lg-3">
        <div class="text-center card-box">
            <div class="member-card">
                <div class="thumb-xl member-thumb m-b-10 center-block">
                    @if (Model.PhotoPath != null)
                    {
                        <img src="~/Uploads/@Model.PhotoPath" class="img-circle img-thumbnail" alt="profile-image">

                    }
                    else
                    {
                        <img src="/img/image_placeholder.jpg" class="img-circle img-thumbnail" alt="profile-image">

                    }
                </div>
                @*<button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#changephoto" style="width: 100%;">تغيير الصورة</button>*@
                @if (Model.Name != null)
                {
                    <div class="text-left m-t-40">
                        <p class="text-muted font-13"><strong>اسم المعلم :</strong> <span class="m-l-15">@Model.Name</span></p>
                    </div>
                    @*<button type="button" class="btn btn-pink btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#ResetUser">تغيير اسم المستخدم</button>*@
                    @*<button type="button" class="btn btn-purple btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#ResetPassword">تغيير كلمة المرور</button>*@
                    <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editformLandmark(@Model.Id,'@Model.Name','@Model.Id','@Model.Email','@Model.Details','@Model.LandmarkId','@Model.Owner')" data-toggle="modal" data-target="#EditClientsLand"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>

                }


                <hr />

            </div>
        </div>
    </div>



    <div id="EditClientsLand" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">تعديل واضافة معلم</h4>
                </div>
                @using (Html.BeginForm("Edit", "LandMarks", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    
                    <div class="modal-body">
                        <input type="text" id="IdLandmark" name="IdLandmark"  hidden/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">المنطقه   </label>
                                    @Html.DropDownList("RegionId", ViewBag.Regions as SelectList, "اخنر المنطقه", new { @class = "form-control select5", @Required = "Required", @id = "RegionId", @name = "RegionId" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">المعالم   </label>

                                    @Html.DropDownList("LandmarkId", ViewBag.LandmarkTyps as SelectList, "اخنر المعلم", new { @class = "form-control select5", @Required = "Required", @id = "LandmarkId", @name = "LandmarkId" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">اسم المعلم  </label>
                                    <input type="text" class="form-control" required name="Name" id="Name" placeholder="اسم القسم ">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <label for="Name" class="control-label">البريد الالكترونى  </label>
                                    <input type="text" class="form-control" required name="Email" id="Email" placeholder="البريد الالكترونى  ">
                                </div>

                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <label for="Name" class="control-label">المدير   </label>
                                    <input type="text" class="form-control" required name="Owner" id="Owner" placeholder=" مدير المعلم  ">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">التفاصيل  </label>
                                    <input type="text" class="form-control" required name="Details" id="Details" placeholder="التفاصيل  ">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextBox("file", null, new { @id = "input-1700", @type = "file", @class = "file-loading", @accept = "image/*" })
                                    <script>
                                        $("#input-1700").fileinput({
                                            maxFileCount: 1,
                                            allowedFileExtensions: ["jpg", "png", "gif"],
                                            browseLabel: " إضغط لإختيار صورة ..",
                                            browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                            browseClass: "btn btn-primary btn-block",
                                            showCaption: false,
                                            showRemove: false,
                                            showUpload: false
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextBox("file", null, new { @id = "input-17000", @type = "file", @class = "file-loading" })
                                    <script>
                                        $("#input-17000").fileinput({
                                            maxFileCount: 1,

                                            browseLabel: " إضغط لإختيار فديو ..",
                                          
                                            browseClass: "btn btn-primary btn-block",
                                            showCaption: false,
                                            showRemove: false,
                                            showUpload: false
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                        <button type="submit" class="btn btn-info waves-effect waves-light">حفظ المعلم</button>
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="col-md-8 col-lg-9">
        <div class="card-box">



            <div class="row ">
                <div class="col-md-6 col-sm-6 ">



                    <div class="text-left m-t-40">
                        <p class="text-muted font-13">
                            <strong>اسم المعلم  :</strong>
                            <span class="m-l-15">



                                @Model.Name


                            </span>
                        </p>
                        <hr />
                        <p class="text-muted font-13"><strong>الايميل   :</strong><span class="m-l-15">@Model.Email</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong> اسم المنطقه :</strong> <span class="m-l-15">@Model.Region.Name</span></p>
                        <hr />



                        <hr />
                        <p class="text-muted font-13"><strong>اسم المالك : </strong> <span class="m-l-15">@Model.Owner</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>نوع المعلم :</strong> <span class="m-l-15">@Model.LandmarkType.Name</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong> الخصوصيه: </strong> <span class="m-l-15">@Model.CopyRight</span></p>

                    </div>

                </div>

                @*<div class="col-md-6 col-sm-6  ">

                    <div class="text-left m-t-40">
                        <p class="text-muted font-13"><strong>التسلسل:</strong> <span class="m-l-15">@Model.Id</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>الموقع  :</strong><span class="m-l-15">@Model.LongX</span></p>
                        <hr />
                        <p class="text-muted font-13">
                            <strong> الموقع  :</strong>
                            <span class="m-l-15">@Model.LatX</span>
                        </p>
                        <hr />


                    </div>


                </div>*@

            </div>


        </div>

    </div>
</div>





<div class="row">
    <div class="col-md-12">

        <div class="card-box">
            <h4>
                اوقات العمل
                <button class="btn btn-primary waves-effect waves-light m-b-5 pull-right" data-toggle="modal" onclick="editformTime('0', '');" data-target="#EditClients"> <i class="fa fa-plus m-r-5"></i> <span>اضافة  </span> </button>

            </h4>
            <div style="display: none;" class="validation-summary-errors2"></div>
            <table class="table table-hover">
                <tr>
                    <th> الكود</th>
                    <th>الساعه من </th>
                    <th>الساعه الى</th>
                    <th>اليوم من </th>
                    <th>اليوم الى  </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.LandmarkWorkTimes)
                {
                    <tr id="@item.Id">
                        <td>@item.Id</td>
                        <td>@item.ValidTimeFrom</td>
                        <td>@item.ValidTimeTo</td>
                        <td>@item.ValidDayFrom </td>
                        <td>@item.ValidDayTo </td>


                        <td>
                            <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editformTime(@item.Id,'@item.ValidTimeFrom','@item.ValidTimeTo','@item.ValidDayFrom','@item.ValidDayTo')" data-toggle="modal" data-target="#EditClients"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
                            <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitemTime(@item.Id,@item.LandmarkId)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>

                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>


    <div id="EditClients" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">تعديل واضافة مواعيد العمل</h4>
                </div>
                @using (Html.BeginForm("Create", "LandmarkWorkTime", FormMethod.Post))
                {
                    
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" id="LandmarkId" name="LandmarkId" value="@Model.Id" hidden />
                                    <input type="text" id="IdTime" name="IdTime"  hidden />

                                    @*@Html.DropDownList("LandmarkId", ViewBag.Landmarks as SelectList, "اخنر المنطقه", new { @class = "form-control select5", @Required = "Required", @id = "LandmarkId", @name = "LandmarkId" })*@

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <label for="Name" class="control-label">الساعه من   </label>
                                    <input class="form-control"  required name="ValidTimeFrom" id="ValidTimeFrom" placeholder="من   " />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Name" class="control-label">الساعه الى   </label>
                                    <input class="form-control"  required name="ValidTimeTo" id="ValidTimeTo" placeholder="الى   " />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <label for="Name" class="control-label">الايام من   </label>
                                    <input class="form-control"  required name="ValidDayFrom" id="ValidDayFrom" placeholder="من  " />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Name" class="control-label">الايام الى  </label>
                                    <input class="form-control" required name="ValidDayTo" id="ValidDayTo" placeholder="الى " />
                                </div>
                            </div>
                        </div>





                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                        <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الموعد</button>
                    </div>
                }

            </div>
        </div>
    </div><div class="col-md-12">

        <div class="card-box">
            <h4>
                ارقام التلفونات
                <a class="btn btn-primary waves-effect waves-light m-b-5 pull-right" data-toggle="modal" onclick="editformPhone('0','');" data-target="#EditClients11" href="#">اضافة رقم</a>

            </h4>
            <div style="display: none;" class="validation-summary-errors2"></div>
            <table class="table table-hover">
                <tr>
                    <th> الكود</th>
                    <th> الرقم </th>

                    <th></th>
                </tr>

                @foreach (var item in Model.LandmarkPhones)
                {
                    <tr id="@item.Id">

                        <td>@item.Id</td>
                        <td>@item.PhoneNumber</td>



                        <td>
                            <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editformPhone('@item.Id','@item.PhoneNumber')" data-toggle="modal" data-target="#EditClients11"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
                            <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitemPhone(@item.Id)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>

                        </td>
                    </tr>
                }

            </table>
        </div>




    </div>


    <div id="EditClients11" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">تعديل واضافة رقم</h4>
                </div>
                @using (Html.BeginForm("Create", "LandmarkPhones", FormMethod.Post))
    {

           
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" id="LandmarkId" name="LandmarkId" hidden value="@Model.Id"  />
                            <input type="text" id="Idph" name="Idph"  hidden />

                            @*@Html.DropDownList("LandmarkId", ViewBag.Landmarks as SelectList, "اخنر المنطقه", new { @class = "form-control select5", @Required = "Required", @id = "LandmarkId", @name = "LandmarkId" })*@

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label"> الرقم  </label>
                            <input type="text" class="form-control" required name="PhoneNumber" id="PhoneNumber" placeholder=" الرقم  ">
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الرقم</button>
            </div>
}

            </div>
        </div>
    </div>


    <div id="EditClientsSo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">تعديل واضافة حساب</h4>
                </div>
                @using (Html.BeginForm("Create", "LandmarkSocialMedia", FormMethod.Post))
                {
                   

                <div class="modal-body">
                    <input type="text" name="LandmarkId" id="LandmarkId" hidden value="@Model.Id" />

                    <input type="text" name="IdSo" id="IdSo"  hidden  />


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">نوع الاكونت  </label>
                                <select class="form-control" id="type" name="type" required>
                                    <option value="">يرجي تحديد الموقع</option>
                                    <option value="FaceBook">فيس بوك</option>
                                    <option value="Twitter">تويتر</option>
                                    <option value="Instegram">انستجرام</option>
                                    <option value="Linkedin">لينكدا ان</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">رابط الاكونت  </label>
                                <input class="form-control" type="text" required name="Link" id="Link" placeholder="رابط الاكونت  " />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">العرض  </label>
                                <select class="form-control" id="Isactive" name="Isactive" required>
                                    <option value="true">يعرض</option>
                                    <option value="false">لا يعرض</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                        <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الحساب</button>
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="col-md-12">

        <div class="card-box">
            <h4>
                حسابات التواصل
                <a class="btn btn-primary waves-effect waves-light m-b-5 pull-right" data-toggle="modal" onclick="editformSo('0', '');" data-target="#EditClientsSo" href="#">اضافة حساب</a>

            </h4>
            <div style="display: none;" class="validation-summary-errors2"></div>
            <table class="table table-hover">
                <tr>
                    <th> الكود</th>
                    <th> النوع </th>
                    <th> اللينك </th>



                    <th></th>
                </tr>

                @foreach (var item in Model.LandmarkSocialMedias)
                {
                <tr id="@item.Id">
                    <td>@item.Id</td>
                    <td>@item.type</td>
                    <td>@item.Link</td>




                    <td>
                        <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editformSo(@item.Id,'@item.Link','@item.type')" data-toggle="modal" data-target="#EditClientsSo"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
                        <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitemSo(@item.Id)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>

                    </td>
                </tr>
                }

            </table>
        </div>

    </div>




    <div class="col-md-12">

        <div class="card-box">
            <h4>
                صور المعلم 
                <a class="btn btn-primary waves-effect waves-light m-b-5 pull-right" data-toggle="modal" onclick="editformphto('0', '');" data-target="#EditClientsphto" href="#">اضافة صوره</a>

            </h4>
            <div style="display: none;" class="validation-summary-errors2"></div>
            <table class="table table-hover">
                <tr>
                    <th> الكود</th>
                    <th> الصوره </th>



                    <th></th>
                </tr>

                @foreach (var item in Model.LandmarkPhotos)
                {
                    <tr id="@item.Id">
                        <td>@item.Id</td>
                        <td><img style="width:100px; height:100px;" src="~/Uploads/@item.PhotoPath" /></td>




                        <td>
                            <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editformphto(@item.Id,'@item.LandmarkId','@item.CardId')" data-toggle="modal" data-target="#EditClientsphto"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
                            <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitemphto(@item.Id)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>


                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>




    <div id="EditClientsphto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">تعديل واضافة صوره</h4>
                </div>
                @using (Html.BeginForm("Create", "LandMarkPhoto", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                   
                <div class="modal-body">



                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="LandmarkId" id="LandmarkId" value="@Model.Id" hidden />
                            <input type="text" name="IdPhoto" id="IdPhoto" hidden />
                        </div>
                    </div>






                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">البطاقه   </label>

                                @Html.DropDownList("CardId", (List<SelectListItem>)ViewBag.ListCards, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.TextBox("file", null, new { @id = "input-170000", @type = "file", @class = "file-loading", @accept = "image/*" })
                                <script>
                                    $("#input-170000").fileinput({
                                        maxFileCount: 1,
                                        allowedFileExtensions: ["jpg", "png", "gif"],
                                        browseLabel: " إضغط لإختيار صورة ..",
                                        browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                        browseClass: "btn btn-primary btn-block",
                                        showCaption: false,
                                        showRemove: false,
                                        showUpload: false
                                    });
                                </script>
                            </div>
                        </div>
                    </div>

                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                        <button type="submit" class="btn btn-info waves-effect waves-light">حفظ المعلم</button>
                    </div>
                }

            </div>
        </div>
    </div>



</div>
    

<div class="card-box">
    <div class="row">
        <input id="pacinput" class="form-control" type="text" placeholder="اكتب اسم المنطقة" style="width:60%;">
        <div class="col-sm-6">
            <label>Latetude</label>
            <input id="mylat" name="lat" class="form-control" type="text" value="@Model.LatX" />
        </div>
        <div class="col-sm-6">
            <label>Langtude</label>
            <input id="mylang" name="lang" class="form-control" type="text" value="@Model.LongX" />
        </div>
    </div>
    <br />

    <div id="mapxmap" style="width: 100%; height: 400px; margin: 0 auto;"></div>
    <button class="btn btn-success" type="button" onclick="chnagelocate(@Model.Id)">حفظ الاحداثيات</button>


</div>



@{
    string lang, lat, ff;
}
@if (Model.LongX == null || Model.LatX == null)
{
    lat = "24.774265";
    lang = "46.738586";
    ff = "false";
}
else
{
    lang = Model.LatX;
    lat = Model.LongX;
    ff = "true";
}
<script>

        var myf="@ff";
        var map,
            mLat,
            mLng,
            marker = [],
            loc,
            mnum = 0;

        function initialize() {



            var mylocate = new google.maps.LatLng(@lat,@lang);
            var mapOptions = {
                zoom: 7,
                center: mylocate,
                mapTypeIds: ["hybrid", "roadmap", "satellite", "terrain", "osm", "cloudmade"]
            };
            map = new google.maps.Map(document.getElementById('mapxmap'),
                mapOptions
            );


            var input = document.getElementById('pacinput');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(input);

            map.addListener('bounds_changed', function () {
                searchBox.setBounds(map.getBounds());
            });

            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }
                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function (place) {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }
                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });

            if (myf == "true") {
                marker[mnum] = new google.maps.Marker({
                    position: mylocate,
                    animation: google.maps.Animation.BOUNCE
                });
                marker[mnum].setMap(map);
            }




           
            // add a click event listener to
            // get the lat/lng from click event of map
            google.maps.event.addListener(map, 'click', function (event) {

                mLat = event.latLng.lat();
                mLng = event.latLng.lng();

                document.getElementById('mylat').value = mLat;
                document.getElementById('mylang').value = mLng;

                //--------------------------------------marker ---------------
                //remove marker----
                for (var i = 0; i < marker.length; i++) {
                    marker[i].setMap(null);
                    mnum = marker.length;
                }
                //create marker----
                loc = new google.maps.LatLng(mLat, mLng);
                marker[mnum] = new google.maps.Marker({
                    position: loc,
                    animation: google.maps.Animation.BOUNCE
                });


                marker[mnum].setMap(map);

            });

        }

       //google.maps.event.addDomListener(window, 'load', initialize);


</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAovNTHug4egjHWj2p1_iE0lUNEEwgsQZo&language=ar&libraries=places&callback=initialize" async defer></script>



@section Scripts{


<script>


        function editformphto(Id, LandmarkId, CardId) {
            $("#IdPhoto").val(Id);
            $("#LandmarkId").val(LandmarkId);
            $("#CardId").val(CardId);





        }

        function deleteitemphto(IdPhoto) {
            if (confirm('هل تريد حذف  هذه الصوره ؟')) {
                $.ajax({
                    url: "/Admin/landmarkphoto/Delete/" + IdPhoto,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + IdPhoto).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف صوره المعلم</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه المعلم  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذه المعلم مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function editformSo(ID, Link, type) {

            $("#IdSo").val(ID);
            $("#Link").val(Link);
            $("#type").val(type);


        }

        function deleteitemSo(IdSo) {
            if (confirm('هل تريد حذف  هذه الحساب ؟')) {
                $.ajax({
                    url: "/Admin/LandmarkSocialMedia/Delete/" + IdSo,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + IdSo).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف الحساب</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه الحساب  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذه الحساب مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function editformLandmark(Id, Name, RegionName, Email, Details, LandmarkId, LatX, longx, Owner) {
            $("#IdLandmark").val(Id);
            $("#RegionName").val(RegionName);
            $("#Email").val(Email);
            $("#Details").val(Details);
            $("#LandmarkId").val(LandmarkId);
            $("#LatX").val(LatX);
            $("#Longx").val(longx);
            $("#Owner").val(Owner);

            $("#Name").val(Name);

        }
        function editformPhone(IdPhone, PhoneNumber) {
            $("#Idph").val(IdPhone);
            $("#PhoneNumber").val(PhoneNumber);


        }

        function deleteitemPhone(IdPho) {
            if (confirm('هل تريد حذف  هذه الرقم ؟')) {
                $.ajax({
                    url: "/Admin/LandmarkPhones/Delete/" + IdPho,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + IdPho).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف القسم</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه القسم  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذه القسم مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }
   
        function editformTime(Id, ValidTimeFrom, ValidTimeTo, ValidDayFrom, ValidDayTo) {
            $("#IdTime").val(Id);
        $("#ValidTimeFrom").val(ValidTimeFrom);
            $("#ValidTimeTo").val(ValidTimeTo);
            $("#ValidDayFrom").val(ValidDayFrom);
            $("#ValidDayTo").val(ValidDayTo);


        }

        function deleteitemTime(IdTime,LandmarkId) {
            if (confirm('هل تريد حذف  هذه الوقت ؟'))
            {
            $.ajax({
                url: "/Admin/LandmarkWorkTime/Delete/" ,
                data: { Id: IdTime, LandmarkId: LandmarkId },
                contentType:'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    if (result == 1) {
                        $("#" + IdTime).remove();
                        $(".validation-summary-errors").html('<ul><li>تم حذف الموعد</li></ul>');
                    } else {
                        $(".validation-summary-errors").html('<ul><li>هذا الموعد  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }

                },
                error: function () {
                    $(".validation-summary-errors").html('<ul><li>هذا الموعد مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                }
            });

        }
        }

        ////////////
        function editTempDiscount(Id,ServiceId,DateTo,DateForm,TimeTo,TimeFrom,Discount,Notes){
            $("#Id50").val(Id);
            $("#ServiceId50").val(ServiceId);
            $("#DateTo50").val(DateTo);
            $("#DateForm50").val(DateForm);
            $("#TimeTo50").val(TimeTo);
            $("#TimeFrom50").val(TimeFrom);
            $("#Discount50").val(Discount);
            $("#Notes50").val(Notes);
        }
        function getsocial(ID,Name,Url,Type){
            $("#ID20").val(ID);
            $("#Name20").val(Name);
            $("#Url20").val(Url);
            $("#Type20").val(Type);
        }

        function chnagelocate(id) {
            var lats= $("#mylat").val();
            var langs= $("#mylang").val();
            location.href = "/Admin/Landmarks/ChangeLocation?id="+id+"&lat="+lats+"&lang="+langs;
        }
        function getchecket(id) {
            var cons = $("#mycheck" + id);
            if ($('#ch' + id).is(":checked")) {
                cons.prop("disabled", false);
            } else {
                cons.prop("disabled", true);
            }
        }

        function addserv() {
            //var n1 = $("#num").val();
            var item = '<div class="col-md-12">' +
                '<div class="form-group">' +
                ' <label for="OwnName" class="control-label">اسم الخدمة </label>' +
                '  <input type="text" class="form-control" required name="Service"  placeholder="اسم الخدمة">' +
                '</div>' +
                '  </div>' +

                ' <div class="col-md-12">' +
                ' <div class="form-group">' +
                '  <label for="OwnName" class="control-label">الخصم  </label>' +
                ' <input type="number" class="form-control" required name="Discount" >' +
                ' </div>' +
                '</div>';
            $("#addservice").append(item);
        }
        function addserv2() {
            //var n1 = $("#num").val();
            var item = '<div class="col-md-12">' +
                '<div class="form-group">' +
                ' <label for="OwnName" class="control-label">اسم الخدمة </label>' +
                '  <input type="text" class="form-control" required name="Service"  placeholder="اسم الخدمة">' +
                '</div>' +
                '  </div>' +

                ' <div class="col-md-12">' +
                ' <div class="form-group">' +
                '  <label for="OwnName" class="control-label">الخصم  </label>' +
                ' <input type="number" class="form-control" required name="Discount" >' +
                ' </div>' +
                '</div>';
            $("#addservice2").append(item);
        }
        function addwork() {
            //var n1 = $("#num").val();
            var item = '<div class="col-md-6">' +
                '<div class="form-group">' +
                ' <label for="OwnName" class="control-label">من الساعة </label>' +
                '  <input type="text" class="form-control" required name="ValidFrom"  >' +
                '</div>' +
                '  </div>' +

                ' <div class="col-md-6">' +
                ' <div class="form-group">' +
                '  <label for="OwnName" class="control-label">الي الساعة  </label>' +
                ' <input type="text" class="form-control" required name="validto" >' +
                ' </div>' +
                '</div>';
            $("#work").append(item);
        }
        function addcond() {
            //var n1 = $("#num").val();
            var item = '<div class="col-md-12">' +
                '  <div class="form-group">' +
                ' <label for="Name" class="control-label">شرط الخدمة  </label>' +
                '  <input type="text" class="form-control" required name="Condition"  placeholder="اكتب شرط الخدمة ">' +
                ' </div>' +
                ' </div>';
            $("#cond").append(item);
        }
        function addfeats() {
            //var n1 = $("#num").val();
            var item = '<div class="col-md-12">' +
                '  <div class="form-group">' +
                ' <label for="Name" class="control-label">مميزات الخدمة </label>' +
                '  <input type="text" class="form-control" required name="Feature"  placeholder="اكتب مميزات الخدمة ">' +
                ' </div>' +
                ' </div>';
            $("#feats").append(item);
        }

        jQuery(document).ready(function () {
            jQuery('.mydate').datepicker({ format: 'dd/mm/yyyy' });
        });

        function acept(id, va) {
            var text = "";
            if (va == 1)
                text = "هل تريد تاكيد الطلب مؤقتا";
            else if (va == 2)
                text = "هل تريد تاكيد الطلب نهائيا";
            else
                text = "هل تريد رفض الطلب ";
            if (confirm(text)) {
                $.ajax({
                    url: "/Admin/AcceptDonators/Accept?id=" + id + "&va=" + va,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#ddd").remove();
                            if (va == 1) {
                                $(".validation-summary-errors").html('<ul><li>تم قبول الطلب مؤقتا</li></ul>');
                            } else if (va == 2) {
                                $(".validation-summary-errors").html('<ul><li>تم قبول الطلب نهائيا</li></ul>');
                            } else {
                                $(".validation-summary-errors").html('<ul><li>تم رفض الطلب </li></ul>');
                            }

                        } else {
                            $(".validation-summary-errors").html('<ul><li>حدث خطا في الطلب</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>حدث خطا في الطلب</li></ul>');
                    }
                });

            }
        }


        function deleteitem(id) {
            if (confirm('هل تريد حذف  هذه المانح ؟')) {
                $.ajax({
                    url: "/Admin/Donators/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $(location).attr('href', '@Url.Action("Index")');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه المانح  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذه المانح مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function DeleteSocial(id) {
            if (confirm('هل تريد حذف  موقع التواصل  ؟')) {
                $.ajax({
                    url: "/Admin/Donators/DeleteSocial/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $(".validation-summary-errors").html('<ul><li>تم حذف موقع التواصل</li></ul>');
                        $("#mycontacts" + id).remove();
                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذه الموقع مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function edit(ID, Service, Discount) {
            $("#ID2").val(ID);
            $("#Service2").val(Service);
            $("#Discount2").val(Discount);

        }

        function deleteserv(id) {
            if (confirm('هل تريد حذف  هذا الخصم ؟')) {

                $.ajax({
                    url: "/Admin/Donators/DeleteDonserv/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors2").show();
                            $(".validation-summary-errors2").html('<ul><li>تم حذف هذا الخصم</li></ul>');

                        } else {
                            $(".validation-summary-errors2").show();
                            $(".validation-summary-errors2").html('<ul><li>هذا الخصم  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors2").show();
                        $(".validation-summary-errors2").html('<ul><li>هذا الخصم مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function edit2(ID, Service, Discount) {
            $("#ID3").val(ID);
            $("#Service3").val(Service);
            $("#Discount3").val(Discount);

        }

        function deleteserv2(id) {
            if (confirm('هل تريد حذف  هذا الخصم ؟')) {

                $.ajax({
                    url: "/Admin/Donators/DeleteDonedserv/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#ed" + id).remove();
                            $(".validation-summary-errors4").show();
                            $(".validation-summary-errors4").html('<ul><li>تم حذف هذا الخصم</li></ul>');

                        } else {
                            $(".validation-summary-errors4").show();
                            $(".validation-summary-errors4").html('<ul><li>هذا الخصم  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors4").show();
                        $(".validation-summary-errors4").html('<ul><li>هذا الخصم مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function deletework(id) {

            if (confirm('هل تريد حذف  هذه الموعد ؟')) {
                $.ajax({
                    url: "/Admin/CompleteDonatorInfo/DeleteWork/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#work" + id).remove();
                            $(".validation-summary-errors10").html('<ul><li>تم حذف الموعد</li></ul>');
                        } else {
                            $(".validation-summary-errors10").html('<ul><li>هذه الموعد  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors10").html('<ul><li>هذه الموعد مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function getwork(ID, ValidFrom, validto) {

            $("#ID30").val(ID);
            $("#ValidFrom3").val(ValidFrom);
            $("#validto3").val(validto);
        }

        function deletefeature(id) {

            if (confirm('هل تريد حذف  هذه الميزة ؟')) {
                $.ajax({
                    url: "/Admin/CompleteDonatorInfo/DeleteFeature/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#fet" + id).remove();
                            $(".validation-summary-errors10").html('<ul><li>تم حذف الميزة</li></ul>');
                        } else {
                            $(".validation-summary-errors10").html('<ul><li>هذه الميزة  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors10").html('<ul><li>هذه الميزة مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function getfeature(ID, Feature) {

            $("#ID6").val(ID);
            $("#Feature2").val(Feature);
        }

        function deletecondition(id) {

            if (confirm('هل تريد حذف  هذه الشرط ؟')) {
                $.ajax({
                    url: "/Admin/CompleteDonatorInfo/DeleteCondition/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#con" + id).remove();
                            $(".validation-summary-errors10").html('<ul><li>تم حذف الشرط</li></ul>');
                        } else {
                            $(".validation-summary-errors10").html('<ul><li>هذه الشرط  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors10").html('<ul><li>هذه الشرط مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

        function getcondtion(ID, Condition) {

            $("#ID10").val(ID);
            $("#Condition1").val(Condition);
        }


        function ReplyRequest(id,type) {
            $("#loader10").show();

            var text ,message;
            if (type == 1) {
                text = 'هل تريد قبول الطلب ؟';
                message = '<ul><li>تم قبول الطلب بنجاح</li></ul>';
            } else {
                text = 'هل تريد رفض  الطلب ؟';
                message = '<ul><li>تم رفض  الطلب بنجاح</li></ul>';
            }
            if (confirm(text)) {
                $.ajax({
                    url: "/Admin/Donators/RequestReplay?id=" + id+"&type="+type,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $("#loader10").hide();
                        if (result == 1) {
                            $("#order" + id).remove();
                            $(".validation-summary-errors20").html(message);

                        } else {
                            $(".validation-summary-errors20").html('<ul><li>الطلب غير موجود الان يرجي اعادة تحميل الصفحة</li></ul>');

                        }

                    },
                    error: function () {
                        $("#loader10").hide();
                        $(".validation-summary-errors20").html('<ul><li>خطا في الطلب</li></ul>');

                    }
                });

            }
        }

    </script>




}