﻿
@model  IEnumerable<Core.Viewmodels.Admin.LandMArkPhotoVm>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="content-page">

    <div class="content">
        <div class="container-fluid">



            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        @*<h4 class="page-title">الشروط</h4>*@
                        <ol class="breadcrumb float-left">
                            <li class="breadcrumb-item"><a href="#">الرئسيه</a></li>
                            <li class="breadcrumb-item"><a href="#">  صور المعالم </a></li>
                            <li class="breadcrumb-item active">جميع  الصور</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-12">
                    <div class="card-box table-responsive">
                        @*<input type="button" id="AddNew" onclick="Create()" class="btn btn-circle blue New" value="Add" />*@
                        @*data-toggle="modal" data-target="#con-close-modal"*@

                        <button type="button" class="btn btn-success waves-effect waves-light" onclick="Create()">اضافه جديد</button>

                        <br />
                        <br />

                        <table id="datatable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>رقم التسلسل</th>
                                    <th>اسم المعلم   </th>
                                    <th>اسم البطاقه    </th>
                                   
                                    <th>صوره المعلم   </th>



                                    <th></th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
                                {

                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.LandMark</td>
                                    <td>@item.Cards</td>

                                    <td><img src="~/Uploads/@item.PhotoPath" style="width:100px; height:90px;" /></td>


                                    <td>
                                        @*<button type="button" class="btn btn-info btn-rounded w-md waves-effect waves-light m-b-5" onclick="Edit(@item.Id)" data-target="#con-close-modal">تعديل </button>


                                        <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitemphto(@item.Id)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>*@

                                    </td>

                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="con-close-modal" class="modal fade" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
</div>
<script src="~/Areas/Admin/Scripts/LandmarkPhoto.js"></script>
<script>
    function deleteitemphto(IdPhoto) {
        if (confirm('هل تريد حذف  هذه الصوره ؟')) {
            $.ajax({
                url: "/Admin/landmarkphoto/Delete/" + IdPhoto,
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    if (result == 1) {
                        $("#" + IdPhoto).remove();
                        $(".validation-summary-errors").html('<ul><li>تم حذف صوره المعلم</li></ul>');
                    } else {
                        $(".validation-summary-errors").html('<ul><li>هذه المعلم  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }

                },
                error: function () {
                    $(".validation-summary-errors").html('<ul><li>هذه المعلم مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                }
            });

        }
    }

</script>