﻿@model Core.Viewmodels.Admin.WebsiteStatisticsVm
@using (Html.BeginForm("Create", "WebsiteStatisticsDefault", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">اضافه وسيله جديده</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" hidden id="Id" value="@Model.Id" name="Id">

                            <label for="field-3" class="control-label">العنوان </label>
                            <input type="text" class="form-control" id="Title" value="@Model.Title" name="Title" placeholder="العنوان ">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            <label for="field-3" class="control-label">العدد </label>
                            <input type="text" class="form-control" id="Count" value="@Model.Count" name="Count" placeholder="العدد ">
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <input type="submit" class="btn btn-info waves-effect waves-light"  value="حفظ" />
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">اغلاق</button>

            </div>
            
        </div>
    </div>



}