﻿

@model  IEnumerable<Core.Viewmodels.Admin.WebsiteStatisticsVm>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">



            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        @*<h4 class="page-title">الشروط</h4>*@
                        <ol class="breadcrumb float-left">
                            <li class="breadcrumb-item"><a href="#">الرئسيه</a></li>
                            <li class="breadcrumb-item"><a href="#">الاحصائيات</a></li>
                            <li class="breadcrumb-item active">جميع الاحصائيات</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-12">
                    <div class="card-box table-responsive">
                        <button type="button" class="btn btn-success waves-effect waves-light" onclick="Create()">اضافه جديد</button>

                        <br />
                        <br />

                        <table id="datatable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>رقم التسلسل</th>
                                    <th>العنوان</th>
                                    <th>العدد</th>

                                    <th>العمليات</th>
                                    <th></th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
            {

                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.Count</td>
                        <td>
                            <button type="button" class="btn btn-info btn-rounded w-md waves-effect waves-light m-b-5" onclick="Edit(@item.Id)" data-target="#con-close-modal">تعديل </button>

                            @*<button type="button" class="btn btn-info btn-rounded w-md waves-effect waves-light m-b-5">تعديل</button>*@
                        </td>
                        <td>
                            <a href="@Url.Action("DeleteWebsiteStatisticsDefault",new { Id=item.Id})" class="btn btn-danger btn-rounded w-md waves-effect waves-light m-b-5">حذف</a>

                        </td>

                    </tr>
}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end row -->
        </div>
    </div>
</div>






<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">اضافه احصائيه جديده</h4>
            </div>
            @using (Ajax.BeginForm("EditWebsiteStatisticsDefault", "Setting", new AjaxOptions()
            {
                UpdateTargetId = "JObID",
                LoadingElementId = "preholder",
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "$('.close').click();$.Notification.autoHideNotify('success', 'top right', '" + "" + "', '');",
                OnFailure = "$.Notification.autoHideNotify('error', 'top right', '" + "" + "', '');",
                OnComplete = " $('#datatableClass').DataTable({ keys: true });"
            }))
            {
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" hidden id="Id" name="Id">

                            <label for="field-3" class="control-label">العنوان </label>
                            <input type="text" class="form-control" id="Title" name="Title" placeholder="العنوان ">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            <label for="field-3" class="control-label">العدد </label>
                            <input type="text" class="form-control" id="Count" name="Count" placeholder="العدد ">
                        </div>
                    </div>
                </div>

            </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ</button>
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">اغلاق</button>

                </div>
            }
        </div>
    </div>

</div>
<script src="~/Areas/Admin/Scripts/WebsiteStatisticsdefult.js"></script>