﻿@model List<Mallamed.Entity.Category>

<div class="col-md-4">
    <div id="accordion">
        <div class="filter-items">
            <div id="headingOne">
                <h3 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        التصنيفات
                    </button>
                </h3>
            </div>
            <div id="collapseOne" class="collapse show GetLies" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="">
                    <ul class="list-group">
                        @{ int i = 0;}
                        @if (Model.Count != null)
                        {
                        foreach (var Category in Model)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center @(i == 0 ? "active" : "")">
                                <a href="@Url.Action("GetDonators", new { Id = Category.ID, type = "cat" })" id="c@(Category.ID)" onclick="GetDonators(this.id)">
                                                     @if (Category.Icon != null)
                                                     {
                                    <img src="@Url.Content(Category.Icon)" class="Cat-Filter-Item">
                                                     }
                                    @Category.Name
                                    <span class="badge badge-primary">
                                        @(Category.Donators != null ? Category.Donators.Where(x => x.IsActive == 1 || x.IsActive == 2).Count() : 0)
                                    </span>
                                </a>
                            </li>
                            i++;
                        }
                        }
                    </ul>
                </div>
            </div>
        </div>
        @Html.Action("Regions")
    </div>
</div>