﻿@model List<Mallamed.Entity.Donator>

<div class="filter-result">
    <h3>المانحين</h3>
    <div class="row">
        <div class="col-12">
            <div class="Cat-Header">
                <h3>
                    @ViewBag.Name
                </h3>
            </div>
        </div>
        @foreach (var Dont in Model)
        {
            <div class="col-md-4 col-sm-6">
                <a href="@Url.Action("Details",new { id = Dont.ID })">
                    <div class="Partner">
                        <div class="Partner-Img">
                            <img src="~/Uploads/@Dont.Photo" alt="@Dont.OrgName" class="Partner-logo">
                            <div class="Discount">
                                @*<p> @(Dont.DonatServices.FirstOrDefault().Discount) </p>*@
                            </div>
                        </div>
                        <div class="Partner-name">
                            <h3>@Dont.OrgName</h3>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>