﻿@model List<Mallamed.Entity.Region>
<div class="place-items">
    <div class="" id="headingTwo">
        <h3 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                المناطق
            </button>
        </h3>
    </div>
    <div id="collapseTwo" class="collapse show GetLies" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="">
            <ul class="list-group">
                @foreach (var Region in Model)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="@Url.Action("GetDonators",new { Id = Region.ID , type = "region" })" id="r@(Region.ID)" onclick="GetDonators(this.id)">
                            @Region.Name
                            <span class="badge badge-primary">
                                @(Region.Donators != null ? Region.Donators.Count() : 0)
                            </span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
