﻿@model Mallamed.Entity.Donator
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@if (Model != null)
{
    <!-------Start vendore------------>
    <section class="Vendor container-fluid">

        <div class="main-vendor-card">
            <!-------MAin card------->
            <div class=" bg-primary text-white text-center p-3 ">
                <blockquote class="blockquote mb-0">
                    <p class="vendor-name">@Model.OrgName </p>
                    <div class="vendor-logo">
                        <img src="@Url.Content(AppConstants.ImgDonator +  ( System.IO.File.Exists(Server.MapPath(AppConstants.ImgDonator + Model.Photo)) ? Model.Photo : AppConstants.ImgDefaultDonator))" alt="@Model.OrgName">
                    </div>
                    <p>هذه لشركه مناسبه لكل الاعمار وتقدم خدمات ممتازه لجميع افراد الاسره </p>
                    <span>@Model.TradeActivity </span>
                    <footer class="blockquote-footer">
                        <ul class="list-inline Rating customer-rate">
                            @*@for (int i = 0; i < Model.EvaluationClients.FirstOrDefault().Evaluate; i++)
                            {
                                <li class="list-inline-item">
                                    <i class="fa fa-star"></i>
                                </li>
                                if (i > 4) { break; }
                            }*@
                        </ul>
                        <h5><i class="fa fa-phone" aria-hidden="true"></i>@Model.Phone1</h5>
                    </footer>
                </blockquote>
            </div>
            <!-------main card------------>
        </div>
        @if (Model.DonatedServices.Count() > 0)
        {
            <div class="card-columns vendor-offers">
                @foreach (var itm in Model.DonatedServices.Where(x => x.EndDate >= DateTime.Now))
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@itm.Service </h5>
                            @if (itm.StartDate != null && itm.EndDate != null)
                            {
                                <p class="card-text">تاريخ بدايه الخصم @(((DateTime)itm.StartDate).ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ar-AE")))</p>
                                <p class="card-text">تاريخ الانتهاء @(((DateTime)itm.EndDate).ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ar-AE")))</p>
                            }
                        </div>
                        <div class="offer-fade">
                            <span>@itm.Discount</span>%
                        </div>
                    </div>
                }
            </div>

        }
    </section>


    if (Model.DonatorBranches.Count() > 0)
    {
        <section class="section2 AccoRion">
            <div>
                <h3 class="ltext-103 cl5">الفروع</h3>
            </div>
            <div class="container occord">
                <div class="page">
                    <div class="page__demo">
                        <div class="accordion">
                            @for (int i = 0; i < Model.DonatorBranches.Count(); i++)
                            {
                                <div class="row">
                                    <div class="@(i + 2 <= Model.DonatorBranches.Count() ? "col-md-6" : "col")">
                                        <div id="about" class="accordion__group">
                                            <input type="checkbox" class="accordion__control" id="accordion-section1">
                                            <label class="accordion__toggle" for="accordion-section1">فروع القاهرة</label>
                                            <div class="accordion__body">
                                                @*<iframe src="https://maps.google.com/maps?q=@Model.DonatorBranches.ElementAt(i).Lat,@Model.DonatorBranches.ElementAt(i).Lang&hl=es;z=14&amp;output=embed" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>*@
                                                <div class="info">
                                                    <h4>العنوان:</h4>
                                                    <p>@Model.DonatorBranches.ElementAt(i).Address</p>
                                                    <h4>تليفون:</h4>
                                                    <p>@Model.DonatorBranches.ElementAt(i).Phone</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    if (Model.LocatLat != null && Model.LocatLang != null)
    {
        <section class="event-map">
            <div class="container">
                <div class="div-Title">
                    <h3>
                        الخريطة
                    </h3>
                </div>
                <div class="mapsection">
                    <iframe src="https://maps.google.com/maps?q=@Model.LocatLat,@Model.LocatLang&hl=es;z=14&amp;output=embed" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </section>
    }
}
