﻿
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@Html.Partial("~/Views/shared/_HeadLine.cshtml", new Dictionary<string, string> { { Url.Action("Index"), "المانحين" } })

<section class="Togary">
    <div class="container-fluid">
        <div class="row">
            @Html.Action("Categories")
            <div id="divGetDonators" class="col-md-8">
                @Html.Action("GetDonators")
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/Scripts/Donators.js"></script>
}