.la-tree {
    background-color: #767084;
    text-align: center;
    padding: 100px 0;
    .tree {
        margin: auto;
        .parentTree {
            position: relative;
            background-color: #fff;
            width: 4px;
            right: 50%;
            transform: translateX(50%);
            .parentTree-content {
                position: relative;
                display: block;
                height: 120px;
                width: 200px;
                border: solid 4px #fff;
                right: 50%;
                transform: translateX(50%);
                top: -10px;
                background: #484551;
                border-radius: 10px;
                line-height: 40px;
                color: #fff;
                cursor: pointer;
                h3 {
                    font-size: 24px;
                    padding: 5px 0 8px;
                    margin: 0;
                    background-color: #767084;
                    border-radius: 6px;
                }
                figure {
                    img {
                        width: 60px;
                    }
                }
                .socialIcon {
                        position: absolute;
                        height: 25px;
                        width: 25px;
                        background-size: 100% 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        display: block;
                        transform: scale(0);
                        transition: all 0.1s linear;
                    }
                    .socialIconOpen {
                        transform: scale(1);
                    }
                    .person {
                        background-image: url(../../images/user.png);
                        top: 10px;
                        left: -35px;
                    }
                    .phone {
                        background-image: url(../../images/phone.png);
                        bottom: 10px;
                        left: -35px;
                    }
                    .whatsApp {
                        background-image: url(../../images/whatsapp.png);
                        bottom: -35px;
                        left: 10px;
                    }
                    .insta {
                        background-image: url(../../images/insta.png);
                        bottom: -35px;
                        right: 10px;
                    }
                    .twitter {
                        background-image: url(../../images/twitter.png);
                        top: 10px;
                        right: -35px;
                    }
                    .snap {
                        background-image: url(../../images/snapchat.png);
                        bottom: 10px;
                        right: -35px;
                    }
            }
            .childTree {
                .childTree-content {
                    position: relative;
                    display: block;
                    height: 100px;
                    width: 100px;
                    border: solid 4px #fff;
                    border-radius: 10px;
                    line-height: 40px;
                    margin: 70px 0 40px;
                    color: #fff;
                    cursor: pointer;
                    h3 {
                        font-size: 16px;
                        padding: 5px 0 8px;
                        margin: 0;
                        background-color: #484551;
                        border-radius: 6px;
                    }
                    figure {
                        img {
                            width: 50px;
                        }
                    }
                    .socialIcon {
                        position: absolute;
                        height: 25px;
                        width: 25px;
                        background-size: 100% 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        display: block;
                        transform: scale(0);
                        transition: all 0.1s linear;
                    }
                    .socialIconOpen {
                        transform: scale(1);
                    }
                    .person {
                        background-image: url(../../images/user.png);
                        top: 10px;
                        left: -35px;
                    }
                    .phone {
                        background-image: url(../../images/phone.png);
                        bottom: 10px;
                        left: -35px;
                    }
                    .whatsApp {
                        background-image: url(../../images/whatsapp.png);
                        bottom: -35px;
                        left: 10px;
                    }
                    .insta {
                        background-image: url(../../images/insta.png);
                        bottom: -35px;
                        right: 10px;
                    }
                    .twitter {
                        background-image: url(../../images/twitter.png);
                        top: 10px;
                        right: -35px;
                    }
                    .snap {
                        background-image: url(../../images/snapchat.png);
                        bottom: 10px;
                        right: -35px;
                    }
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        height: 3px;
                        width: 70px;
                        background-color: #fff;
                        top: calc(50% - 1.5px);
                    }
                }
            }
            .childTree:nth-child(odd) {
                .childTree-content {
                    left: -74px;
                    margin-top: -140px;
                    &:after {
                        right: -74px;
                    }
                }
            }
            .childTree:nth-child(even) {
                .childTree-content {
                    left: 170px;
                    &:after {
                        right: 96px;
                    }
                }
            }
        }
    }
}