﻿@model Core.Viewmodels.Admin.ImageSlidersVM
@using (Html.BeginForm("Create", "ImageSliders", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <input type="text" id="ID" name="ID" value="@Model.ID" hidden />
            @Html.Hidden("PhotoPath")
            <input type="hidden" id="ID" name="ID" value="0" />
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">اسم السليد  </label>
                            <input type="text" class="form-control" required name="Title" value="@Model.Title" id="Title" placeholder="اسم السليد ">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">تفصيل السليد  </label>
                            <input type="text" class="form-control" required name="Details" id="Details" value="@Model.Details"  placeholder="تفصيل السليد ">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">إظهار السليد </label>
                            <select class="form-control" id="IsActive" name="IsActive" required>
                                <option value="true">نعم</option>
                                <option value="false">لا</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">اختر السليد  </label>
                            <input type="file" class="form-control" name="file">
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">حفظ السليد</button>
            </div>

        </div>
    </div>



}