﻿

@model  IEnumerable<Core.Viewmodels.Admin.ImageSlidersVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Raw(TempData["msg"])


<div class="content-page">

    <div class="content">
        <div class="container-fluid">



            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        @*<h4 class="page-title">الشروط</h4>*@
                        <ol class="breadcrumb float-left">
                            <li class="breadcrumb-item"><a href="#">الرئسيه</a></li>
                            <li class="breadcrumb-item"><a href="#"> السيدر</a></li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>


            <button type="button" class="btn btn-success waves-effect waves-light" onclick="Create()">اضافه جديد</button>



            <div class="row ">
                @foreach (var item in Model)
                {
                    string visable = item.IsActive ? "true" : "false";
                    <div style="width:300px;" id="@item.ID">
                        <div class="gal-detail thumb " style="width:340px;">
                            <a href="~/Uploads/@item.PhotoPath" class="image-popup" title="@item.Title">
                                <img src="~/Uploads/@item.PhotoPath" height="250px;" class="thumb-img" alt="work-thumbnail">
                            </a>
                            <h4 class="text-center">@item.Title</h4>
                            <p class="text-center">@item.Details</p>
                            <div class="ga-border"></div>
                            <p class="text-muted text-center">
                                <button type="button" class="btn btn-info btn-rounded w-md waves-effect waves-light m-b-5" onclick="Edit(@item.ID)" data-target="#con-close-modal">تعديل </button>
                                <a href="@Url.Action("DeleteImageSliders",new { Id=item.ID})" class="btn btn-danger btn-rounded w-md waves-effect waves-light m-b-5">حذف</a>
                            </p>
                        </div>
                    </div>
                    <div style="width:100px;"></div>
                }



            </div> <!-- End row -->
        </div>
    </div>
</div>






<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">


</div>

<script src="~/Areas/Admin/Scripts/ImageSlider.js"></script>


