﻿

@model  IEnumerable<Core.Viewmodels.Admin.CardCategoryFM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(TempData["msg"])



<div class="content-page">

    <div class="content">
        <div class="container-fluid">



            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        @*<h4 class="page-title">الشروط</h4>*@
                        <ol class="breadcrumb float-left">
                            <li class="breadcrumb-item"><a href="#">الرئسيه</a></li>
                            <li class="breadcrumb-item"><a href="#"> مجموعه البطاقات</a></li>
                            <li class="breadcrumb-item active">جميع مجموعات البطاقات</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-12">
                    <div class="card-box table-responsive">
                        @*<input type="button" id="AddNew" onclick="Create()" class="btn btn-circle blue New" value="Add" />*@
                        @*data-toggle="modal" data-target="#con-close-modal"*@

                        <button type="button" class="btn btn-success waves-effect waves-light" onclick="Create()">اضافه جديد</button>

                        <br />
                        <br />

                        <table id="datatable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>رقم التسلسل</th>
                                    <th>اسم المجموعه </th>
                                    <th>كود البدايه</th>
                                    <th>كود النهاية</th>
                                    <th>القيمه</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.StartCode</td>
                                        <td>@item.EndCode</td>
                                        <td>@item.Value</td>
                                        <td>
                                            <button type="button" class="btn btn-info btn-rounded w-md waves-effect waves-light m-b-5" onclick="Edit(@item.Id)" data-target="#con-close-modal">تعديل </button>

                                            @*<button type="button" class="btn btn-info btn-rounded w-md waves-effect waves-light m-b-5">تعديل</button>*@
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Delete",new { Id=item.Id})" class="btn btn-danger btn-rounded w-md waves-effect waves-light m-b-5">حذف</a>

                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
</div>
<script src="~/Areas/Admin/Scripts/CardCategory.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
@*<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">اضافه منطقه جديده</h4>
                </div>
                @using (Ajax.BeginForm("EditRegion", "Setting", new AjaxOptions()
                {

                    HttpMethod = "POST",

                    OnSuccess = "Account_Create_OnSuccess",
                    //OnFailure = "$.Notification.autoHideNotify('error', 'top right', '" + "" + "', '');",
                    //OnComplete = " $('#datatableClass').DataTable({ keys: true });"
                }))
                {
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" hidden id="Id" name="Id" >

                                    <label for="field-3" class="control-label">اسم المنطقه</label>
                                    <input type="text" class="form-control" id="Name" name="Name" placeholder="اسم المنطقه">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect waves-light">حفظ</button>
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">اغلاق</button>

                    </div>
                }
            </div>
        </div>

    </div>*@

@*<script>
        function Edit(ID, Name) {
            $("#Name").val(Name);
            $("#Id").val(ID);

        }
    </script>

    <script>
        function Create() {
            var Url = "../Setting/Create";
            $('#con-close-modal').load(Url, function (response, status, xhr) {
                $('#con-close-modal').modal('show');
            });
        }
    </script>*@
