﻿@model Core.Viewmodels.Admin.CardCategoryFM
@using (Html.BeginForm("Create", "CardCategory", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">اضافه مجموعه جديده</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" hidden id="Id" value="@Model.Id" name="Id">

                            <label for="field-3" class="control-label">اسم المجموعه</label>
                            <input type="text" class="form-control" required id="Name" value="@Model.Name" name="Name" placeholder="اسم المنطقه">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            <label for="field-3" class="control-label">كود البدايه </label>
                            <input type="number" class="form-control" required id="StartCode" value="@Model.StartCode" name="StartCode" placeholder="اسم المجموعه">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            <label for="field-3" class="control-label">كود النهايه </label>
                            <input type="number" class="form-control" required id="EndCode" value="@Model.EndCode" name="EndCode" placeholder="كود النهايه ">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            <label for="field-3" class="control-label">القيمه </label>
                            <input type="number" class="form-control" required id="Value" value="@Model.Value" name="Value" placeholder="القيمه ">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            <label for="field-3" class="control-label">الكود </label>
                            <input type="text" class="form-control" required id="Code" value="@Model.Code" name="Code" placeholder="الكود ">
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <input type="submit" class="btn btn-info waves-effect waves-light"  value="حفظ" />
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">اغلاق</button>

            </div>
            
        </div>
    </div>



}