﻿
<div class="col-md-12">
    <div class="form-group">
        <label for="Name" class="control-label">كود البطاقة</label>
        <div style="display: -webkit-box;">
            <input type="text" class="form-control" style="width:200px !important;" readonly name="Code" id="Code" value="@ViewBag.Code">
          <i class="fa fa-minus fa-2x" style="margin-top: 11px;"></i> 
            <input type="text" class="form-control" style="width:200px !important;" readonly name="SubCode" id="SubCode" value="@ViewBag.SubCode">
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label for="Name" class="control-label">تكلفة البطاقة</label>
        <input type="number" class="form-control" name="Paid" id="Paid" placeholder="تكلفة البطاقة " value="@ViewBag.Price">
    </div>
</div>
