﻿@model IEnumerable<Mallamed.Entity.Card>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="content-page">

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        @*<h4 class="page-title">الشروط</h4>*@
                        <ol class="breadcrumb float-left">
                            <li class="breadcrumb-item"><a href="#">الرئسيه</a></li>
                            <li class="breadcrumb-item"><a href="#"> استكمال البطاقات </a></li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div id="CreateCodition" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title"> استكمال البطاقة</h4>
                        </div>
                        @using (Html.BeginForm("CompCard", "CompleteCards", FormMethod.Post))
                {


                    @Html.Hidden("ClientID")

                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">اسم العميل </label>
                                    <input type="text" class="form-control" required name="Name" id="Name" placeholder="اسم العميل ">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="Name" class="control-label">رقم الجوال </label>
                                    <input type="text" class="form-control" name="Phone" id="Phone" placeholder="رقم الجوال ">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label for="Name" class="control-label">البريد الاليكتروني</label>
                                    <input type="email" class="form-control" name="Email" id="Email" placeholder="البريد الاليكتروني ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">مجموعة البطاقة</label>
                                    @Html.DropDownList("CardCategoryId", null, "اختر المجموعة", new { @class = "form-control", @required = "required", @onchange = "GetCcode();" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <img id="preholder" style="display:none" src="~/img/ajax-loader.gif" />
                        </div>
                        <div class="row" id="CardCode">


                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">عمر المشترك</label>
                                    <input type="number" class="form-control" name="Age" id="Age" placeholder="عمر المشترك">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Name" class="control-label">تاريخ بداية الاشتراك</label>
                                    <input type="datetime" class="form-control mydate" required name="StartDate" id="StartDate" placeholder="تاريخ بداية الاشتراك ">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Name" class="control-label">تاريخ نهاية الاشتراك</label>
                                    <input type="datetime" class="form-control mydate" required name="FinishDate" id="FinishDate" placeholder="تاريخ نهاية الاشتراك ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">مقر العمل</label>
                                    <input type="text" class="form-control" name="workAddress" id="workAddress" placeholder="مقر العمل">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Name" class="control-label">العنوان</label>
                                    <input type="text" class="form-control" name="Address" id="Address" placeholder="العنوان">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Name" class="control-label">الحي</label>
                                    <input type="text" class="form-control" name="Villages" id="Villages" placeholder="الحي">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">عنوان استلام البطاقة بالتفصيل</label>
                                    <textarea class="form-control" name="AddressReciving" id="AddressReciving" rows="3" placeholder="عنوان استلام البطاقة بالتفصيل"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Name" class="control-label">أسم المندوب</label>
                                    @Html.DropDownList("UserID", null, "أسم المندوب", new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                        <button type="submit" class="btn btn-info waves-effect waves-light">اصدار البطاقة</button>
                    </div>
        }

                    </div>
                </div>
            </div>
            <img id="preholder2" style="display:none" src="~/img/ajax-loader.gif" />

            <div class="card-box">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>الرقم المتسلسل</th>
                        <th>اسم العميل</th>
                        <th>رقم الجوال </th>
                        <th>البريد الاليكتروني</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
            {
                <tr id="@item.ClientID">
                    <td>@item.ClientID</td>
                    <td class="OwnName">@item.Name</td>
                    <td class="OrgName">@item.Phone</td>
                    <td class="ResponsableName">@item.Email</td>

                    <td>
                        <a class="btn btn-success waves-effect waves-light m-b-5" href="#" data-toggle="modal" data-target="#CreateCodition" onclick="getinfo('@item.ClientID','@item.Name','@item.Email','@item.Phone')">  أستكمال البيانات</a>
                        <a class="btn btn-danger waves-effect waves-light m-b-5" href="javascript:GetDeleteCard(@item.ClientID)">  حذف المشترك</a>

                    </td>
                </tr>
    }

                </table>
            </div>


        </div>
   

        </div>
    </div>
            @section Scripts{
                <script>
                    function getinfo(ClientID, Name, Email, Phone) {
                        $("#ClientID").val(ClientID);
                        $("#Name").val(Name);
                        $("#Email").val(Email);
                        $("#Phone").val(Phone);
                    }
                    jQuery(document).ready(function () {
                        jQuery('.mydate').datepicker({ format: 'dd/mm/yyyy' });
                    });

                    function GetCcode() {
                        var id = $("#CardCategoryId").val();
                        if (id != "" && id != undefined) {
                            $("#preholder").show();
                            $.ajax({
                                url: "/Employee/CompleteCards/GetCode/" + id,
                                contentType: 'application/html ; charset:utf-8',
                                type: 'GET',
                                dataType: 'html',
                                success: function (result) {
                                    $("#CardCode").html(result);
                                    $("#preholder2").hide();
                                },
                                error: function () {
                                    alert("لقد حدث خطا يرجي اعادة تحديث للصفحة!");
                                    $("#preholder2").hide();
                                }
                            });
                        }

                    }

                </script>

                <script>
                    function GetDeleteCard(id) {
                        $("#preholder").show();
                        $.ajax({
                            url: "/Employee/CompleteCards/DeleteCard/" + id,
                            contentType: 'application/html ; charset:utf-8',
                            type: 'GET',
                            dataType: 'html',
                            success: function (result) {
                                if (result > 0) {
                                    $("#" + id).remove();
                                    alert("تم الحذف بنجاح!");
                                } else {
                                    alert("لقد حدث خطا في حذف المشترك يرجي اعادة تحديث للصفحة!");
                                }
                                $("#preholder").hide();
                            },
                            error: function () {
                                alert("لقد حدث خطا يرجي اعادة تحديث للصفحة!");
                                $("#preholder").hide();
                            }
                        });
                    }
                </script>
            }

