﻿@model IEnumerable<Mallamed.Entity.Card>

<table class="table table-hover table-bordered">
    <tr>
        <th>الرقم المتسلسل</th>
        <th>كود البطاقة</th>
        <th>اسم العميل</th>
        <th>البريد الاليكتروني</th>
        <th>نوع البطاقة</th>

        <th>الحالة</th>
        <th ></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="@item.ClientID">
            <td>@item.ClientID</td>
            <td>@item.SubCode-@item.Code</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>
                @if (item.CardCategory != null)
                {
                    @item.CardCategory.Name
                }
            </td>
            <td>
                @if (item.Status == 0)
                {
                    <span>في انتظار التاكيد</span>
                }
                else if (item.Status == 1)
                {
                    <span>تم تاكيد الاشتراك</span>
                }
                else if (item.Status == -1)
                {
                    <span>تم الغاء الاشتراك</span>
                }
                else if (item.Status == 2)
                {
                    <span>تم تاكيد التسليم</span>
                }
            </td>

            <td>
                <a class="btn btn-success waves-effect waves-light m-b-5" href="@Url.Action("Index","Reports",new {id=item.ClientID})">  طباعة البطاقة</a>
                <a class="btn btn-danger waves-effect waves-light m-b-5" href="javascript:GetDeleteCard(@item.ClientID)">  حذف المشترك</a>
            </td>
        </tr>
    }

</table>

