﻿@model IEnumerable<Mallamed.Entity.Card>
<table class="table table-hover table-bordered">
    <tr>
        <th>الرقم المتسلسل</th>

        <th>كود البطاقة</th>
        <th>اسم العميل</th>
        <th>رقم الجوال </th>
        <th>البريد الاليكتروني</th>
        <th>نوع البطاقة</th>
        <th>تاريخ نهاية البطاقة</th>
        <th></th>

    </tr>
    @foreach (var item in Model)
    {
        <tr id="@item.ClientID">
            <td>@item.ClientID</td>
            <td>@item.SubCode-@item.Code</td>
            <td class="OwnName">@item.Name</td>
            <td class="OrgName">@item.Phone</td>
            <td class="ResponsableName">@item.Email</td>

            <td>
                @if (item.CardCategory != null)
                {
                    @item.CardCategory.Name
                }
            </td>
            <td class="ResponsableName">
                @if (item.FinishDate != null)
                {
                    @item.FinishDate.Value.ToShortDateString()
                }
            </td>
            <td>
                <a class="btn btn-danger waves-effect waves-light m-b-5" href="javascript:GetDeleteCard(@item.ClientID)">  حذف المشترك</a>
            </td>
        </tr>
    }

</table>