﻿@model Mallamed.Entity.News

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@Html.Partial("~/Views/Shared/_HeadLine.cshtml", new Dictionary<string, string> { { Url.Action("Index"), "الاخبار" }, { Url.Action("Details" + "/" + Model.ID.ToString()), Model.Name } })

@if (Model != null)
{
    <div class="single-new">
        <div class="container">
            <div class="single-new-img">
                <img class="img-fluid" style="height:200px;" src="~/Uploads/@Model.PhotoPath" alt="@Model.Name">
            </div>
            <h4 class="card-title">@Model.Name</h4>
            <div class="single-news-content">
                <p class="date">
                    <i class="fa fa-calendar"></i>
                    @Model.Date
                </p>
                <p>
                    @Model.Details
                </p>
            </div>
        </div>
    </div>
}