﻿@model  List<Mallamed.Entity.News>

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    int? count = Model.Count();
    //int? divCount = (count / 3 == 0) ? (count / 3) : (((int)count / 3) + 1);
}

@Html.Partial("~/Views/Shared/_HeadLine.cshtml", new Dictionary<string, string> { { Url.Action("Index"), "الاخبار" } })

<div class="news BGF">
    <div class="container">
        <div class="div-Title">
            <h3>الاخبار</h3>
            <p>تعرف على أخر الاخبار  </p>
        </div>
        <!-----start first card-deck------>
        @*@for (int i = 0; i < divCount; i++)
        {*@
            <div class="card-deck">
                @foreach (var news in Model.Take(4))
                {
                    <div class="card">
                        <img class="card-img-top" style="height:350px;" src="~/Uploads/@news.PhotoPath" alt="@news.Name">
                        <div class="card-body">
                            <h5 class="card-title">@news.Name</h5>
                            <p class="date">
                                <i class="fa fa-calendar"></i>
                                @news.Date
                            </p>
                            <p>
                                @news.Details
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Action("Details", new { id = news.ID })">اقرأ المزيد</a>
                        </div>
                    </div>
                }
            </div>
        @*}*@
        <!-----End first card-deck------>
    </div>
</div>