﻿@model List<Mallamed.Entity.Category>

<section class="Categories">
    <div class="overlay">
        <div class="container">
            <div class="div-Title">
                <h3>
                    التصنيفات
                </h3>
            </div>
            @{
                int count = Model.Count();
                int divCount = count % 5 == 0 ? count / 5 : ((int)count / 5) + 1;
            }

            @for (int i = 0; i < divCount; i++)
            {
                <div class="row @(i > 1 ? "MoreCategories" :"")">
                    @if (Model.Count > 5)
                    {
                    foreach (var cat in Model.Take(5))
                    {
                        <div class="col-md col-sm-6">
                            <a href="@Url.Action("index", "Donators", new { Id = cat.ID, type = "cat" })">
                                <div class="Category">
                                    <div class="Bg-pic">
                                        <img src="@Url.Content(cat.Icon)" alt="@cat.Name" class="img-fluid CategoryPic">
                                    </div>
                                    <div class="CategoryInfo">
                                        <p>
                                            <i class="fa fa-building-o" aria-hidden="true"></i>
                                            العدد:
                                            <span>
                                                @(cat.Donators != null ? cat.Donators.Count() : 0)
                                            </span>
                                        </p>
                                        <h3>
                                            @cat.Name
                                        </h3>
                                    </div>
                                </div>
                            </a>
                        </div>

                    }
                    }
                </div>
            }
            <a href="" class="MoreCategory">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>