﻿@model List<Mallamed.Entity.Event>
<section class="ourEvents">
    <div class="overlay">
        <div class="container">
            <div class="div-Title">
                <h3>الفعاليات</h3>
                <p>تعرف على احدث الفعاليات </p>
            </div>
            <div class="row" id="GetMoreEvents">
                @foreach (var Event in Model)
                {
                    <div class="col-sm-6">
                        <a href="@Url.Action("Details","Events",new { Id = Event.Id })">
                            <div class="eventCard">
                                <img class="img-fluid" src="@Url.Content(AppConstants.ImgEvent +  (System.IO.File.Exists(Server.MapPath(AppConstants.ImgEvent + Event.PhotoPath)) ? Event.PhotoPath : AppConstants.ImgDefaultEvent))" alt="@Event.Name">
                                <div class="eventDate">
                                    <span> @(Event.StartDate != null ? ((DateTime)Event.StartDate).Day.ToString() : "") </span>
                                    @(Event.StartDate != null ? ((DateTime)Event.StartDate).ToString("MMMM", new System.Globalization.CultureInfo("ar-AE")) : "")
                                </div>
                                <div class="eventtitle">
                                    @Event.Name
                                </div>
                            </div>
                        </a>
                    </div>

                }
            </div>
            <a href="@Url.Action("Index","Events")" class="MoreEvents">
                شاهد المزيد
            </a>
        </div>
    </div>
</section>
