﻿@model List<int?>
@if (Model != null && Model.Count() > 2)
{
    <section class="Counting">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="Count">
                        <div class="icon">
                            <i class="fa fa-paper-plane"></i>
                        </div>
                        <h3>
                            <span class="timer">@Model[0]</span>
                            <br>
                            معلم سياحي
                        </h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="Count">
                        <div class="icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <h3>
                            <span class="timer">@Model[1]</span>
                            <br>
                            فعالية
                        </h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="Count">
                        <div class="icon">
                            <i class="fa fa-handshake-o"></i>
                        </div>
                        <h3>
                            <span class="timer">@Model[2]</span>
                            <br>
                            مانح
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
}