﻿@model List<Mallamed.Entity.Landmark>

@{
    int count = Model.Count();
    int divCount = count % 6 == 0 ? count / 6 : ((int)count / 6) + 1;
}

<section class="Tourisme">
    <div class="container">
        <div class="div-Title">
            <h3>المعالم السياحية</h3>
            <p>تعرف على احدث المعالم السياحية</p>
        </div>
        @for (int i = 0; i < divCount; i++)
        {
            <div class="row @(i != 0 ? "MoreTourisme" : "")">
                @foreach (var landmark in Model.Skip(i * 6).Take(6))
                {
                    <div class="col-md-4 col-sm-6">
                        <a href="@Url.Action("Details","LandMark",new { Id = landmark.Id })">
                            <div class="Card">
                                <img src="~/Uploads/@landmark.PhotoPath" alt="@landmark.Name" class="img-fluid">
                                <div class="caption">
                                    <h2>
                                        @landmark.Name
                                    </h2>
                                    <p>
                                        @landmark.Owner
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
        <a href="" class="MoreTours">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
    </div>
</section>