﻿@model List<Mallamed.Entity.Donator>
<section class="Our-NewPartners">
    <div class="container">
        <div class="div-Title">
            <h3>انضم إلينا حديثا</h3>
            <p>تعرف على احدث المانحين المنضمين إلينا</p>
        </div>
        <div class="NewPartner">
            @if (Model.Count() > 0)
            {
            foreach (var Dont in Model)
            {
                <a href="@Url.Action("Details", "Donator", new { Id = Dont.ID })">
                    <div class="Partner">
                        <div class="Partner-Img">
                            <img src="~/Uploads/@Dont.Photo" alt="@Dont.OrgName" class="Partner-logo">
                            <div class="Discount">
                                @*<p> @(Dont.DonatServices.FirstOrDefault().Discount) </p>*@
                            </div>
                        </div>
                        <div class="Partner-name">
                            <h3>
                                @Dont.OrgName
                            </h3>
                        </div>
                    </div>
                </a>
            }
            }
        </div>
    </div>
</section>
