﻿@model List<Mallamed.Entity.News>

<div class="news">
    <div class="container">
        <div class="div-Title">
            <h3>الاخبار</h3>
            <p>تعرف على أخر الاخبار</p>
        </div>
        <!-----start first card-deck------>
        <div class="card-deck">
            @foreach (var news in Model)
            {
                <div class="card">
                    <img class="card-img-top" src="@Url.Content(AppConstants.ImgNews + (System.IO.File.Exists(Server.MapPath(AppConstants.ImgNews + news.PhotoPath)) ? news.PhotoPath : AppConstants.ImgDefaultNews))" alt="@news.Name">
                    <div class="card-body">
                        <h5 class="card-title">@news.Name</h5>
                        <p class="date">
                            <i class="fa fa-calendar"></i>
                            @news.Date
                        </p>
                        <p>
                            @news.Details
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Details","News",new { Id = news.ID })">اقرأ المزيد</a>
                    </div>
                </div>
            }
        </div>
        <!-----End first card-deck------>
        <a href="@Url.Action("Index","News")" class="MoreNews">
            شاهد المزيد
        </a>
    </div>
</div>