﻿@model List<Mallamed.Entity.Ws_GoldSponsors>

@if (Model != null)
{

    <section class="Our-Partners">
        <div class="container">
            @{
                int count = Model.Count();
                int divCount = count % 4 == 0 ? count / 4 : ((int)count / 4) + 1;
            }
            <div class="div-Title">
                <h3>
                    الرعاه الذهبيين
                </h3>
                <p>
                    تعرف على شركاء النجاح
                </p>
            </div>
            @for (int i = 0; i < divCount; i++)
            {
                <div class="row @(i > 0 ? "MorePartners" : "")">
                    @foreach (var itm in Model.Skip(i * 4).Take(4))
                    {
                        <div class="col-md-3 col-sm-6">
                            <span>
                                <div class="Partner">
                                    <div class="Partner-Img">
                                        <img src="~/Uploads/@itm.PhotoPath" alt="@itm.Name" class="Partner-logo">
                                    </div>
                                    <div class="Partner-name">
                                        <h3>
                                            @itm.Name
                                        </h3>
                                    </div>
                                </div>
                            </span>

                        </div>
                    }
                </div>
            }
            <a href="" class="MoreItems">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
        </div>
    </section>
}