﻿@model List<Mallamed.Entity.Ws_Slider>
@{
    int i = 0;
}


<section class="carousel-section">
    <div id="BannerSlider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @foreach (var slid in Model)
            {
                <div class="carousel-item @( i == 0 ? "active" : "")">
                    <img class="d-block w-100" src="~/Uploads/@slid.PhotoPath" style="height:400px;" alt="@slid.Title">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>
                            @slid.Title
                        </h5>
                        <p>
                            @slid.Details
                        </p>
                    </div>
                </div>
                i++;
            }
        </div>
        <a class="carousel-control-prev" href="#BannerSlider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">
                السابق
            </span>
        </a>
        <a class="carousel-control-next" href="#BannerSlider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">
                التالي
            </span>
        </a>
        <ol class="carousel-indicators">
            @{
                i = 0;
            }
            @foreach (var slid in Model)
            {
                <li data-target="#BannerSlider" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                i++;
            }
        </ol>
    </div>
</section>