﻿@model List<Mallamed.Entity.DonatedService>

@if (Model != null)
{
    <section class="TemporaryDiscount">
        <div class="container">
            <div class="div-Title">
                <h3>
                    عروض مؤقتة
                </h3>
            </div>
            <div class="TemporaryDeals">
                @foreach (var Dnt in Model)
                {
                    <a href="@Url.Action("Details","Donator",new {Id = Dnt.ID })">
                        <div class="Partner">
                            <div class="Partner-Img">
                                <img src="~/Uploads/@Dnt.Donator.Photo" alt="@Dnt.Donator.OrgName" class="Partner-logo">
                                <div class="Discount"><p>@Dnt.Discount % </p></div>
                            </div>
                            <div class="Partner-name">
                                <h3>@Dnt.Donator.OrgName </h3>
                            </div>
                            <div class="Timed">
                                <p>
                                    من
                                    <span>
                                        @(((DateTime)Dnt.StartDate).ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ar-AE")))
                                    </span>
                                    الى
                                    <span>
                                        @(((DateTime)Dnt.EndDate).ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("ar-AE")))
                                    </span>
                                </p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </section>
}