﻿
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@Html.Partial("~/Views/Shared/_HeadLine.cshtml", new Dictionary<string, string> { { Url.Action("AboutUs"), "عن معالم" } })
@{
    Mallamed.Entity.MallamDbFEntities db = new Mallamed.Entity.MallamDbFEntities();
    var evaluationClients = db.EvaluationClients.Take(3).ToList();
    var Goals = db.Ws_Goals.ToList();
    var Photo = db.Ws_Photos.ToList();
    var Video = db.Ws_Video.ToList();
}
<!-- Banner -->
<section class="Banner text-center">
    <div class="Banner-Box">
    </div>
</section>

<!-- About -->
<section class="About">
    <div class="container">
        <h2>اعرف المزيد عن معالم</h2>
        @foreach (var item in Goals.Where(a=>a.Main==true))
        {
            <p>@item.Details</p>
        }
    </div>
</section>
<!-- Testimonial -->
<section class="Testimonial">
    <div class="container">
        <div class="div-Title">
            <h3>انضم الي اكثر من 500,000 عميل</h3>
        </div>
        @if (evaluationClients != null && evaluationClients.Count() > 0)
        {
            <div class="testimonialCarosal">
                @foreach (var itm in evaluationClients)
                {
                    <div class="Custmer-testimonial">
                        <div class="row">
                            <div class="col-md-9">
                                @*<div class="d-block Custmer-testimonial-Comment">
                                        <p>خدمة عملاء معالم كارد خدمة ممتازة… شكرا معالم كارد على هذه التجربه الرائعه</p>
                                    </div>*@
                            </div>
                            <div class="col-md-3">
                                <div class="Custmer-testimonial-Info">
                                    <div class="customer-img">
                                        <img src="@Url.Content(AppConstants.ImgDonator + (System.IO.File.Exists(Server.MapPath(AppConstants.ImgDonator + itm.Donator?.Photo)) ? itm?.Donator?.Photo : AppConstants.ImgDefaultDonator))" alt="@(itm?.Donator?.OrgName)">
                                    </div>
                                    <h5>@itm?.Donator?.OrgName</h5>
                                    @if (itm.Evaluate != null)
                                    {
                                        <ul class="list-inline Rating">
                                            @for (int i = 0; i < itm.Evaluate; i++)
                                            {
                                                <li class="list-inline-item">
                                                    <i class="fa fa-star"></i>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>

<!-- Counting -->
<section class="Counting">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="Count">
                    <div class="icon">
                        <i class="fa fa-group cherry-icon center  icon-166"></i>
                    </div>
                    <h3>
                        <span class="timer">@db.AspNetUsers.Count()</span>
                        <br>
                        عميل
                    </h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="Count">
                    <div class="icon">
                        <i class="fa fa-institution cherry-icon center  icon-123"></i>
                    </div>
                    <h3>
                        <span class="timer">@db.Donators.Count()</span>
                        <br>
                        متجر
                    </h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="Count">
                    <div class="icon">
                        <i class="fa fa-money cherry-icon center  icon-387"></i>
                    </div>
                    <h3>
                        <span class="timer">@db.Cards.Count()</span>
                        <br>
                        قسائم إستردادية
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="About">
    <div class="container">
        <h2> الاهداف</h2>
        @foreach (var item in Goals.Where(a=>a.Main==false))
        {
            <p>
                @item.Details
            </p>
        }
    </div>
</section>

<section class="About">
    <div class="container">
        <h2> الصور</h2>
        @foreach (var Event in Photo)
        {
        <div class="col-sm-6">
            <div class="eventCard">
                <img class="img-fluid" src="~/Uploads/@Event.PhotoPath" >
              
                
            </div>
            
        </div>
        }
    </div>
</section>

<section class="About">
    <div class="container">
        <h2> الفديوهات</h2>
        <div class="row">
            @foreach (var item in Video)
        {

            <div class="col-md-4 col-sm-6">
                <a href="@item.VideoPath" , new { Id=Event.Id })">
                    <div class="Card">
                        <div class="caption">
                            <h2>@item.Title</h2>
                            @*<p> @landMark.Owner </p>*@
                        </div>
                    </div>
                </a>
            </div>
    }

            </div>

        </div>
</section>
