﻿@model List<Mallamed.Entity.Ws_Cards>

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@Html.Partial("~/Views/Shared/_HeadLine.cshtml", new Dictionary<string, string> { { Url.Action("AboutUs"), "عن معالم" } })
@{
    Mallamed.Entity.MallamDbFEntities db = new Mallamed.Entity.MallamDbFEntities();
    var evaluationClients = db.Ws_Cards.ToList();
}
<!-- Banner -->
<section class="Banner text-center">
    <div class="Banner-Box">
    </div>
</section>

<!-- About -->
<section class="About">
    <div class="container">
        <h2>اعرف المزيد عن البطاقه </h2>
        @foreach (var item in Model)
        {
            <p>@item.CardText</p>
        }
    </div>
</section>
