﻿@model IEnumerable<Mallamed.Entity.Ws_Photos>
@{
    ViewBag.Title = "AlbomPhoto";
}
<div class="accessories ptb-50">
    <div class="container">
        <div class="section-title mb-50">
            <h2>
              معرض الصور
            </h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-3">
                    <img src="@item.PhotoPath" alt="@item.Title" title="@item.Title" style="width:100%;height:250px;" />
                </div>
            }
         
        </div>        
    </div>            
</div>