﻿@model Mallamed.Entity.WebSiteContactInfo

@if (ViewBag.id == 0)
{
    <ul class="footer-list first-content">
        <li><i class="zmdi zmdi-phone-in-talk"></i>رقم الجوال : @Model.TelePhone</li>
        <li><i class="zmdi zmdi-phone-in-talk"></i>رقم الهاتف : @Model.PhoneNumber</li>
        <li>
            <i class="zmdi zmdi-pin-drop"></i> العنوان : @Model.Address
        </li>
        <li></li>
    </ul>
}
else
{
    <div class="header-box contact-phones pull-right ">
        <span class="header-box-icon header-box-icon-earphones"></span>
        <ul class="pull-left">
            <li>اتصل بنا</li>
            <li>@Model.PhoneNumber</li>
        </ul>
    </div>
    if (!string.IsNullOrWhiteSpace(Model.TelePhone))
    {
        <div class="header-box contact-phones pull-right ">
            <span class="header-box-icon header-box-icon-earphones"></span>
            <ul class="pull-left">
                <li>اتصل بنا</li>
                <li>@Model.TelePhone</li>
            </ul>
        </div>
    }

}
