﻿@model Mallamed.Entity.Ws_Contactus
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

@Html.Raw(TempData["msg"])

@Html.Partial("~/Views/shared/_HeadLine.cshtml", new Dictionary<string, string> { { Url.Action("ContactUs"), "اتصل بنا" } })

<section class="serve">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3711687.254404913!2d45.6044260566009!3d24.703023587067097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zINin2YTZhdiv2YrZhtipINin2YTZhdmG2YjYsdipLSDZhdiu2LfYtyDYp9mE2LnZhtiy2YotINiq2YLYp9i32Lkg2YPYqNix2Yog2KfZhNix2YrYp9i2!5e0!3m2!1sar!2seg!4v1524578377646" allowfullscreen></iframe>
</section>
<section class="infosection">
    <div class="forsection2">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fontcont">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <p class="infopargraph">العنوان : المدينة المنورة- مخطط العنزي- تقاطع كبري الرياض</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fontcont">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <p class="infopargraph">
                        رقم الجوال : 920009813<br>
                        رقم الهاتف : 0148493111
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fontcont">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <p class="infopargraph">
                        البريد الألكتروني:
                        <br>info@Waffer.com
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fontcont">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <p class="infopargraph">مواعيد العمل:<br>24ساعة</p>
                </div>
            </div>

        </div>
    </div>
    <section class="supsection">
        <div class="container">
            <h2>هل لديك أي استفسارات أخري؟ قم بملئ الاستمارة للتواصل معنا</h2>
            <h3>تواصل معنا</h3>

            <div id="divValidate" style="display:none" class="text-center alert alert-danger">
                <label class="text-center"></label>
            </div>
            @using (Html.BeginForm("ContactUs", "Home", new { area = "" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
            {

                <div class="form-row">
                    <div class="form-group col-md-4 col-sm-6 col-xs-12 marginform">

                        <label for="inputEmail4">إسم المستخدم</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-xs-12 marginform">
                        <label for="inputEmail4">رقم الجوال</label>
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-xs-12 marginform">
                        <label for="inputEmail4">البريد الالكترونى</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "Email" })
                    </div>
                    <div class="form-group col-12">
                        <label for="exampleFormControlTextarea1">أكتب رسالتك</label>
                        @Html.TextAreaFor(x => x.Messages, new { @class = "form-control", @required = "required" })
                    </div>
                </div>


                <div class="col-12">
                    <button type="submit" class="forbtnstyle btn btn-primary">إرسل الان</button>
                </div>
            }

        </div>
    </section>
</section>
<script>

    function ContactUs(Id) {
        var Name = $("#Name").val();
        var Address = $("#Address").val();
        var Email = $("#Email").val();
        var Phone = $("#Phone").val();
        var Messages = $("#Messages").val();
        alert("asas");

        $.ajax({
            url: "/Home/ContactUs/",
            data: { Name: Name, Address: Address, Email: Email, Phone: Phone, Messages: Messages },
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {

                $("#divNeighbourhood").html(result);
                $("#preholder").hide();
            },
            error: function (result) {

                $("#divNeighbourhood").html("");
                $("#preholder").hide();
            }
        });
    }
</script>

@section scripts{




    @*<script>
            $("#ContactUsForm").submit(function (e) {
                e.preventDefault();
                var divValidate = $("#divValidate"), lbl = $("#divValidate label");

                divValidate.addClass("alert-danger");

                var inpts = $("#ContactUsForm input , #ContactUsForm textarea");

                var chk = true;

                inpts.each(function () { if ($(this).val().trim() == "") { divValidate.slideDown(); lbl.text($(this).prev("label").text() + " مطلوب"); chk = false; return false; } });

                var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

                if (!chk) return false;

                if (!filter.test($(inpts[2]).val().trim())) {
                    lbl.text('بريد الكتروني غير صالح.');
                    return false;
                }


                var sendData = { "Name": $(inpts[0]).val(), "Phone": $(inpts[1]).val(), "Email": $(inpts[2]).val(), "Messages": $(inpts[3]).val() };

                $.post("@Url.Action("ContactUs")", sendData, function (data) {
                    divValidate.removeClass("alert-danger").addClass("alert-success");
                    lbl.text('تم الاضافه بنجاح');
                    inpts.each(function () { $(this).val('')});
                }, "json");
            });
        </script>*@
}