﻿@model Mallamed.Models.Cardss
@{
    ViewBag.title = "حجز البطاقة";
}

<div id="breadcrumb-container">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">تسجيل البطاقة</a></li>
            <li class="active">حجز البطاقة</li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="content-title">
                <h2 class="title">تسجيل البطاقة</h2>
                <br />
            </header>
            <div class="xs-margin"></div><!-- space -->
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                 
                    <div class="row">

                        @Html.ValidationSummary(true)
                        @using (Html.BeginForm("DemondCard", "Home", FormMethod.Post, new { @id = "contact-form" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">اسم بالكامل&#42;</span></span>
                                    @Html.TextBox("Name", null, new { @class = "form-control input-lg", @Required = "Required", @placeholder = "اسم بالكامل..." })
                                </div><!-- End .input-group -->
                        <br />
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">رقم الجوال&#42;</span></span>
                                    @Html.TextBox("Phone", null, new { @class = "form-control input-lg", @type = "number", @Required = "Required", @placeholder = "رقم الجوال ..." })
                                </div><!-- End .input-group -->
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">البريد الاليكتروني&#42;</span></span>
                                    @Html.TextBox("Email", null, new { @class = "form-control input-lg", @type = "email", @Required = "Required", @placeholder = "البريد الاليكتروني ..." })
                                </div><!-- End .input-group -->
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">اسم المستخدم&#42;</span></span>
                                    @Html.TextBox("Username", null, new { @class = "form-control input-lg", @Required = "Required", @placeholder = "اسم المستخدم..." })
                                </div><!-- End .input-group -->
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">تاكيد كلمة المرور&#42;</span></span>
                                    @Html.TextBox("ConfirmPassword", null, new { @class = "form-control input-lg", @type = "password", @Required = "Required", @placeholder = "  تاكيد كلمة المرور..." })
                                </div><!-- End .input-group -->
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text"> كلمة المرور&#42;</span></span>
                                    @Html.TextBox("Password", null, new { @class = "form-control input-lg", @type = "password", @Required = "Required", @placeholder = "   كلمة المرور..." })
                                </div>
                                <br />
                                <p class="item-desc" style="color:orangered">
                                    يرجي ملئ كل الحقول السابقة
                                </p>
                                <br />
                                <input type="submit" value="تاكيد الحجز" class="btn btn-success" style="padding-top:5px; padding-bottom:5px;height:auto;    font-size: 18px;">
                                <br />
                            </div><!-- End .col-md-6 -->
                            <br />
                        }
                    </div><!-- End .row -->

                </div><!-- End .col-md-8 -->
            <div class="col-md-6 col-sm-6">
                <h2 class="sub-title">عن البطاقة</h2>
                @if (Model.MainCard != null)
                {
                    <p  style="font-size: 16px;line-height: 2;">
                        @Model.MainCard.CardText
                    </p>
                }
                else
                {
                    <p  style="font-size: 16px;line-height: 2;">
                        البطاقة لها  مميزات خاص تعمل علي وضع خصومات علي المنتجات والخدمات التي يقدمها المانحين بحيث توفو للعميل جودة المنتج وقلة التكلفة
                    </p>
                }

            </div>
            </div><!-- End .row -->

        </div><!-- End .col-md-12 -->
    </div><!-- End .row -->
</div><!-- End .container -->
<br />