﻿@model Mallamed.Entity.Event
@{
    ViewBag.Title = "LandMark";
}

<style>
    .rating i {
        color: #f7bc3d;
        font-size: 26px;
        letter-spacing: 7px;
    }
</style>
<!-- Product Thumbnail Start -->
<div class="main-product-thumbnail pb-50">
    <div class="container">
        <h4>صور الفاعليه</h4>
        <br />
        <br />
        <div class="row">
            <!-- Main Thumbnail Image Start -->
            <div class="col-sm-5">
                <!-- Thumbnail Large Image start -->
                <div class="tab-content">
                    <div id="thumb-0" class="tab-pane fade in active">
                        <a data-fancybox="images" href="@Model.PhotoPath"><img src="@Model.PhotoPath" alt="product-view"></a>
                    </div>
                    @foreach (var item in Model.EventPhotoes)
                {
                    <div id="thumb-@item.Id" class="tab-pane fade">
                        <a data-fancybox="images" href="@item.PhotoPath"><img src="@item.PhotoPath" alt="product-view"></a>
                    </div>
            }
                </div>
                <!-- Thumbnail Large Image End -->
                <!-- Thumbnail Image End -->
                <div class="product-thumbnail">
                    <div class="thumb-menu owl-carousel">
                        <div class="active">
                            <a data-toggle="tab" href="#thumb-0"> <img src="@Model.PhotoPath" alt="product-thumbnail"></a>
                        </div>
                        @foreach (var item in Model.EventPhotoes)
                    {
                        <div>
                            <a data-toggle="tab" href="#thumb-@item.Id"> <img src="@item.PhotoPath" alt="product-thumbnail"></a>
                        </div>
                }
                    </div>
                </div>
                <!-- Thumbnail image end -->
            </div>
            <!-- Main Thumbnail Image End -->
            <!-- Thumbnail Description Start -->
            <div class="col-sm-7">
                <div class="thubnail-desc fix">
                    <h2 class="product-header">@Model.Name</h2>
                    <div class="rating-summary fix mtb-10">

                    </div>
                    <div class="product-social-link">
                        <ul class="list-inline">
                            <li><a href="#">نوع الفاعليه: @Model.EventType.Name</a></li>
                            <br />
                            <br />

                            <li><a href="#">العنوان: @Model.Address</a></li>
                            <br />
                            <br />
                            <li><a href="#"> تاريخ البدايه: @Model.StartDate</a></li>
                            <br />
                            <br />
                            <li><a href="#"> تاريخ النهايه : @Model.EndDate</a></li>
                        </ul>
                    </div>
                    <p class="ptb-30">
                       
                        @Model.Details
                    </p>
                    <div style="font-size:large; ">
                        @foreach (var item in Model.EventSocialMedias)
                        {
                            <a href="@item.Link" style="margin:10px;">
                                @if (item.type == "FaceBook")
                                {
                                    <i class="fa fa-3x fa-facebook"></i>
                                }
                                @if (item.type == "Twitter")
                                {
                                    <i class="fa fa-3x fa-twitter"></i>
                                }
                                @if (item.type == "Instegram")
                                {
                                    <i class="fa fa-3x fa-instegram"></i>
                                }
                                @if (item.type == "Linkedin")
                                {
                                    <i class="fa fa-3x fa-linkedin"></i>
                                }
                            </a>
                        }
                       
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

<br />
<br />
<br />
<br />


<div class="main-product-thumbnail pb-50">
    <div class="container">
        <h4>صور التنظيم</h4>
        <br />
        <br />
        <div class="row">

            <!-- Main Thumbnail Image Start -->
            <div class="col-sm-5">
                <!-- Thumbnail Large Image start -->
                <div class="tab-content">
                    <div id="thumb-0" class="tab-pane fade in active">
                        <a data-fancybox="images" href="@Model.PhotoPath"><img src="@Model.PhotoPath" alt="product-view"></a>
                    </div>
                    @foreach (var item in Model.EventSponsors)
                {
                    <div id="thumb-@item.Id" class="tab-pane fade">
                        <a data-fancybox="images" href="@item.PhotoPath"><img src="@item.PhotoPath" alt="product-view"></a>
                    </div>
            }
                </div>
                <!-- Thumbnail Large Image End -->
                <!-- Thumbnail Image End -->
                <div class="product-thumbnail">
                    <div class="thumb-menu owl-carousel">
                        <div class="active">
                            <a data-toggle="tab" href="#thumb-0"> <img src="@Model.PhotoPath" alt="product-thumbnail"></a>
                        </div>
                        @foreach (var item in Model.EventSponsors)
                    {
                        <div>
                            <a data-toggle="tab" href="#thumb-@item.Id"> <img src="@item.PhotoPath" alt="product-thumbnail"></a>
                        </div>
                }
                    </div>
                </div>
                <!-- Thumbnail image end -->
            </div>
            <!-- Main Thumbnail Image End -->
            <!-- Thumbnail Description Start -->
            <div class="col-sm-7">
                <div class="thubnail-desc fix">
                    <h2 class="product-header">@Model.Name</h2>
                    <div class="rating-summary fix mtb-10">

                    </div>
                    <div class="product-social-link">
                        <ul class="list-inline">
                            <li><a href="#">نوع الفاعليه: @Model.EventType.Name</a></li>
                            <br />
                            <br />

                            <li><a href="#">العنوان: @Model.Address</a></li>
                            <br />
                            <br />
                            <li><a href="#"> تاريخ البدايه: @Model.StartDate</a></li>
                            <br />
                            <br />
                            <li><a href="#"> تاريخ النهايه : @Model.EndDate</a></li>
                        </ul>
                    </div>
                    <p class="ptb-30">
                        الفاصيل
                        <br />
                        @Model.Details
                    </p>
                    

                </div>
            </div>

        </div>

    </div>

</div>


