﻿@model PagedList.IPagedList<Mallamed.Entity.Event>
@using PagedList.Mvc;
@{
    ViewBag.Title = "View";
}
<style>
    .rating i {
        color: #f7bc3d;
        font-size: 20px;
        letter-spacing: 1px;
    }
</style>
<div class="accessories ptb-50">
    <div class="container">
        <div class="section-title mb-50">
            <h2>
                عرض الفاعليات  @if (ViewBag.name != null)
                {<strong>( @ViewBag.name )</strong>}
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
                <div class="main-categorie">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-6">
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img" style="width:100%;height:200px;">
                                        <a href="/Home/EventDetails?id=@item.Id">
                                            <img class="primary-img" style="width:100%;height:200px;" src="@item.PhotoPath" alt="single-product">
                                            <img class="secondary-img" style="width:100%;height:200px;" src="@item.PhotoPath" alt="single-product">
                                        </a>
                                        <div class="quick-view text-center">
                                            <a href="/Home/EventDetails?id=@item.Id">شاهد الان</a>
                                        </div>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="">
                                        <h5><a href="/Home/EventDetails?id=@item.Id">@item.Name</a></h5>
                                        
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                            </div>

                            
                        }


                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-pull-9 col-md-3 col-md-pull-9 col-sm-4 col-sm-pull-8">
                @Html.Action("GetEventType", "Home")
            </div>
        </div>

    </div>
</div>
@if (Model.PageCount > 1)
{
    <div class="pageList" id="cen" style="text-align: center;">
        @Html.PagedListPager(Model, page => Url.Action("Event", new { page, id = ViewBag.id }))
    </div>
}