﻿@model IEnumerable<Mallamed.Entity.LandmarkType>

<div class="sidebar white-bg">
    <h3 class="sidebar-title">تصنيفات المعالم</h3>

    <!-- Manufacturer Start -->
    <div class="manufacturer mb-30">
        <ul class="pt-5">
            @foreach (var item in Model)
            {
                <li><a href="/Home/LandMark?id=@item.Id">@item.Name <span>(@item.Landmarks.Count())</span></a></li>
            }
        </ul>
    </div>
    <!-- Manufacturer End -->
</div>