﻿@model Mallamed.Entity.Landmark
@{
    ViewBag.Title = "LandMark";
}
<style>
    .rating i {
    color: #f7bc3d;
    font-size: 26px;
    letter-spacing: 7px;
}
</style>
   <!-- Product Thumbnail Start -->
<div class="main-product-thumbnail pb-50">
    <div class="container">
        <div class="row">
            <!-- Main Thumbnail Image Start -->
            <div class="col-sm-5">
                <!-- Thumbnail Large Image start -->
                <div class="tab-content">
                    <div id="thumb-0" class="tab-pane fade in active">
                        <a data-fancybox="images" href="@Model.PhotoPath"><img src="@Model.PhotoPath" alt="product-view"></a>
                    </div>
                    @foreach (var item in Model.LandmarkPhotos)
                    {  
                      <div id="thumb-@item.Id" class="tab-pane fade">
                        <a data-fancybox="images" href="@item.PhotoPath"><img src="@item.PhotoPath" alt="product-view"></a>
                      </div>
                    }
                </div>
                <!-- Thumbnail Large Image End -->
                <!-- Thumbnail Image End -->
                <div class="product-thumbnail">
                    <div class="thumb-menu owl-carousel">
                        <div class="active">
                            <a data-toggle="tab" href="#thumb-0"> <img src="@Model.PhotoPath" alt="product-thumbnail"></a>
                        </div>
                        @foreach (var item in Model.LandmarkPhotos)
                        {
                            <div>
                                <a data-toggle="tab" href="#thumb-@item.Id"> <img src="@item.PhotoPath" alt="product-thumbnail"></a>
                            </div>
                        }
                    </div>
                </div>
                <!-- Thumbnail image end -->
            </div>
            <!-- Main Thumbnail Image End -->
            <!-- Thumbnail Description Start -->
            <div class="col-sm-7">
                <div class="thubnail-desc fix">
                    <h2 class="product-header">@Model.Name</h2>
                    <div class="rating-summary fix mtb-10">
                        <div class="rating f-left" style="float: right;">
                            @{ 
                                var sum = Model.LandmarkEvaluations.Sum(c => c.Evaluate);
                                var count = Model.LandmarkEvaluations.Count();
                                int rate = 0;
                                if (count != 0 && sum != 0)
                                {
                                    rate = sum / count;
                                }
                            }
                            @if (rate > 4)
                            {
                                <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                            }
                            else if (rate > 3)
                            {
                                <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star-outline"></i>
                            }
                            else if (rate > 2)
                            {
                                <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star-outline"></i>
                                        <i class="zmdi zmdi-star-outline"></i>
                            }
                            else if (rate > 1)
                            {
                                <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star-outline"></i>
                                        <i class="zmdi zmdi-star-outline"></i>
                                        <i class="zmdi zmdi-star-outline"></i>
                            }
                            else if (rate > 0)
                            {
                                <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star-outline"></i>
                                        <i class="zmdi zmdi-star-outline"></i>
                                        <i class="zmdi zmdi-star-outline"></i>
                                        <i class="zmdi zmdi-star-outline"></i>
                            }
                            else
                            {
                                <i class="zmdi zmdi-star-outline"></i>
                                        <i class="zmdi zmdi-star-outline"></i>
                                        <i class="zmdi zmdi-star-outline"></i>
                                        <i class="zmdi zmdi-star-outline"></i>
                                        <i class="zmdi zmdi-star-outline"></i>
                            }
                        </div>
                    </div>
                    <div class="product-social-link">
                        <ul class="list-inline">
                            <li><a href="#">@Model.LandmarkType.Name</a></li>
                            <li><a href="#">@Model.Owner</a></li>
                            <li><a href="#">@Model.Email</a></li>
                        </ul>
                    </div>
                    <div>
                        <ul class="list-inline">
                            @foreach (var item in Model.LandmarkPhones)
                            {
                                <li><i class="fa fa-phone"></i> @item.PhoneNumber</li>
                            }
                        </ul>
                    </div>
                    <p>
                        @foreach (var item in Model.LandmarkSocialMedias)
                        {
                            <a href="@item.Link" style="margin:10px;">
                                @if (item.type == "FaceBook")
                                {
                                    <i class="fa fa-3x fa-facebook"></i>
                                }
                                @if (item.type == "Twitter")
                                {
                                    <i class="fa fa-3x fa-twitter"></i>
                                }
                                @if (item.type == "Instegram")
                                {
                                    <i class="fa fa-3x fa-instegram"></i>
                                }
                                @if (item.type == "Linkedin")
                                {
                                    <i class="fa fa-3x fa-linkedin"></i>
                                }
                            </a>
                        }
                    </p>
                    <p class="ptb-30">
                        @Model.Details
                    </p>
                    <blockquote>
                        @Model.CopyRight
                    </blockquote>

                    <div class="table-responsive">
                        <h3>مواعيد العمل</h3>
                        <br />
                        <table class="table table-hover">
                            <tr>
                                <th> من يوم</th>
                                <th>الي يوم</th>
                                <th> من وقت</th>
                                <th>الي وقت</th>
                            </tr>
                            @foreach (var item in Model.LandmarkWorkTimes)
                            {
                                <tr>
                                    <td>
                                        @item.ValidDayFrom
                                    </td>
                                    <td>
                                        @item.ValidDayTo
                                    </td>
                                    <td>
                                        @item.ValidTimeFrom
                                    </td>
                                    <td>
                                        @item.ValidTimeTo
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>



                    @if (Model.AudioPath != null)
                    {
                        <audio controls="controls" src="@Model.AudioPath"> </audio>
                    }
                </div>
            </div>
            <!-- Thumbnail Description End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Product Thumbnail End -->
<!-- Related Product Start -->
<div class="related-product mb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @if (Model.VideoPath != null)
                {
                    <video controls="controls" style="width:100%;height:400px;" src="@Model.VideoPath"> </video>
                } 
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Related Product End -->

<!-- Related Product Start -->
<div class="related-product mb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @{
                    string lang = "", lat = "";
                }
                @if (Model.LatX != null && Model.LongX != null)
                {
                    lang = Model.LongX;
                    lat = Model.LatX;
                    <div id="mymap" style="width: 100%; height: 350px; margin: 0 auto;"></div>
                }
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
@section Scripts{
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAovNTHug4egjHWj2p1_iE0lUNEEwgsQZo&language=ar"></script>
    <script>
    var map,
        mLat,
        mLng,
        marker ,
        mylocate;

    function initialize() {
        mylocate = new google.maps.LatLng(@lat,@lang);
        var mapOptions = {
            zoom: 10,
            center: mylocate,
            mapTypeIds: ["hybrid", "roadmap", "satellite", "terrain", "osm", "cloudmade"]
            // mapTypeId:google.maps.MapTypeId.HYBRID
        };
        map = new google.maps.Map(document.getElementById('mymap'),
            mapOptions
        );
        marker = new google.maps.Marker({
            position: mylocate,
            animation: google.maps.Animation.BOUNCE
        });
        marker.setMap(map);
    }
    google.maps.event.addDomListener(window, 'load', initialize);


    </script>
}
