﻿@model PagedList.IPagedList<Mallamed.Entity.Landmark>
    @using PagedList.Mvc;
@{
    ViewBag.Title = "View";
}
<style>
    .rating i {
        color: #f7bc3d;
        font-size: 20px;
        letter-spacing: 1px;
    }
</style>
<div class="accessories ptb-50">
    <div class="container">
        <div class="section-title mb-50">
            <h2> عرض المعالم  @if (ViewBag.name != null)
            {<strong>( @ViewBag.name )</strong> }</h2>
        </div>
        <div class="row">
            <div class="col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
                <div class="main-categorie">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-6">
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img" style="width:100%;height:200px;">
                                        <a href="/Home/LandMarkDetails?id=@item.Id">
                                            <img class="primary-img" style="width:100%;height:200px;" src="@item.PhotoPath" alt="single-product">
                                            <img class="secondary-img"  style="width:100%;height:200px;"  src="@item.PhotoPath" alt="single-product">
                                        </a>
                                        <div class="quick-view text-center">
                                            <a href="/Home/LandMarkDetails?id=@item.Id">شاهد الان</a>
                                        </div>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="">
                                        <h5><a href="/Home/LandMarkDetails?id=@item.Id">@item.Name</a></h5>
                                        <div class="rating">
                                            @{
                                                var sum = item.LandmarkEvaluations.Sum(c => c.Evaluate);
                                                var count = item.LandmarkEvaluations.Count();
                                                int rate = 0;
                                                if (count != 0 && sum != 0)
                                                {
                                                    rate = sum / count;
                                                }
                                            }
                                            @if (rate > 4)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                            }
                                            else if (rate > 3)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (rate > 2)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (rate > 1)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (rate > 0)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else
                                            {
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                            </div>
                        }
                       

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-pull-9 col-md-3 col-md-pull-9 col-sm-4 col-sm-pull-8">
                @Html.Action("getLandMarkTypes","Home")
            </div>
        </div>
        
    </div>
</div>
@if (Model.PageCount > 1)
{
    <div class="pageList" id="cen" style="text-align: center;">
        @Html.PagedListPager(Model, page => Url.Action("LandMark", new { page,id=ViewBag.id }))
    </div>
}