﻿@model Mallamed.Models.ServeCard

@{
    ViewBag.Title = "ServeCard";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

@Html.Partial("~/Views/Shared/_HeadLine.cshtml", new Dictionary<string, string> { { Url.Action("ServeCard"), "احجز بطاقاتك" } })

<section class="serve">
    <section class="infosection">
        <div class="forsection2">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="fontcont">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <p class="infopargraph">ادخل بياناتك</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="fontcont">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <p class="infopargraph">يتم الاتصال بك فى خلال 48 ساعة</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="fontcont">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        </div>
                        <p class="infopargraph">تحصل على شرح وافى لكل مزايا العضوية</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="fontcont">
                            <i class="fa fa-id-card" aria-hidden="true"></i>
                        </div>
                        <p class="infopargraph">يصل كارد العضوية اينما تريد</p>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <div class="supsection">
        <div class="container">
            <h2>انضم الى اكثر من 500 الف عضو و ابدء التوفير</h2>
            <h3>اشترك الآن</h3>
            @using (Html.BeginForm("ServeCard", "Home", FormMethod.Post, new { @class = "formstyle", id = "FormServeCard" }))
            {
                <div id="divAlert" class="text-center alert alert-danger" style="display:none">
                    <label class="text-center"></label>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group marginform">
                            <label for="inputEmail4">الاسم بالكامل</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Name)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group marginform">
                            <label for="inputEmail4">إسم المستخدم</label>
                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Username)
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group marginform">
                            <label for="inputEmail4">رقم الجوال</label>
                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Phone)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group marginform">
                            <label for="inputEmail4">البريد الالكترونى</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "Email" })
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group marginform">
                            <label for="inputPassword4">كلمة المرور</label>
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group marginform">
                            <label for="inputPassword4">تأكيد كلمة المرور</label>
                            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", type = "password" })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </div>
                    </div>

                </div>
                <div class="col forbtnstyle">
                    <button type="submit" id="btnSave" class="btn btn-primary">إشترك الان</button>
                </div>
            }

        </div>
    </div>
</section>
@section scripts{
    <script>

        $("#btnSave").click(function (e) {
            e.preventDefault();

            var inpts = $("#FormServeCard input"), chk = true;

            inpts.next("span").text('');

            var sendData = {};

            inpts.each(function () {if ($(this).val().trim() == '') {$(this).next("span").text($(this).prev("label").text() + " مطلوب");$(this).focus(); chk = false;return false;}else {sendData[$(this).attr("name")] = $(this).val();}});

            if (!chk) { return false; }

            if ($("#Password").val().length < 6) {$(inpts[4]).next("span").text("يرجي اخال الكلمة المرورو اكبر من 6 احرف");return false;}

            if ($("#ConfirmPassword").val().trim() != $("#Password").val().trim()) {$(inpts[5]).next("span").text("كلمه السر غير متطابقه");return false;}


            $.post("@Url.Action("ServeCard")", sendData, function (data) {
                if (data == 2) {document.location.href = "@Url.Action("Index" , "Home")";}
                else {
                    if (data == -1) {$(inpts[3]).next("span").text("بريد الكتروني غير صالح");}
                    else if (data.id == 1) {$(inpts[1]).next("span").text(data.msg);}
                    else {$(inpts[3]).next("span").text(data.msg);}
                }
            }, "json");
        });

    </script>
}