﻿@model IEnumerable<Mallamed.Entity.Ws_SocialMedia>

@*<ul class="fixed-icon-list">
        @foreach (var item in Model)
        {
            if (item.type == "FaceBook")
            {
                <li><a href="@item.Link" data-toggle="tooltip" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>
            }
            if (item.type == "Twitter")
            {
                <li><a href="@item.Link" data-toggle="tooltip" title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
            }
            if (item.type == "Instegram")
            {
                <li><a href="@item.Link" data-toggle="tooltip" title="Instagram"><i class="zmdi zmdi-instagram"></i></a></li>
            }
            if (item.type == "Linkedin")
            {
                <li><a href="@item.Link" data-toggle="tooltip" title="linkedin"><i class="zmdi zmdi-linkedin"></i></a></li>
            }
        }
    </ul>*@


<section class="social-bar">
    <div class="container">
        <div class="row">
           
               
            <div class="facebook">
                <button><i class="fa fa-facebook"></i></button>
                @foreach (var item in Model.Where(a=>a.type== "FaceBook"))
                {
                     <div class="content">
                    <iframe src="@item.Link" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
                }
               
            </div>
               
            <div class="twitter">
                <button><i class="fa fa-twitter"></i></button>
                 @foreach (var item in Model.Where(a => a.type == "Twitter"))
                 {
                <div class="content">
                    <a class="twitter-timeline" data-height="400" href="@item.Link"></a>
                    <script async src="@item.Link" charset="utf-8"></script>
                </div>
                 }
            </div>
               
            <div class="instagram">
                <button><i class="fa fa-instagram"></i></button>
                @foreach (var item in Model.Where(a => a.type == "Instegram"))
                {
            <div class="content">
                <a class="instagram-timeline" data-height="400" href="@item.Link"></a>
                <script async src="@item.Link" charset="utf-8"></script>
            </div>
                }
            </div>

             @*<div class="linkedin">
                <button><i class="zmdi zmdi-linkedin"></i></button>
                @foreach (var item in Model.Where(a => a.type == "Linkedin"))
                {
            <div class="content">
                <a class="linkedin-timeline" data-height="400" href="@item.Link"></a>
                <script async src="@item.Link" charset="utf-8"></script>
            </div>
                }
            </div>*@
               
        </div>
    </div>
</section>