﻿@model Core.Viewmodels.Admin.CardWebsiteVM
@using (Html.BeginForm("Create", "AboutCardsWebSite", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">عن البطاقه</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" hidden id="Id" value="@Model.ID" name="Id">

                            <label for="field-3" class="control-label">عن البطاقه </label>
                            <textarea type="text" class="form-control" required id="CardText" value="@Model.CardText" name="CardText" placeholder="اسم الفائدة">@Model.CardText </textarea>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <input type="submit" class="btn btn-info waves-effect waves-light"  value="حفظ" />
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">اغلاق</button>

            </div>
            
        </div>
    </div>



}