﻿@model Mallamed.Entity.Event

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@if (Model != null)
{

    @Html.Partial("~/Views/Shared/_HeadLine.cshtml", new Dictionary<string, string> { { Url.Action("Index"), "فعاليات" }, { Url.Action("Details" + "/" + Model.Id.ToString()), Model.Name } })

    <section class="PageBanner">
        <div class="event-banner">
           
            @if(Model.PhotoPath =="" || Model.PhotoPath.Length == 0)
            {
                <img src="~/imgs/logo.jpg"  alt="@Model.Name" class="img-fluid">

            }
            else {

            <img src="~/Uploads/@Model.PhotoPath"  alt="@Model.Name" class="img-fluid">
                }
            <div class="Banner-Box">
                <div class="container"><div class="event-Title"><p>@Model.Name</p> </div></div>
                <div class="container"><div class="event-Title"><p>@Model.Reference</p> </div></div>

            </div>
        </div>
    </section>
    <section class="evet-Description">
        <div class="container">
            <div class="div-Title">
                <h3> التفاصيل </h3>
            </div>
            @{
                DateTime StartDate = ((DateTime)Model.StartDate);
                DateTime EndDate = ((DateTime)Model.EndDate);
            }
            <div class="row">
                <div class="col">
                    <ul class="list-inline">
                        <li class="from-to">
                            من:
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            @(StartDate.Day.ToString() + " " + StartDate.ToString("MMMM", new System.Globalization.CultureInfo("ar-AE")) )
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            @(StartDate.ToString("HH", new System.Globalization.CultureInfo("ar-AE")) )
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-inline">
                        <li class="from-to">
                            الي
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            @(EndDate.Day.ToString() + " " + EndDate.ToString("MMMM", new System.Globalization.CultureInfo("ar-AE")) )
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            @(EndDate.ToString("HH", new System.Globalization.CultureInfo("ar-AE")) )
                        </li>
                    </ul>
                </div>
            </div>
            <div class="description">
                <p>
                    @Model.Details
                </p>
            </div>
        </div>
    </section>

    if (Model.Lat != null && Model.Lang != null)
    {
        <section class="event-map">
            <div class="container">
                <div class="div-Title">
                    <h3>
                        الخريطة
                    </h3>
                </div>
                <div class="mapsection">
                    <iframe src="https://maps.google.com/maps?q=@Model.Lat,@Model.Lang&hl=es;z=14&amp;output=embed" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </section>
    }
}