﻿<section class="ourEvents">
        @{ 
            Layout = "";
        }
    @model List<Mallamed.Entity.Event>

    <div class="overlay">
        <div class="container">
            <div class="div-Title">
                <h3>الفعاليات</h3>
                <p>تعرف على احدث الفعاليات </p>
            </div>
            <div class="row">
                @foreach (var Event in Model)
                {
                    <div class="col-sm-6">
                        <a href="@Url.Action("Details",new {Id = Event.Id })">
                            <div class="eventCard">
                                <img class="img-fluid" src="~/Uploads/@Event.PhotoPath" alt="@Event.Name">
                                <div class="eventDate">
                                    <span> @(Event.StartDate != null ? ((DateTime)Event.StartDate).Day.ToString() : "") </span>
                                    @(Event.StartDate != null ? ((DateTime)Event.StartDate).ToString("MMMM", new System.Globalization.CultureInfo("ar-AE")) : "")
                                </div>
                                <div class="eventtitle">
                                    @Event.Name
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
