﻿
@model List<Mallamed.Entity.EventType>

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@Html.Partial("~/Views/Shared/_HeadLine.cshtml", new Dictionary<string, string> { { Url.Action("Index"), "فعاليات" } })


@if (Model != null)
{
<section class="Tourisme">
    <div class="container">
        <div class="div-Title">
            <h3>المعالم السياحية </h3>
            <p>تعرف على احدث  انواع المعالم السياحية  </p>
        </div>
        <div class="row">
            @foreach (var Event in Model)
            {
            <div class="col-md-4 col-sm-6">
                <a href="@Url.Action("EventByTypeId", new { EventTypeId = Event.Id })">
                    <div class="Card">
                        @*<img src="~/Uploads/@landMark.PhotoPath" alt="@landMark.Name" class="img-fluid">*@
                        <div class="caption">
                            <h2>@Event.Name</h2>
                            @*<p> @landMark.Owner </p>*@
                        </div>
                    </div>
                </a>
            </div>
            }
        </div>
    </div>
</section>
}