﻿@model IEnumerable<Mallamed.Models.ApplicationUser>
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";


}



<div class="content-page">

    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        @*<h4 class="page-title">الشروط</h4>*@
                        <ol class="breadcrumb float-left">
                            <li class="breadcrumb-item"><a href="#">الرئسيه</a></li>
                            <li class="breadcrumb-item"><a href="#"> الادمن</a></li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <p>

                <a href="#" data-toggle="modal" data-target="#GroupModel" class="btn btn-success">اضافة ادمن </a>
            </p>

            <div class="modal fade " id="GroupModel" tabindex="-1" role="dialog" aria-labelledby="PersonDataModelLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="PersonDataModelLabel">انشاء ادمن </h4>
                        </div>
                        <div class="modal-body ">


                            @using (Html.BeginForm("AddAdmin", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @Class = "form-horizontal ", id = "frmPersonData" }))
                    {
                        @Html.ValidationSummary(true)

                        @Html.AntiForgeryToken()


                        <div class="form-group">
                            <label for="FullName" class="col-sm-4 control-label">الاسم بالكامل</label>
                            <div class="col-sm-8">
                                <input type="text" name="FullName" required class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="UserName" class="col-sm-4 control-label">اسم المستخدم</label>
                            <div class="col-sm-8">
                                <input type="text" name="UserName" required class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Password" class="col-sm-4 control-label">كلمة المرور</label>
                            <div class="col-sm-8">
                                <input type="password" name="Password" required class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="col-sm-4 control-label">تاكيد كلمة المرور</label>
                            <div class="col-sm-8">
                                <input type="password" name="ConfirmPassword" required class="form-control" />
                            </div>
                        </div>

                        <div class="modal-footer">
                            <input type="submit" value="انشاء" class="btn btn-primary" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
                        </div>

            }


                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade " id="EditInfo" tabindex="-1" role="dialog" aria-labelledby="PersonDataModelLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="PersonDataModelLabel">تغيير اسم المستخدم </h4>
                        </div>
                        <div class="modal-body ">


                            @using (Html.BeginForm("ResetUserName", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @Class = "form-horizontal ", id = "frmPersonData" }))
                    {
                        @Html.ValidationSummary(true)

                        @Html.AntiForgeryToken()


                        <div class="form-group">
                            <label for="FullName" class="col-sm-4 control-label">اسم المستخدم القديم </label>
                            <div class="col-sm-8">
                                <input type="text" id="oldUserName" name="oldUserName" required class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="UserName" class="col-sm-4 control-label">اسم المستخدم الجديد</label>
                            <div class="col-sm-8">
                                <input type="text" id="newUserName" name="newUserName" required class="form-control" />
                            </div>
                        </div>

                        <div class="modal-footer">
                            <input type="submit" value="حفظ التغيرات" class="btn btn-primary" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>
                        </div>

            }


                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade " id="ResetPassword" tabindex="-1" role="dialog" aria-labelledby="PersonDataModelLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="PersonDataModelLabel">تغيير كلمة المرور  </h4>
                        </div>
                        <div class="modal-body ">


                            @using (Html.BeginForm("ResetPassword", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @Class = "form-horizontal ", id = "frmPersonData" }))
                    {
                        @Html.ValidationSummary(true)

                        @Html.AntiForgeryToken()


                        <div class="form-group">
                            <label for="FullName" class="col-sm-4 control-label">اسم المستخدم</label>
                            <div class="col-sm-8">
                                <input type="text" id="PUserName" name="PUserName" readonly class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Password" class="col-sm-4 control-label">كلمة المرور الجديدة</label>
                            <div class="col-sm-8">
                                <input type="password" id="NewPassword" name="NewPassword" required class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="col-sm-4 control-label">تاكيد كلمة المرور </label>
                            <div class="col-sm-8">
                                <input type="password" id="ConfirmPassword" name="ConfirmPassword" required class="form-control" />
                            </div>
                        </div>

                        <div class="modal-footer">

                            <input type="submit" value="حفظ التغييرات" class="btn btn-primary" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>



                        </div>

            }


                        </div>

                    </div>
                </div>
            </div>

            <div class="card-box">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>
                            الكود
                        </th>
                        <th>
                            الاسم بالكامل
                        </th>

                        <th>
                            اسم المستخدم
                        </th>



                        <th></th>
                    </tr>

                    @foreach (var item in Model)
            {
                <tr>
                    <td class="Iduser">
                        @Html.DisplayFor(modelItem => item.UserID)
                    </td>
                    <td class="FullName">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td class="UserName">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>


                    <td>
                        <a href="#" data-toggle="modal" onclick="EditInfo('@item.UserName')" data-target="#EditInfo" class="EditInfo btn btn-success"> تغيير اسم المستخدم </a>
                        <a href="#" data-toggle="modal" onclick="ResetPassword('@item.UserName')" data-target="#ResetPassword" class="ResetPassword btn btn-primary"> تغيير كلمة المرور </a>
                        <a href="@Url.Action("ResetRole", new { UserName = item.UserName })" class="btn btn-info"> اضافة صلاحية </a>
                        <a href="@Url.Action("DeleteRole", new { UserName = item.UserName })" class="btn btn-purple"> حذف صلاحية </a>
                        <a href="#" class="btn btn-danger" onclick="deleteitem('@item.UserName')"> حذف الادمن </a>
                    </td>
                </tr>
    }

                </table>
            </div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
                <script>

                    function deleteitem(UserName) {
                        if (confirm('هل تريد حذف هذا الادمن ؟')) {
                            document.location.href = "/Admin/Admin/DeleteAdmin?UserName=" + UserName;
                        }
                    }
                    function EditInfo(oldUserName) {
                        $("#oldUserName").val(oldUserName);
                    }
                    function ResetPassword(PUserName) {
                        $("#PUserName").val(PUserName);
                    }
                </script>
            }


        </div>
</div>
</div>
