﻿@*@{
    ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">لوحة التحكم</h4>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("AddAdmin")">
                <i class="md md-dashboard text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">الادمن</p>
                    <h4 class="m-t-0 m-b-5 counter">$</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("AddAdmin","Employee")">
                <i class="md md-dashboard text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">الموظفين</p>
                    <h4 class="m-t-0 m-b-5 counter">$</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("Index","Category")">
                <i class="md md-new-releases text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">الاقسام</p>
                    <h4 class="m-t-0 m-b-5 counter">$</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("Index","Region")">
                <i class="md md-local-airport text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">المناطق</p>
                    <h4 class="m-t-0 m-b-5 counter">$</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("Index","GeneralCondition")">
                <i class="md md-tab text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">الشروط العامة </p>
                    <h4 class="m-t-0 m-b-5 counter">$</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("Index","WebsiteStatistics")">
                <i class="fa fa-level-up text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">ادارة الاحصائيات </p>
                    <h4 class="m-t-0 m-b-5 counter">$</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("Index","WebsiteContactInfo")">
                <i class="fa fa-mobile-phone text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">معلومات الاتصال </p>
                    <h4 class="m-t-0 m-b-5 counter">$</h4>
                </div>
            </a>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">التحكم في المعالم</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Admin/landmarkType">
                <i class="md md-settings text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">انواع المعالم</p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Admin/Landmarks">
                <i class="md md-settings text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">المعالم</p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("Index","LandmarkPhoto")">
                <i class="md md-videocam text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">صور المعالم  </p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>


    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Admin/landmarkphones">
                <i class="md md-collections text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;"> ارقام المعالم </p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Admin/LandmarkSocialMedia">
                <i class="md md-collections text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">حسابات المعالم </p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("Index","landmarkWorkTime")">
                <i class="md md-collections text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">اوقات المعالم  </p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Admin/Event">
                <i class="md md-settings text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">الفاعليات</p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("Index","EventType")">
                <i class="md md-videocam text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">انواع الفعليات   </p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>


    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Admin/EventSocialMedia">
                <i class="md md-collections text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;"> حسابات التواصل  </p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Admin/EventSponsor">
                <i class="md md-collections text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">التنظيم  </p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("Index","EventPhoto")">
                <i class="md md-collections text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">صور الفعليات   </p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>


</div>



<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">التحكم في المانحين</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Employee/Donators">
                <i class="md md-settings text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">المانحين</p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("Index","AcceptDonators")">
                <i class="md md-videocam text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">طلابات المانحين </p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>


    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Employee/TempsOrders">
                <i class="md md-collections text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;"> الخصومات المؤقتة</p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Employee/Orders">
                <i class="md md-collections text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">طلبات الخصومات</p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("Index","AcceptImages")">
                <i class="md md-collections text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">طلبات الصور للمانحين</p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("Index","EvaluationQuestions")">
                <i class="md md-theaters text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">ادارة  أسئلة التقييم</p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">التحكم في البطاقات</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("Index","CardCategory")">
                <i class="md md-collections text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">مجموعات البطاقات </p>
                    <h4 class="m-t-0 m-b-5 counter">$</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Employee/CompleteCards/Create">
                <i class="md md-colorize text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">اضافة بطاقة </p>
                    <h4 class="m-t-0 m-b-5 counter">@@</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Employee/CompleteCards">
                <i class="md md-colorize text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">استكمال البطاقات </p>
                    <h4 class="m-t-0 m-b-5 counter">@@</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Employee/CompleteCards/Complete">
                <i class="md md-camera-rear text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">اصدار البطاقات </p>
                    <h4 class="m-t-0 m-b-5 counter">@@</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Employee/CompleteCards/Completing">
                <i class="md md-camera-front text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">جدول العملاء </p>
                    <h4 class="m-t-0 m-b-5 counter">@@</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Employee/CompleteCards/Completed">
                <i class="md md-camera-rear text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">المشتركين المعتمدين </p>
                    <h4 class="m-t-0 m-b-5 counter">@@</h4>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">التحكم في المعالم</h4>
    </div>
</div>
<div class="row">

    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("Index","LandMarks")">
                <i class="md md-collections text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">المعالم السياحية  </p>
                    <h4 class="m-t-0 m-b-5 counter">$</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="@Url.Action("Index","LandmarkType")">
                <i class="md md-collections text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">تصنيفات المعالم </p>
                    <h4 class="m-t-0 m-b-5 counter">$</h4>
                </div>
            </a>
        </div>
    </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">التحكم في الموقع</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card-box widget-icon">
                <a href="@Url.Action("Index","CardsWebSite")">
                    <i class="md md-texture text-primary"></i>
                    <div class="wid-icon-info">
                        <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">فوائد البطاقة </p>
                        <h4 class="m-t-0 m-b-5 counter">%</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card-box widget-icon">
                <a href="@Url.Action("Index","AboutCardsWebSite")">
                    <i class="fa fa-file text-primary"></i>
                    <div class="wid-icon-info">
                        <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">عن البطاقة </p>
                        <h4 class="m-t-0 m-b-5 counter">%</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card-box widget-icon">
                <a href="@Url.Action("Index","ContactusWebSite")">
                    <i class="fa fa-phone text-primary"></i>
                    <div class="wid-icon-info">
                        <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">اتصل بنا </p>
                        <h4 class="m-t-0 m-b-5 counter">%</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card-box widget-icon">
                <a href="@Url.Action("Index","Withdrawals")">
                    <i class="fa fa-users text-primary"></i>
                    <div class="wid-icon-info">
                        <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">تسجيل السحب </p>
                        <h4 class="m-t-0 m-b-5 counter">%</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card-box widget-icon">
                <a href="@Url.Action("Index","ImageWebSite")">
                    <i class="fa fa-photo text-primary"></i>
                    <div class="wid-icon-info">
                        <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">البوم الصور </p>
                        <h4 class="m-t-0 m-b-5 counter">%</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card-box widget-icon">
                <a href="@Url.Action("Index","VideoWebSite")">
                    <i class="fa fa-video-camera text-primary"></i>
                    <div class="wid-icon-info">
                        <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">الفديو </p>
                        <h4 class="m-t-0 m-b-5 counter">%</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card-box widget-icon">
                <a href="@Url.Action("Index","SocialWebSite")">
                    <i class="fa fa-facebook-square text-primary"></i>
                    <div class="wid-icon-info">
                        <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">مواقع التواصل </p>
                        <h4 class="m-t-0 m-b-5 counter">%</h4>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card-box widget-icon">
                <a href="@Url.Action("Index","ImageSliders")">
                    <i class="fa fa-image text-primary"></i>
                    <div class="wid-icon-info">
                        <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">شرائح السليد </p>
                        <h4 class="m-t-0 m-b-5 counter">%</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">الاحصائيات</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <iframe style="width:100%; height:400px;" src="/Admin/Charts/Index"></iframe>
        </div>
        <div class="col-sm-6">
            <iframe style="width:100%; height:400px;" src="/Admin/Charts/Count"></iframe>
        </div>
    </div>*@
