
@font-face {
    font-family: 'fontaa';
    src: url('../fonts/DroidKufi-Regular.ttf');
}

body,a,h1,h2,h3,h4,h5,h6,li,p ,.message .head h2,.pics .head h2,.disc h1,td,th,strong,.nav.nav-tabs > li > a{
    font-family: "fontaa" !important;
}
