﻿@model IEnumerable<Mallamed.Entity.Category>
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@Html.Partial("~/Views/shared/_HeadLine.cshtml", new Dictionary<string, string> { { Url.Action("Categorys"), "القسم التجارى" } })

<div class="sidebar white-bg">
    <h3 class="sidebar-title">الاقسام</h3>
    <!-- Manufacturer Start -->
    <div class="manufacturer mb-30">
        <ul class="pt-5">
            @foreach (var item in Model)
            {
                <li><a href="@Url.Action("Donators",new { id=item.ID,type="d"})">@item.Name <span>(@item.Donators.Count())</span></a></li>
            }
        </ul>
    </div>
    <!-- Manufacturer End -->
</div>