﻿@model Mallamed.Entity.Donator
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 10px 10px;
    }
</style>

<style>
    .rating i {
        color: #f7bc3d;
        font-size: 26px;
        letter-spacing: 7px;
    }

    .col-sm-7 {
        width: 67.333333% !important;
    }
</style>
<div class="accessories ptb-50">
    <div class="container">
        <div class="section-title mb-50">
            <h2>
                @ViewBag.name
            </h2>
        </div>
        <div class="row">
            <div class="col-sm-3">
                @Html.Action("Categorys", "Services")
                @Html.Action("Regions", "Services")
            </div>
            <div class="col-sm-7">
                <div class="main-product-thumbnail pb-50">
                    <div class="">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tab-content">
                                    <div id="thumb-0" class="tab-pane fade in active">
                                        <a data-fancybox="images" href="@Model.Photo"><img src="@Model.Photo" style="height:300px;" alt="product-view"></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Main Thumbnail Image End -->
                            <!-- Thumbnail Description Start -->
                            <div class="col-sm-12">
                                <div class="thubnail-desc fix">
                                    <h2 class="product-header">@Model.OrgName</h2>
                                    <div class="rating-summary fix mtb-10">
                                        <div class="rating f-left" style="float: right;">
                                            @{
                                                var sum = Model.EvaluationClients.Sum(c => c.Evaluate);
                                                var count = Model.EvaluationClients.Count();
                                                int rate = 0;
                                                if (count != 0 && sum != 0)
                                                {
                                                    rate = sum / count;
                                                }
                                            }
                                            @if (rate > 4)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                            }
                                            else if (rate > 3)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (rate > 2)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (rate > 1)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (rate > 0)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else
                                            {
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                        </div>
                                    </div>


                                    <div class="product-social-link">
                                        <ul class="list-inline">
                                            @if (Model.Email != null)
                                            {
                                                <li><span>البريد الاليكتروني : </span> @Model.Email</li>
                                            }
                                            @if (Model.Phone1 != null)
                                            {
                                                <li><span>الجوال : </span>@Model.Phone1</li>
                                            }
                                            @if (Model.Phone2 != null)
                                            {
                                                <li><span> الجوال 2 : </span>@Model.Phone2</li>
                                            }
                                            @if (Model.Telephone != null)
                                            {
                                                <li><span>  الهاتف : </span>@Model.Telephone</li>
                                            }
                                        </ul>
                                    </div>
                                    <p>
                                        @foreach (var item in Model.DonatorContacts)
                                        {
                                            <a href="@item.Url" target="_blank">
                                                <strong style="color:#0094ff">

                                                    @if (item.Type == "facebook")
                                                    {
                                                        <i class="fa fa-2x fa-facebook-square"></i>
                                                    }
                                                    else if (item.Type == "twitter")
                                                    {
                                                        <i class="fa fa-2x fa-twitter-square"></i>
                                                    }
                                                    else if (item.Type == "instgram")
                                                    {
                                                        <i class="fa fa-2x fa-instagram"></i>
                                                    }
                                                    else if (item.Type == "snapchat")
                                                    {
                                                        <i class="fa fa-2x fa-snapchat"></i>
                                                    }
                                                    else if (item.Type == "linkedin")
                                                    {
                                                        <i class="fa fa-2x fa-linkedin-square"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-2x fa-envelope"></i>
                                                    }

                                                </strong>
                                                <span class="m-l-15">@item.Name</span>
                                            </a>
                                        }
                                    </p>
                                    <blockquote class="ptb-30">
                                        @Html.Raw(Model.TradeActivity)
                                    </blockquote>

                                </div>
                                @if (Model.DonatorBranches.Any())
                                {
                                    <div class="table-responsive">
                                        <h3>فروع المانح</h3>
                                        <br />
                                        <table class="table table-hover">
                                            <tr>
                                                <th>اسم الفرع</th>
                                                <th>تليفون الفرع</th>
                                                <th>عنوان الفرع</th>
                                            </tr>
                                            @foreach (var item in Model.DonatorBranches)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.Name
                                                    </td>
                                                    <td>
                                                        @item.Phone
                                                    </td>
                                                    <td>
                                                        @item.Address
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                }
                                @if (Model.WorkCalenders.Any())
                                {
                                    <div class="table-responsive">
                                        <h3>مواعيد العمل</h3>
                                        <br />
                                        <table class="table table-hover">
                                            <tr>
                                                <th>من</th>
                                                <th>الي</th>
                                            </tr>
                                            @foreach (var item in Model.WorkCalenders)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.ValidFrom
                                                    </td>
                                                    <td>
                                                        @item.ValidFrom
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                }
                                @if (Model.FeatureServices.Any())
                                {
                                    <div class="table-responsive">
                                        <h3>خدمات المانح</h3>
                                        <br />
                                        <table class="table table-hover">
                                            @foreach (var item in Model.FeatureServices)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.Feature
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                }
                                @if (Model.DonatServices.Any())
                                {
                                    <div class="table-responsive">
                                        <h3>الخصومات المؤقتة</h3>
                                        <br />
                                        <table class="table table-hover">
                                            <tr>
                                                <th>الكود</th>
                                                <th>الخدمات</th>
                                                <th>الخصومات</th>
                                                <th>الخصومات المؤقتة</th>
                                                <th>تاريخ الابتداء الخصم</th>
                                                <th>تاريخ انتهاء الخصم</th>
                                            </tr>
                                            @foreach (var item in Model.DonatServices)
                                            {
                                                <tr>
                                                    <td>@item.ID</td>
                                                    <td>@item.Service</td>
                                                    <td>@item.Discount %</td>
                                                    @if (item.TempDiscountServices.Any(c => c.IsOrder == false || c.IsAccepted == true))
                                                    {
                                                        foreach (var it in item.TempDiscountServices.Where(c => c.IsOrder == false || c.IsAccepted == true).OrderByDescending(c => c.Id))
                                                        {
                                                            string datefrom = "", dateto = "";
                                                            if (it.DateForm != null) { datefrom = it.DateForm.Value.ToShortDateString(); }
                                                            if (it.DateTo != null) { dateto = it.DateTo.Value.ToShortDateString(); }
                                                            <td>@it.Discount %</td>
                                                            <td>@datefrom @it.TimeFrom </td>
                                                            <td>
                                                                @dateto @it.TimeTo
                                                                @if (it.DateTo < DateTime.Now)
                                                                {
                                                                    <span class="badge" title="تم انتهاء الخصم" style="background-color: #E91E63;"><i class="fa  fa-exclamation-triangle"></i></span>
                                                                }
                                                            </td>
                                                            break;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    }

                                                </tr>
                                            }

                                        </table>
                                    </div>
                                }
                            </div>
                            <!-- Thumbnail Description End -->
                        </div>
                        <!-- Row End -->
                    </div>
                    <!-- Container End -->
                </div>
            </div>
        </div>

        <!-- Product Thumbnail End -->
        <!-- Related Product Start -->
        <div class="related-product mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        @{
                            string lang = "", lat = "";
                        }
                        @if (Model.LocatLang != null && Model.LocatLat != null)
                        {
                            lang = Model.LocatLang;
                            lat = Model.LocatLat;
                            <div id="mymap" style="width: 100%; height: 350px; margin: 0 auto;"></div>
                        }
                    </div>
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>

        @if (Model.DonatorImages.Any(c => c.IsActive == 1))
        {
            <div class="row">
                <div class="col-md-12">
                    <header class="content-title">
                        <h1 class="title">البوم الصور</h1>
                    </header>
                    <div class="row portfolio-item-container" data-maxcolumn="3" data-layoutmode="fitRows">
                        @foreach (var item in Model.DonatorImages.Where(c => c.IsActive == 1))
                        {
                            <div class="col-md-4 col-sm-4 col-xs-6 portfolio-item ">
                                <figure>
                                    <img src="@item.Image" alt="Portfolio item 2">
                                    <figcaption>
                                        <a href="@item.Image" title="Portfolio item 2" data-rel="prettyPhoto[portfolio]" class="zoom-button"></a>
                                        <a href="#" class="like-button"><i class="fa fa-heart"></i><span></span></a>
                                    </figcaption>
                                </figure>
                                <h2><a href="#">@Model.OrgName</a></h2>
                            </div><!-- End .portfolio-item -->
                        }
                    </div><!-- .portfolio-item-container -->

                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        }
    </div>
</div>
@section Scripts{
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAovNTHug4egjHWj2p1_iE0lUNEEwgsQZo&language=ar"></script>
    <script>
        var map,
            mLat,
            mLng,
            marker ,
            mylocate;

        function initialize() {
            mylocate = new google.maps.LatLng(@lat,@lang);
            var mapOptions = {
                zoom: 10,
                center: mylocate,
                mapTypeIds: ["hybrid", "roadmap", "satellite", "terrain", "osm", "cloudmade"]
                // mapTypeId:google.maps.MapTypeId.HYBRID
            };
            map = new google.maps.Map(document.getElementById('mymap'),
                mapOptions
            );
            marker = new google.maps.Marker({
                position: mylocate,
                animation: google.maps.Animation.BOUNCE
            });
            marker.setMap(map);
        }
        google.maps.event.addDomListener(window, 'load', initialize);


    </script>
}
