﻿@model PagedList.IPagedList<Mallamed.Entity.Donator>
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    .rating i {
        color: #f7bc3d;
        font-size: 20px;
        letter-spacing: 1px;
    }
</style>
<div class="accessories ptb-50">
    <div class="container">
        <div class="section-title mb-50">
            <h2>
                @ViewBag.name
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
                <div class="main-categorie">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-6">
                                @{double total = 0;
                                    var sum = item.EvaluationClients.Sum(c => c.Evaluate);
                                    var count = item.EvaluationClients.Count;
                                    if (count == 0) { count = 1; }
                                    total = sum / count;
                                    decimal? tempDiscount = 0;
                                    var datetime = item.DiscountDate ?? DateTime.Now;
                                    if (item.TempDiscountServices.Count(c => c.IsAccepted == true || c.IsOrder == false) > 0)
                                    {
                                        var first = item.TempDiscountServices.OrderByDescending(c => c.DateTo).OrderByDescending(c => c.Discount).FirstOrDefault(c => c.IsAccepted == true || c.IsOrder == false);
                                        if (first != null)
                                        {
                                            datetime = first.DateForm ?? DateTime.Now;
                                            tempDiscount = first.Discount;
                                        }
                                    }
                                }
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="@Url.Action("Details","Services",new { id=item.ID})">
                                            <img class="primary-img" src="@item.Photo" alt="offer-pro">
                                            <img class="secondary-img" src="@item.Photo" alt="offer-pro">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="@Url.Action("Details","Services",new { id=item.ID})">@item.OrgName</a></h4>
                                        @{
                                            var first2 = item.DonatServices.OrderByDescending(c => c.ID).OrderByDescending(c => c.Discount).FirstOrDefault();
                                            if (first2 != null)
                                            {
                                                if (tempDiscount == 0)
                                                {
                                                    <p><span>-@first2.Discount %</span></p>
                                                }
                                                else
                                                {
                                                    <p><span>-@tempDiscount %</span><del>-@first2.Discount %</del></p>
                                                }
                                            }
                                            else
                                            {
                                                <p><span>-@tempDiscount %</span></p>
                                            }
                                        }
                                        <div class="rating">
                                            @if (total > 4)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                            }
                                            else if (total > 3)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 2)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 1)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 0)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else
                                            {
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                        </div>
                                        @if (tempDiscount == 0)
                                        {
                                            if (first2 != null)
                                            {
                                                <span class="sticker-sale pro-sticker">-@first2.Discount %</span>
                                            }
                                            else
                                            {
                                                <span class="sticker-sale pro-sticker">-0 %</span>

                                            }

                                        }
                                        else
                                        {
                                            <span class="sticker-sale pro-sticker">-@tempDiscount %</span>
                                        }

                                    </div>
                                    <!-- Product Content End -->
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-pull-9 col-md-3 col-md-pull-9 col-sm-4 col-sm-pull-8">
                @Html.Action("Categorys", "Services")
                @Html.Action("Regions", "Services")
            </div>
        </div>

    </div>
</div>
@if (Model.PageCount > 1)
{
    <div class="pageList" id="cen" style="text-align: center;">
        @Html.PagedListPager(Model, page => Url.Action("Donators", new { page, id = ViewBag.id, type = ViewBag.type }))
    </div>
}