﻿@model IEnumerable<Mallamed.Entity.Category>
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="accessories ptb-50">
    <div class="container">
        <div class="section-title mb-50">
            <h2>
                الاقسام
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
                <div class="main-categorie">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-6">
                                <div class="single-product">
                                    <div class="pro-img">
                                        <a href="@Url.Action("Donators",new { id=item.ID,type="d"})">
                                            <img class="primary-img" src="@item.Photo" alt="offer-pro">
                                            <img class="secondary-img" src="@item.Photo" alt="offer-pro">
                                        </a>
                                    </div>
                                    <div class="pro-content">
                                        <h4><a href="@Url.Action("Donators",new { id=item.ID,type="d"})">@item.Name <small>(@item.Donators.Count)</small></a></h4>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-pull-9 col-md-3 col-md-pull-9 col-sm-4 col-sm-pull-8">
                @Html.Action("Categorys", "Services")
                @Html.Action("Regions", "Services")
            </div>
        </div>

    </div>
</div>