﻿@model IEnumerable<Mallamed.Entity.Region>

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="sidebar white-bg">
    <h3 class="sidebar-title">المناطق</h3>
    <!-- Manufacturer Start -->
    <div class="manufacturer mb-30">
        <ul class="pt-5">
            @foreach (var item in Model)
            {
                <li><a href="@Url.Action("Donators",new { id=item.ID,type="r"})">@item.Name <span>(@item.Donators.Count())</span></a></li>
            }
        </ul>
    </div>
    <!-- Manufacturer End -->
</div>