﻿@model Core.Viewmodels.Admin.LandmarkscoilmediaFM
@using (Html.BeginForm("Create", "LandmarkSocialMedia", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">اضافه صوره  </h4>
            </div>

            <div class="modal-body">

                <input type="text" class="form-control" hidden id="Id" value="@Model.Id" name="Id">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">اسم المعلم   </label>
                            @Html.DropDownListFor(x => Model.LandmarkId, (List<SelectListItem>)ViewBag.ListLandMark, new { @class = "form-control" })

                            @*@Html.DropDownList("RegionId", ViewBag.Regions as SelectList, "اخنر المنطقه", new { @class = "form-control select5", @Required = "Required", @id = "RegionId", @name = "RegionId" })*@
                        </div>
                    </div>
                </div>
                <br />


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">نوع الاكونت  </label>
                            <select class="form-control" id="type" name="type" required>
                                <option value="">يرجي تحديد الموقع</option>
                                <option value="FaceBook">فيس بوك</option>
                                <option value="Twitter">تويتر</option>
                                <option value="Instegram">انستجرام</option>
                                <option value="Linkedin">لينكدا ان</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">رابط الاكونت  </label>
                            <input class="form-control" type="text" required name="Link" id="Link" placeholder="رابط الاكونت  " />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">العرض  </label>
                            <select class="form-control" id="IsActive" name="IsActive" required>
                                <option value="true">يعرض</option>
                                <option value="false">لا يعرض</option>
                            </select>
                        </div>
                    </div>
                </div>


            </div>

            <div class="modal-footer">
                <input type="submit" class="btn btn-info waves-effect waves-light"  value="حفظ" />
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">اغلاق</button>

            </div>
            
        </div>
    </div>



}