.la-tree {
  background-color: #767084;
  text-align: center;
  padding: 100px 0; }
  .la-tree .tree {
    margin: auto; }
    .la-tree .tree .parentTree {
      position: relative;
      background-color: #fff;
      width: 4px;
      right: 50%;
      transform: translateX(50%); }
      .la-tree .tree .parentTree .parentTree-content {
        position: relative;
        display: block;
        height: 120px;
        width: 200px;
        border: solid 4px #fff;
        right: 50%;
        transform: translateX(50%);
        top: -10px;
        background: #484551;
        border-radius: 10px;
        line-height: 40px;
        color: #fff;
        cursor: pointer; }
        .la-tree .tree .parentTree .parentTree-content h3 {
          font-size: 24px;
          padding: 5px 0 8px;
          margin: 0;
          background-color: #767084;
          border-radius: 6px; }
        .la-tree .tree .parentTree .parentTree-content figure img {
          width: 60px; }
        .la-tree .tree .parentTree .parentTree-content .socialIcon {
          position: absolute;
          height: 25px;
          width: 25px;
          background-size: 100% 100%;
          background-position: center;
          background-repeat: no-repeat;
          display: block;
          transform: scale(0);
          transition: all 0.1s linear; }
        .la-tree .tree .parentTree .parentTree-content .socialIconOpen {
          transform: scale(1); }
        .la-tree .tree .parentTree .parentTree-content .person {
          background-image: url(../../images/user.png);
          top: 10px;
          left: -35px; }
        .la-tree .tree .parentTree .parentTree-content .phone {
          background-image: url(../../images/phone.png);
          bottom: 10px;
          left: -35px; }
        .la-tree .tree .parentTree .parentTree-content .whatsApp {
          background-image: url(../../images/whatsapp.png);
          bottom: -35px;
          left: 10px; }
        .la-tree .tree .parentTree .parentTree-content .insta {
          background-image: url(../../images/insta.png);
          bottom: -35px;
          right: 10px; }
        .la-tree .tree .parentTree .parentTree-content .twitter {
          background-image: url(../../images/twitter.png);
          top: 10px;
          right: -35px; }
        .la-tree .tree .parentTree .parentTree-content .snap {
          background-image: url(../../images/snapchat.png);
          bottom: 10px;
          right: -35px; }
      .la-tree .tree .parentTree .childTree .childTree-content {
        position: relative;
        display: block;
        height: 100px;
        width: 100px;
        border: solid 4px #fff;
        border-radius: 10px;
        line-height: 40px;
        margin: 70px 0 40px;
        color: #fff;
        cursor: pointer; }
        .la-tree .tree .parentTree .childTree .childTree-content h3 {
          font-size: 16px;
          padding: 5px 0 8px;
          margin: 0;
          background-color: #484551;
          border-radius: 6px; }
        .la-tree .tree .parentTree .childTree .childTree-content figure img {
          width: 50px; }
        .la-tree .tree .parentTree .childTree .childTree-content .socialIcon {
          position: absolute;
          height: 25px;
          width: 25px;
          background-size: 100% 100%;
          background-position: center;
          background-repeat: no-repeat;
          display: block;
          transform: scale(0);
          transition: all 0.1s linear; }
        .la-tree .tree .parentTree .childTree .childTree-content .socialIconOpen {
          transform: scale(1); }
        .la-tree .tree .parentTree .childTree .childTree-content .person {
          background-image: url(../../images/user.png);
          top: 10px;
          left: -35px; }
        .la-tree .tree .parentTree .childTree .childTree-content .phone {
          background-image: url(../../images/phone.png);
          bottom: 10px;
          left: -35px; }
        .la-tree .tree .parentTree .childTree .childTree-content .whatsApp {
          background-image: url(../../images/whatsapp.png);
          bottom: -35px;
          left: 10px; }
        .la-tree .tree .parentTree .childTree .childTree-content .insta {
          background-image: url(../../images/insta.png);
          bottom: -35px;
          right: 10px; }
        .la-tree .tree .parentTree .childTree .childTree-content .twitter {
          background-image: url(../../images/twitter.png);
          top: 10px;
          right: -35px; }
        .la-tree .tree .parentTree .childTree .childTree-content .snap {
          background-image: url(../../images/snapchat.png);
          bottom: 10px;
          right: -35px; }
        .la-tree .tree .parentTree .childTree .childTree-content:after {
          content: "";
          display: block;
          position: absolute;
          height: 3px;
          width: 70px;
          background-color: #fff;
          top: calc(50% - 1.5px); }
      .la-tree .tree .parentTree .childTree:nth-child(odd) .childTree-content {
        left: -74px;
        margin-top: -140px; }
        .la-tree .tree .parentTree .childTree:nth-child(odd) .childTree-content:after {
          right: -74px; }
      .la-tree .tree .parentTree .childTree:nth-child(even) .childTree-content {
        left: 170px; }
        .la-tree .tree .parentTree .childTree:nth-child(even) .childTree-content:after {
          right: 96px; }

/*# sourceMappingURL=tree.css.map */
